<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Assignments" do %>
<% end %>

<p>The below tutorials on creating assignments assume that you have 
organized your content into topics, marked test exercises accordingly 
and set schedule and feedback conditions. For more help, go here.</p>

<div class="accordion" id="accordion2" style="padding-top:20px;">
  
<%= accordion_entry :title => "Overview of assignments" do %>

<p>You can give two (2) types of assignments: <strong>tests</strong> and <strong>homework</strong>.
  <%= link_to_help 'example_assignment',
     text="Click here to see an example assignment.", 
     {:title => 'Example Assignment', :width => '700' , :height =>'700'} %></p>
      
<p>The basic process of creating assignments in <%= SITE_NAME %> is as follows:</p>

<ol>
  <li>Set assignment properties: name, due date, assignment rules, etc.</li>
  <li>Add the <strong>topic(s)</strong> the assignment covers.</li> 
  <li>Preview assignment.</li>
  <li>Mark the assignment as <strong>ready to be assigned</strong>.</li>
  <li>OST will make the assignment available on the selected time/date.</li>
</ol>

<% end %>

<%= accordion_entry :title => "How OST builds assignments" do %>

<p>You will create an assignment plan and then OST will build your assignments using:</p>

  <ul>
    <li>the topic(s) you add to an assignment</li>
    <li>assignment properties (e.g. start/due date, labels, etc.)</li>
    <li>for a test, the exercises you mark as a test</li>
    <li>feedback and learning conditions.</li>
  </ul>

<% end %>


<%= accordion_entry :title => "Create a non-test (homework) assignment" do %>
<ol>
  <li>Go to <strong>Dashboard > Class > Learning Plan > Assignments</strong> 
    and click <strong>Add new assignment</strong>.</li>
         <%= image_tag("add_assignment.png", {:border => 1, :width => "50%", :height => "50%",
            :title=>"add assignment"})%>  
  <p>
  <li>The above process will reveal the Assignment dialog box: </li>
  <p>
  <%= image_tag("edit_assignment.png", {:border => 1, :width => "60%", :height => "60%", 
    :title=>"edit assignment"})%>  
  <li>Enter <strong>name</strong>, <strong>optional introduction</strong> and
     <strong>assignment start and end date</strong>.</li>
  <p>
  <li>For a <strong>non-test</strong> assignment, leave <em>This is a test</em> <strong>unchecked</strong>.</li>
  <p>
  <li>Define assignment rules: mark if <strong>group work</strong> is allowed and/or if the assignment 
    is <strong>open book</strong>.</li>
  <p>
  <li>Leave "This is ready to be assigned" <em>unchecked</em> until you have 
    finished editing the assignment.</li>
  <p>
  <li>Optional: attach extra label(s) to trigger a specific feedback 
    condition.</li>
  <p>
  <li>Click <strong>Create Assignment</strong>.</li>
  <p>
  <li>You have created an empty assignment. To attach topics to the assignment, <em><strong>double
     click</strong></em> the assignment you just created.</li>
  <p>  <%= image_tag("empty_assignment.png", {:border => 1, :width => "60%", :height => "60%", 
    :title=>"edit assignment"})%>  
  <li>Click <strong>Add</strong>.</li>
  <p>  <%= image_tag("add_topic_to_a.png", {:border => 1, :width => "60%", :height => "60%", 
    :title=>"edit assignment"})%></p>
  
  <li>Select the topic(s) the assignment will cover, but <em><strong>note</strong></em>:</li>  
  <p>
  <ul>
    <li>Under the <em>default</em> schedule condition, OST will pull 100% of 
      (non-test) exercises from topics you add to the assignment.</li>
    <p>
    <li>If you are using a custom schedule condition that schedules repetition
       practice from previous topics, you need only add the <em><strong>primary topic</strong></em>
        to the assignment. OST will automatically pull spaced practice problems according to the 
        scheduler.</li>
  </ul>
     <p>  <%= image_tag("add_topic_to_a_2.png", {:border => 1, :width => "50%", :height => "50%",
        :title=>"edit assignment"})%></p>
  <p>
  <li>Click <strong>Add this topic</strong>.</li>
  <p>
  <li>Add additional topics, if desired.</li>
  <p>
  <li>Click <strong>Preview Assignments</strong> to verify the assignment includes the correct exercises.</li>
  <p>
  <li>When the assignment settings are correct, mark <strong>This is ready to be assigned</strong>.</li>
    <p>
    <ul>
      <li>Hold mouse over topic to reveal edit/trash icons.</li>
      <li>Click the pencil icon.</li>
      <p>  <%= image_tag("edit_assignment_2.png", {:border => 1, :width => "50%", :height => "50%",
         :title=>"edit assignment"})%></p>
      <li>Check <strong>This is ready to be assigned</strong> and <strong>Update Assignment</strong>.</li>
      <p>  <%= image_tag("ready_assigned.png", {:border => 1, :width => "50%", :height => "50%",
         :title=>"edit assignment"})%></p>
    </ul>
  </ol>
<% end %>

     <%= accordion_entry :title => "Create a test" do %>
    <p><strong>To create a test</strong></p>
  <p>This tutorial assumes that you have added course materials to the Topics section and 
    that you have marked test exercises as such. For help adding topics, go here. For help 
    marking exercises as tests, go here.</p
  <ol>
    <li>Go to <strong>Dashboard > Class > Learning Plan > Assignments</strong>. </li>
    <p> 
    <li>In Assignments, click <strong>Add new assignment</strong>.</li>
    <p>
    <li>Enter a name, e.g. HW 1, and optional introduction.</li>
    <p>
    <li>Set the assignment start and end date/time using the date/time picker.</li>
    <p>
    <li>Check <em>This is a test</em>.</li>
    <p>
    <li>Mark if group work is allowed and/or if the assignment is open book.</li>
    <p>
    <li>Leave "This is ready to be assigned" <em>unchecked</em> until you have finished 
      editing the assignment.</li>
    <p>
    <li>Attach extra labels if necessary, e.g. to trigger a particular feedback condition.</li>
    <p>
    <li>Click <strong>Create Assignment</strong> plan.</li>
    <p>
    <li><em><strong>Double click</strong></em> the test you just created.</li>
    <p>
    <li>Click <strong>Add</strong> and select the topic you want to add to your test.</li>
    <p>
    <li>Click <strong>Add this topic</strong>.</li>
    <p>
    <li>Site will show you the test options:</li>
    <p>
       <%= image_tag("test1.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create test"})%>  
    <p>
    <li>Click on <strong>Using 0 / 1 exercises</strong> and choose how many test exercises 
      to add from this topic.</li>
    <p>
    <li>Click on <strong>visible</strong> to make resources invisible, if desired.</li>
    <p>
    <li>Click <strong>Preview Assignments</strong> to verify the assignment looks correct.</li>
    <p>
    <li>Mark "This is ready to be assigned" -- OST will send out the assignment on the 
      specified start date/time.<p>
      <ul>
        <li>Hold mouse over topic.</li>
        <li>Click orange pencil icon to edit the assignment plan.</li>
        <li>Check "This is ready to be assigned."</li>
      </ul>
  </ol>
<% end %>

<%= accordion_entry :title => "Edit assignment properties" do %>

<p>For each assignment you create, you can set a number of properties in the Assignment settings 
dialog box:</p>
 
<%= image_tag("edit_assignment.png", {:border => 1, :width => "60%", :height => "60%", 
  :title=>"edit assignment"})%>
  <% end %>
  
<%= accordion_entry :title => "Mark assignment as ready to be assigned" do %>
  <% end %>

</div>

<% navitem { link_to "Back to Help", help_path } %>
