<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Creating Assignments" do %>
<% end %>

<p>This help page will show you how to create homework and tests in <%= SITE_NAME %>. Before creating your 
  first assignment, we recommend you start from the top and read through each topic.</p>

   <div class="accordion" id="accordion2" style="padding-top:20px;">

      <%= accordion_entry :title => "What to do before creating any assignments" do %> 
        <p>There are just a few things you need to do before creating any assignments: </p>

        <p><b>Organze your course materials into topics</b></p>

      <p>Add the exercises and resources you wish to assign to 
        the topics section of the Learning Plan. If you need help setting up topics, check out 
        the <%= link_to "Topics help page", help_topics_path %>.</p>

      <p><b>Set up the Scheduler</b></p>

 <em>Note</em>: If you are participating in a research study, the research team must set up the Scheduler 
 on your behalf. 

      <p>The  <%= link_to_help 'schedule', text="Scheduler",  
       {:title => 'How the Scheduler works', :width => '900', :height => '700'} %>, found on the 
       Learning Conditions page, controls how your homework assignments 
        will be built. Before releasing any assignments, make sure you set up the Scheduler 
        and understand how it will build your homework. </p>

       <p><b>Create feedback and presentation conditions</b></p>

        <p>Do you plan to release feedback (solutions) to your students? 
          Do you want to control whether multiple-choice expercises have a free-response component? If so,  
        <em>before</em> creating any assignments, set up <%= link_to "feedback and presentation conditions", 
            help_learning_conditions_path %> on the 
              Learning Conditions page. (If you are participating in a learning study, the research team will do this 
              on your behalf.)</p>
   <% end %>

<%= accordion_entry :title => "Assignment format" do %> 
      <p>OpenStax Tutor assignments have 3 main components: the main page, the exercises, and 
      the feedback. </p>
        <p>
        
          <p><b>The main page</b></p>
          <p>This sets the stage for the assignment: it lists all resources, all exercises, 
            and communicates assignment rules (e.g., closed book, no group work).</p>

              <p><center><%= image_tag("example_assignment.png", {:border => 1, :width => "90%"})%></center></p>

          <p><b>The exercises</b></p>

           <p>You can use the controls on the <em>Learning Conditions</em> page to control how 
            exercises are presented to students. Multiple-choice exercises can be presented in two ways: 
            with or without a 
            free-response component.</p>

            <p>Below is an example of a multiple-choice question with a free-response component. First, OST 
              presents the question stem, while hiding the multiple-choice answer options.</p>

                    <p><center><%= image_tag("example exercise.png", {:border => 1, :width => "95%"})%></center></p>

            <p>Once a student locks in a free-response answer, OST presents the multiple-choice answer options and 
              asks the student to enter the answer that corresponds to their work. The multiple-choice answer is 
              then auto-graded. </p>

            <p><b>The feedback page</b></p>

            <p>Feedback shows students answers and any available explanations. You can use the
             controls on 
              the <em>Learning Conditions</em> page to control 
            various aspects of feedback: when it becomes available, when it becomes unavailable, etc.</p>

                        <p><center><%= image_tag("feedback1.png", {:border => 1, :width => "95%"})%></center></p>

         
    <% end %>



      <%= accordion_entry :title => "Overview of creating assignments" do %>
      <p>Read this overview to understand the general process, then check out the step-by-step tutorials below.</p>

        <%= render :partial => 'help/blurbs/create_hw_overview'%>

      <% end %> 

        <%= accordion_entry :title => "Create a homework assignment, step by step" do %>
              <ol>
                <li>Go to <strong>Dashboard > Class</strong> and click on <strong>Learning Plan</strong>. </strong> 
                  <p><%= image_tag("click_LP.png", {:border => 1, :width => "90%"})%></p>
                <li>On the Learning Plan page, scroll to the <strong>Assignments</strong> section and click 
                  <strong>Add new assignment</strong>.</li>
                <p>
                       <%= image_tag("click_add_assign.png", {:border => 1, :width => "90%", 
                          :title=>"add assignment"})%>  
                <p>
                <li>The assignment dialog box will pop up. Complete the form, noting the following:</li>
                  <p>
                  <ul>
                      <li>Since this a homework, leave <em>This is a test</em> <u>unchecked</u>.</li>
                <p>
                      <li>Leave <em>This is ready to be assigned</em> <u>unchecked</u> until you've previewed the assignment. 
                <p>
                      <li>If you wish to apply feedback or presentation conditions to this assignment, 
                      <%= link_to_help 'attach_feedback_label_to_exercises', 
            text="attach labels", {:title => 'How to apply learning conditions', :width => '700', :height => '700'} %>
             in the <em>Extra labels to apply</em> field.</li> 
                  </ul>
                <p>
               <%= image_tag("edit_assignment2.png", {:border => 1, :width => "95%", 
                  :title=>"edit assignment"})%>
                <p>
                
                <li>Next, click <strong>Create Assignment</strong>; you've just created an 
                  empty assignment plan! Note that it has 0 topics, 
                  so the next step is to <u>attach the topic(s) it covers</u>.</li>
                  <p>
                    <%= image_tag("empty_assignment.png", {:border => 1, :width => "80%", 
                  :title=>"edit assignment"})%>  
                  <p>
                  <li>To add topic(s) to an assignment, <em><strong>double click</em></strong> the assignment</li>
                   <p>
                <li>Then click <strong>Add</strong>.</li>
                <p>  <%= image_tag("add_topic_to_a.png", {:border => 1, :width => "80%", 
                  :title=>"edit assignment"})%></p>
  
                <li>Then select the topic the assignment will cover and click <strong>Add this topic</strong>.</li>  
                   <p>  <%= image_tag("add_topic_to_a_2.png", {:border => 1, :width => "50%", :height => "50%",
                      :title=>"edit assignment"})%></p>
                    <p>
                <p><b>Tip</b>: Recall that the Scheduler -- found on the Learning Conditions page -- defines how many 
                  exercises are added to your homework. The default Scheduler automatically applies 
                  labels to activate certain learning conditions, too. (<%= link_to_help 'schedule',
       text="Need a refresher on how the Scheduler works?",  
       {:title => 'How the Scheduler works', :width => '900', :height => '700'} %>)</p> 
                  <p>
                    <li>Before releasing the assignment, click <strong>Preview Assignments</strong>.</li>
                <p>  <%= image_tag("preview_assignments.png", {:border => 1, :width => "80%", 
                   :title=>"edit assignment"})%></p>
                  <p>
              <li>In Preview, verify the following:</li>
                            <%= image_tag("preview_assignments2.png", {:border => 1, :width => "90%", 
                   :title=>"edit assignment"})%></p>
                   <p>
                <li>Once you've verified assignment settings are correct, mark <strong>This is ready to 
                  be assigned</strong>. To do this:</li>
                  <p>
                  <ul>
                    <li>Hold mouse over topic to reveal edit/trash icons and click the pencil icon.</li>
                    <p>  <%= image_tag("edit_assignment_2.png", {:border => 1, :width => "80%", 
                       :title=>"edit assignment"})%></p>
                    <li>Check <strong>This is ready to be assigned</strong> and <strong>Update Assignment</strong>.</li>
                    <p>  <%= image_tag("ready_assigned.png", {:border => 1, :width => "80%", 
                       :title=>"edit assignment"})%></li>
                  </ul>
           <li>Your assignment will be released automatically on the start date/time you indicate.</li>
                </ol>
        <% end %>

     <%= accordion_entry :title => "Create a test, step by step" do %>
          <p>This tutorial assumes that you have already marked the exercises you want to reserve for 
            tests. If you 
            need help reserving exercises for tests, check out the  <%= link_to "Topics help page", help_topics_path %>.</p>
          <ol>
            <li>Go to <strong>Dashboard > Class > Learning Plan > Assignments</strong>. </li>
            <p><%= image_tag("click_LP.png", {:border => 1, :width => "90%"})%></p>
            <li>On the Learning Plan page, scroll to the <strong>Assignments</strong> section and click <strong>Add 
              new assignment</strong>.</li>
            <p>
               <%= image_tag("click_add_assign.png", {:border => 1, :width => "90%", 
                :title=>"add assignment"})%>  
            <li>Complete the Assignment dialog box, noting the following: 
                <p>
                  <ul>
                      <li>Since this a test/exam, make sure to check <em>This is a test</em>.</li>
                <p>
                      <li>Leave <em>This is ready to be assigned</em> unchecked until you've previewed the assignment. 
                <p>
                      <li>If you wish to apply feedback or presentation conditions to this assignment, 
                      <%= link_to_help 'attach_feedback_label_to_exercises', 
            text="attach labels", {:title => 'How to apply learning conditions', :width => '700', :height => '700'} %>
             in the <em>Extra labels to apply</em> field.</li> 
                  </ul>
              <p>
                <%= image_tag("edit_assignment1.png", {:border => 1, :width => "99%", 
                :title=>"edit assignment"})%>  
              <p>
                <li>Next, <em><strong>double click</strong></em> the assignment you just created.</li>
              <p>  <%= image_tag("double_click.png", {:border => 1, :width => "90%", 
                :title=>"edit assignment"})%>  
              <li>Click <strong>Add</strong>.</li>
              <p>  <%= image_tag("empty_assignment1.png", {:border => 1, :width => "90%", 
                :title=>"edit assignment"})%></p>

              <li>Select the topic the assignment will cover and click <strong>Add this topic</strong>.</li>  
                 <p>  <%= image_tag("add_topic_to_a_test.png", {:border => 1, :width => "50%", :height => "50%",
                    :title=>"edit assignment"})%></p>
            <li>You will be prompted to select how many of the existing test exercises you want to add to this particular assignment. 
            To do so, click on the <strong>0</strong>.</li>
            <p>
               <%= image_tag("test1.png", {:border => 1, :width => "90%", :title=>"create test"})%>  
            <p>
              <li>Then, select how many of the existing test exercises you wish to use: </li>
              <%= image_tag("sample_assignment_plan.png", {:border => 1, :width => "90%"})%>
              <p>
              <li>Before releasing the assignment, click <strong>Preview Assignments</strong>.</li>
                <p>  <%= image_tag("preview_assignments.png", {:border => 1, :width => "80%", 
                   :title=>"edit assignment"})%></p>
                  <p>
              <li>In Preview, verify the following:</li>
                            <%= image_tag("preview_assignments2.png", {:border => 1, :width => "90%", 
                   :title=>"edit assignment"})%></p>
                   <p>
                </ul>
              <li>Once you've verified assignment settings are correct, mark <strong>This is ready to be assigned</strong>. To do this:</li>
                  <p>
                  <ul>
                    <li>Hold mouse over topic to reveal edit/trash icons and click the pencil icon.</li>
                  <p>  <%= image_tag("edit_assignment_2.png", {:border => 1, :width => "90%", 
                     :title=>"edit assignment"})%></p>
                    <li>Check <strong>This is ready to be assigned</strong> and <strong>Update Assignment</strong>.</li>
                  <p>  <%= image_tag("ready_assigned.png", {:border => 1, :width => "90%", 
                     :title=>"edit assignment"})%></p>
                </ul>
              <li>Your assignment will be released automatically on the start date/time you indicate.</li>
          </ol>
      <% end %>

    <%= accordion_entry :title => "Preview assignments before release" do %>
    <p>As a general rule, <u>you should always preview an assignment <em>before</em> releasing it</u>. 
  Preview will show you what exercises are in the assignment and what labels are attached to each 
  exercise.</p>

       <%= render :partial => 'help/blurbs/preview_assignments' %>
            <% end %>    

    <%= accordion_entry :title => "Edit assignment properties" do %>
    <p>Sometimes you'll want to edit assignment properties before it's assigned. Follow these instructions:</p>

        <ol>
          <li>Hold mouse over assignment to reveal edit/trash icons.</li>
          <p>
          <li>Click the pencil icon to open the Edit dialog box.</li>
          <p>  <%= image_tag("edit_assignment_2.png", {:border => 1, :width => "100%", 
             :title=>"edit assignment"})%></p>
          <li>In the Edit dialog box, edit assignment properties.</li>
          <p>  <%= image_tag("edit_assignment.png", {:border => 1, :width => "80%", 
             :title=>"edit assignment"})%></p>
          <li>Click <strong>Update Assignment</strong> to save.</li>
        </ol>
  <% end %>
  
    <%= accordion_entry :title => "Mark assignment as ready to be assigned" do %>
          <p><%=SITE_NAME %> will make assignments available <em><strong>only</strong></em> when they are marked 
            <em>ready to be assigned.</em><p>
            <ol>
              <li>Hold mouse over assignment to reveal edit/trash icons.</li>
              <p>
              <li>Click the pencil icon to open the Edit dialog box.</li>
              <p>  <%= image_tag("edit_assignment_2.png", {:border => 1, :width => "100%", 
                 :title=>"edit assignment"})%></p>
              <li>In the Edit dialog box, check <strong>This is ready to be assigned</strong> and 
                <strong>Update Assignment</strong>.</li>
              <p>  <%= image_tag("ready_assigned.png", {:border => 1, :width => "80%", 
                 :title=>"edit assignment"})%></p>
          </ol>
      <% end %>

</div>

<% navitem { link_to "Back to Help", help_path } %>
