<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Class Settings"  %>
  
  <p style="width: 600px">This page describes how to manage class settings, enrollment 
    and students. Select from the links below.</p>

  <div class="accordion" id="accordion2" style="padding-top:20px;">
    
  <%= accordion_entry :title => "Create class sections" do %>
        <%= render :partial => 'help/blurbs/sections' %>
    <% end %>
    
    <%= accordion_entry :title => "Create cohorts" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "Manage co-instructors, teaching assistants and graders" do %>
      
    <%= render :partial => 'help/blurbs/add_instructor'%>
    <% end %>
    
    <%= accordion_entry :title => "Preapprove student registration requests" do %>
    <p>Go to <strong>Dashboard > Class</strong>, click <strong>Edit Class</strong>. 
      On the Edit Class page, scroll down to the <strong>Approved Emails</strong> field.</p>
    <%= render :partial => 'help/blurbs/preapproved_emails' %>
    <% end %>
    
    <%= accordion_entry :title => "Confirm student registration requests" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "Change student section" do %>

  
    <% end %>
    
    <%= accordion_entry :title => "Reinstate dropped student" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "View student work and results of assignments" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "How OST assigns grades" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "Manually override exercise score" do %>
    
    <% end %>
    
    <%= accordion_entry :title => "asfsd" do %>
  
    <%= link_to_help 'example_topics_section',
     text="Click here to see an example of a completed Topics section.", 
     {:title => 'Example Topics Section', :width => '700'} %></p>
     
     
     <%= image_tag("newtopic1.png", {:border => 1, :width => "100%", 
       :height => "100%", :title=>"create new topic"})%>
     
       <%= render :partial => 'help/blurbs/plan_content' %>
    
    <% end %>
  
</div>      

<% navitem { link_to "Back to Help", help_path } %> 