<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Class Settings"  %>
  
  <p style="width: 600px">This page describes how to manage class settings, enrollment 
    and students. Select from the links below.</p>

  <div class="accordion" id="accordion2" style="padding-top:20px;">
<%= section "General Class Settings", {:classes => 'first no_bar'} do %>  

  <%= accordion_entry :title => "Register to teach a class" do %>
  <%= render :partial => 'help/blurbs/register_new_class'%>
  <%= image_tag("teach_this_couse.png", {:border => 1, :width => "100%", 
    :height => "100%", :title=>"teach this class"})%>
  <% end %>

  <%= accordion_entry :title => "Access your class" do %>
  <ol>
    <li>Sign in.</li>
    <li>Click the <strong>Dashboard</strong> link.
      <%= image_tag("dashboard.png", {:border => 1, :width => "100%", 
        :height => "100%", :title=>"dashboard"})%>
    <li>Click <strong>class name</strong>.</li>
    <p><%= image_tag("class_teaching.png", {:border => 1, :width => "50%", 
     :title=>"class I'm teaching"})%></p>
  
  <% end %>
  <%= accordion_entry :title => "Create class sections" do %>
  
  <p>Go to <strong>Dashboard > Class</strong> and click on <strong>Sections</strong>.
  <p>
  <%= image_tag("sections.png", {:border => 1, :width => "100%", 
    :height => "100%", :title=>"section"})%>
        <%= render :partial => 'help/blurbs/sections' %>
    <% end %>
        
    <%= accordion_entry :title => "Add or change co-instructors, teaching assistants and graders" do %>
      
    <%= render :partial => 'help/blurbs/add_instructor'%>
    <% end %>
<% end %>
    
<%= section "Manage Student Enrollment", {:classes => 'first no_bar'} do %>  
    <%= accordion_entry :title => "Preapprove student registration requests" do %>
    <p>Follow the instructions below to preapprove student registration requests. Or, if 
      you prefer to manually approve all registration requests, do nothing.</p>
    <ol>
      <li>Go to <strong>Dashboard > Class</strong> and click <strong>Edit Class</strong>.</li>
      <p><%= image_tag("edit_class.png", {:border => 1, :width => "90%", 
       :title=>"edit class"})%>
      <li>On the Edit Class page, scroll to the <strong>Approved Emails</strong> field.</li>
    </ol>
    <%= render :partial => 'help/blurbs/preapproved_emails' %>
    <% end %>
    
    <%= accordion_entry :title => "Confirm pending registration requests" do %>
    <p>By default, when a student requests to register for your class, <%= SITE_NAME %> will 
    send you an email notification. Follow the <strong>email link</strong>, or access 
    pending requests as follows:</p>

    <ol>
      <li>Go to <strong>Dashboard > Class</strong>. In the Enrollment section, click 
        <strong>Pending</strong>.</li>
      <%= image_tag("pending.png", {:border => 1, :width => "80%", 
        :height => "80%", :title=>"pending"})%>
      <p>
      <li>Click <strong>Approve</strong> or <strong>Reject</strong> using the buttons
         next to each request.</li>
      <%= image_tag("approve_reg.png", {:border => 1, :width => "100%", 
        :height => "100%", :title=>"pending"})%>
      <p>
    <% end %>
    
    <%= accordion_entry :title => "Change student section" do %>
     <p>If you are participating in a research study, <em><strong>check with
         the research team</strong></em> before moving a student to another 
         section, as this may impact the student's assignments.</p>
      <p>
      <%= render :partial => 'help/blurbs/change_student_section'%>
    <% end %>
    
    <%= accordion_entry :title => "Reinstate dropped student" do %>
          <%= render :partial => 'help/blurbs/toggle_reg_status'%>
    <% end %>
<% end %>

<%= section "Student work and Grades", {:classes => 'first no_bar'} do %>  

    <%= accordion_entry :title => "View student work" do %>
    Coming soon.
    <% end %>
   
    <%= accordion_entry :title => "How OST calculates grades" do %>  
    <%= render :partial => 'help/blurbs/calc_grade'%>
    <% end %>
    
    <%= accordion_entry :title => "Export grades" do %>
    <% render :partial => 'help/blurbs/grades_reports'%>
    <% end %>
    
    <%= accordion_entry :title => "Manually override exercise score" do %>
  <%= render :partial => 'help/blurbs/make_correct'%>
    <% end %>
    
<% end %>
  
</div>      

<% navitem { link_to "Back to Help", help_path } %> 