<%= pageHeading "Frequently Asked Questions (FAQ) | Help" %>
<%= section "Account FAQ" do %>
<%= link_to "I signed up but never received a confirmation email. What should I do?", "#email_confirmation" %><br/>
<%= link_to "How do I update my account information?", "#change_account_settings" %> <br/>
It's been awhile and I forgot my password. Can you reset it?<br/>
<br/>
</ul>
<% end %>

<%= section "Student FAQs" do %>
<ul>
I'm not a student at the institutions offering classes. Can I still register for the class?<br/>     
I accidentally registered as an auditing student, but I want to be fully registered. What can I do?<br/>
I accidentally registered as a fully registered student, but I am auditing. What can I do?<br/> 
I registered for the wrong section. Can I change to the other section?<br/>
I dropped a class but now I want back in. Can I re-register?<br/> 
I saved a free-form response. So why can't I view the multiple choice answers? <br/>
Why does my assignment say Not Yet Completed?<br/>
Where are my grades?<br/> 
I finished my assignment late. Can I still get credit if I work the exercises after the deadline?<br/>
</ul>
<% end %>

<%= section "Instructor FAQs" do %> 
<ul>
I want to add my exercises and resources to Topics, but I only see space to add links. Why?<br/>  
Where do I approve my students' class registration requests? <br/>
My student registered for the wrong section. How can I change her to the other section?</br>
Is there a way to pre-approve students so I don't have to manually approve every request?<br/>
When I create an assignment, there is no place to add exercises. How do I add exercises to an assignment?<br/>
Override incorrect / late / feedback viewed.. <br/>
I sent out an assignment and realized it was missing a resource! Can I add a resource after the assignment has gone out, and will students be able to access it?
I sent out an assignment and realized there was an error in one of the exercises. Can I fix it? 
</ul>

<div class="sectionHeading" id="email_confirmation"><strong>I signed up but never received a confirmation email. What should I do?</strong></div>
<ol>
  <li>Please check your Spam folder and verify that noreply@openstaxtutor.org is not being blocked.</li>
  <li>If no luck in the spam folder, <%= link_to "go here to resend the confirmation instructions", new_user_confirmation_path %>.</li>
  <li>If the email doesn't arrive, it's possible that there was a typo in your email address when you registered. Please <%= link_to 'register again', 'new_user_registration_path' %>, verifying that the email address is correct.</li>
  <li>If you have still not received a confirmation email, and if your email address is otherwise receiving emails properly, please contact us at <%= email_link "email not confirmed", "support@openstaxtutor.org" %>.</li>
</ol>
<p>
  
<div class ="sectionHeading" id="change_account_settings"><strong>How do I update my account information?</strong></div>

<p>You can change some account settings, including email address, password and time zone. Note that you <em>cannot</em> change your user name or first and last name.</p>

<p>To update account settings:</p>
<ol>
  <li>Sign in;</li>
  <li>In the upper right hand corner, next to the Welcome message, click <strong>My Account</strong>;</li>
  <li>Make your changes, enter your password to confirm changes and click Update.</li>
    
How can I change my account settings, i.e. email address, password or time zone? <br/>
Can I change the username I used to register? Can I change my first and last name in OST?<br/> 
It's been awhile and I forgot my password. Can you reset it?



<% end %>
