<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Frequently Asked Questions" %>

<p style="width: 600px">The most commonly asked questions we receive are 
  answered below. If you have a question that isn't addressed below, feel free to email 
  <%= email_link "support", "the friendly Support Team" %>.</p>

<%# ########### SET UP YOUR FAQ ENTRIES HERE %%%%%%%%%%%%%%%%% %>

<div class="accordion" id="accordion2" style="padding-top:20px;">
  
  <%= section "Accounts FAQ", {:classes => 'first no_bar'} do %>
  
    <%= accordion_entry :title => "I created an account but never received a 
                 confirmation email." do %>
      <%= render :partial => 'help/blurbs/request_conf_email'%>
    <% end %>

    <%= accordion_entry :title => "I am experiencing problems with the display,
     e.g. I can't access or view 
    content." do %>
       <%= render :partial => 'help/blurbs/browser_reqs'%>
    <% end %>

    <%= accordion_entry :title => "I am not receiving email notifications 
    about new assignments or 
    feedback." do %>
    <%= render :partial => 'help/blurbs/email_notifications' %>
    <p>To change the email address we use to contact you:</p>
    <%= render :partial => 'help/blurbs/update_account' %>
    <% end %>

    
    <%= accordion_entry :title => "I need to update my password, email address or time zone." do %>    
     <% render :partial => 'help/blurbs/update_account' %>
    <% end %>

<% end %>

  <%= section "Other FAQ", {:classes => 'no_bar'} do %>
       
      <%= accordion_entry :title => "I registered for the wrong section
       of my class. How do I change to a different section?" do %>
        <p>If your instructor has already approved your registration request, please email your instructor 
          and request they change your section.</p>

        <p>If your registration request is still pending, i.e. you see <strong>Cancel my request to join
         this class</strong>, click <strong>Cancel</strong> and confirm your choice.</li>
          <%= image_tag("cancelrequest.png", {:border => 1, :title=>"cancel request"})%>  
          <p>
          <p>Once you've canceled your registration request, click <strong>Register</strong> 
            to submit a new registration request for the correct section.
      <% end %>

    <%= accordion_entry :title => "Can I still get credit if I work exercises 
    after the due date?" do %>
      <p><%= SITE_NAME %> will not give credit for answers entered after the due 
        date. However, final decisions about credit for late work are ultimately up 
        to your instructor.</p>          
    <% end %>
    
    <%= accordion_entry :title => "I made a mistake in an exercise. Can I 
    fix my work and get credit?" do %>
      <p>It depends.</P>
      <p>If you have saved free-form work, but haven't yet turned in your work, you can edit your answers anytime before 
      the assignment due date.</p> 
      <p>However, once you have turned in your free-form work or submitted your final multiple choice answer, you cannot 
      go back and change your answers.</p> 
      <p>Final decisions about 
        grades are always up to the instructor.</p>
    <% end %>
    
<%= accordion_entry :title => "What is the rationale for the two-step answer process in OST?" do %>
      <%= render :partial => 'help/blurbs/two_step_answer_process'%>
             
    <% end %>

<%= accordion_entry :title => "Why am I asked to assess my confidence in my answers?" do %>
              <%= render :partial => 'help/blurbs/confidence_ratings'%>
     
    <% end %>
 
<%= accordion_entry :title => "Why is it important to view feedback for each problem?" do %>
      <%= render :partial => 'help/blurbs/why_feedback'%>
             
    <% end %>
 


    

  <% end %>
  

</div>

<% navitem { link_to "Back to Help", help_path } %>
