
<%= pageHeading "Frequently Asked Questions" %>

<p style="width: 600px">The most common questions we get are answered below. If you don't see your question answered, check out our other help topics or shoot us an email at <%= email_link "support", "support@openstaxtutor.org" %>.</p>

<%# ########### SET UP YOUR FAQ ENTRIES HERE %%%%%%%%%%%%%%%%% %>

<% faq_entry :section => 'Account FAQ',
             :question => "I created an account but never received a 
                           confirmation email. What should I do?" do %>

  <%= render :partial => 'help/blurbs/request_conf_email'%>

<% end %>

<% faq_entry :section => 'Account FAQ',
             :question => "How do I update my user settings, e.g. change my 
                           password / email address / time zone?" do %>

  <p>Sign in and click <strong>My Account</strong>, found at the top of every page.</p>
  <p>In My Account, you can update your password, email address and time zone. After you enter new information, enter your current password to confirm the changes.</p>

<% end %>

<% faq_entry :section => 'Student FAQ', 
             :question => "I registered for the wrong section of my class. How do I change to a different section?" do %>
  
      <ol>
       <li>Go to <strong>Dashboard > Class name > Class Information</strong>.</li>
       <li>If you see <strong>Drop this class</strong>, you'll need to email your instructor and request he/she change your section.</li>
       <li>If you see <strong>Cancel my request to join this class</strong>, click Cancel and confirm your choice.</li>
       <li>Once you've canceled your registration request, click <strong>Register</strong> to submit a new registration request for the correct section.</li>
     </ol>

<% end %>

<% faq_entry :section => 'Student FAQ', 
             :question => "I saved my free-form response, so why won't the site show me the multiple choice answers?" do %>
          <p>To view the multiple choice answers, you must save and <em><strong>lock</strong></em> your free form response. If you save but don't lock your free form answer, you can work on other exercises, but you won't be able to view the multiple choice answers until you save and lock.</p>

<% end %>

<% faq_entry :section => 'Student FAQ', 
             :question => "I finished my assignment late. Can I still get credit if I work the exercises after the due date?" do %>
<p><%= SITE_NAME %> will not give credit for answers entered after the due date. However, final decisions about grading are ultimately up to your instructor.</p>

<% end %>

<% faq_entry :section => 'Student FAQ', 
             :question => "I unintentionally saved my free-form and/or multiple choice answers before I was finished. Can I go back and fix my work?" do %>
             
             <p>It depends. If you were working on the free form portion, and you saved but did <em>not</em> lock your answer, you can go back and update your work.</p> 

             <p>If you <em>saved and locked</em> your free form or multiple choice answer, you cannot go back and change your answer. In this case, let your instructor know, as final decisions about grades are always up to the instructor.</p>

<% end %>


<% faq_entry :section => 'Instructor FAQ', 
             :question => "I want to add my exercises and resources to Topics, but I only see space to add links. Where do I add my course materials?" do %>
             
             <p>OpenStax Tutor does not host course materials. Instead you will add course materials to, or reuse content from, Connexions and Quadbase.  <%= link_to "Go here to read more about adding materials to Connexions and Quadbase.", help_topics_path(:anchor => "add_content")%></p>

<% end %>


<% faq_entry :section => 'Instructor FAQ', 
             :question => "When I create an assignment, there is no place to add exercises. How do I add exercises to an assignment?" do %>
             
             <p>To add exercises to an Assignment, attach the topic(s) you want the assignment to cover. <%= SITE_NAME %> will pull exercises from the topic(s) you list, in accordance with any learning conditions set for your class.</p>

             <p><%= link_to "Click here to learn more about creating assignments.", help_assignments_path %></p>

<% end %>

<% faq_entry :section => 'Instructor FAQ', 
             :question => "My student registered for the wrong section. How can I change her to the other section?" do %>
             
             <p>If you are participating in a research study, <em><strong>check with the research team</strong></em> before moving a student to another section, as it may impact the student's assignments.</p>
             <p>

          <%= render :partial => 'help/blurbs/change_student_section'%>
          
<% end %>

<% faq_entry :section => 'Instructor FAQ', 
             :question => "A student dropped my class, then changed his mind. How can I reinstate a dropped student?" do %>

            <%= render :partial => 'help/blurbs/toggle_reg_status'%>

<% end %>            

<% faq_entry :section => 'Instructor FAQ', 
             :question => "I need to override the score OST assigned to a student on an exercise. How can I do that?" do %>
  
  <p>At this time, you can make a wrong answer correct. Note that, at this time, there is not a way to override points taken away due to lateness or failure to view mandatory feedback. These features are coming soon.</p>
  <%= render :partial => 'help/blurbs/make_correct'%>

<% end %>

<% faq_entry :section => 'Instructor FAQ', 
             :question => "I sent out an assignment and realized later that there is an error in one of the exercises. How can I fix it? " do %>

<p>You may be able to edit the exercise in Quadbase and then use the <strong>Refresh Exercises</strong> feature to update the exercise. There are some limitations to this feature, though. <%= link_to  "Click here to read more.", help_topics_path(:anchor => "refresh_exercises") %></p>
  
<% end %>





<%# ############ THIS CODE DISPLAYS THE FAQ ENTRIES ON THE PAGE ####### %>


<a name='top'></a>
<% @sections.each do |section_name, entries| %>
  <i><%= section_name %></i>
    <ul>
    <% entries.each do |entry| %>
      <li>
        <%= link_to entry[:question], nil, {:class => 'faq_link'} %>
        <div class='faq_detail_answer'><%= entry[:answer] %></div>
      </li>
    <% end %>
    </ul>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.faq_link').click(function(event) {
        $(this).next().toggle();
        event.preventDefault();
      });
    });
  <% end %>
<% end %>





<% navitem { link_to "Back to Help", help_path } %>
