<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Support" %>

<p style="width: 600px">Welcome to <%= SITE_NAME %>! Have a question? This is the place to start. 
  Check out the resources below, or <%= email_link "support", "email our friendly support team" %> 
  if you need one-on-one help with OpenStax Tutor. </p>

<%= section "Getting Started", {:classes => 'first no_bar'} do %>

  <ul>
    <li><%= link_to "Getting Started as an Instructor", help_instructor_getting_started_path %></li>
    <li><%= link_to "Getting Started as a Student", help_student_getting_started_path %></li>
     <li><%= link_to "Frequently Asked Questions", help_faq_path %></li>
  </ul>
  
<% end %>

<%= section "Video Tutorials", {:classes => 'first no_bar'} do %>

  <ul>
    <li><%= link_to "Tutorials for Students", help_student_tutorials_path %></li>
  </ul>
  
<% end %>

<%= section "Digging Deeper", {:classes => 'first no_bar'} do %>

  <ul>
    <li><%= link_to "Class settings", help_class_settings_path %></li>
    <li><%= link_to "Topics", help_topics_path %></li>
    <li><%= link_to "Learning Conditions", help_learning_conditions_path %></li>
    <li><%= link_to "Assignments", help_assignments_path %></li>
  </ul>

<% end %>
    
