<%= pageHeading "Help" %>
  

  <p> <%= link_to "Frequently Asked Questions", help_faq_path %> </p>

<p>  <%= link_to "Getting Started as an Instructor", help_instructor_getting_started_path %></p>

<p>  <%= link_to "Getting Started as a Student", help_student_getting_started_path %><p>
  
  
  <%= link_to "Class settings", help_class_settings_path %><br/>
  <%= link_to "Topics", help_topics_path %><br/>
  <%= link_to "Learning Conditions", help_learning_conditions_path %><br/>
  <%= link_to "Assignments", help_assignments_path %>
  <p>
    <p>

    
