<%= pageHeading "Help" %>

<p>We're in the process of adding great help documentation to <%= SITE_NAME %>.  Until then, if you're having trouble using the site, feel free to contact us at <%= email_link "support", "support@openstaxtutor.org" %></p>
  
<p>  <%= link_to "Getting Started as an Instructor", help_instructor_getting_started_path   %></p>

<p> <%= link_to "Frequently Asked Questions", help_faq_path %> </p>

<p> <%= link_to "Topics help", help_topics_path %>

    <%= render :partial => 'help/blurbs/register_new_class'%>

    <%= render :partial => 'help/blurbs/plan_class' %>
    