Getting Started for Instructors

<p>Welcome to <%= SITE_NAME %>! This page provides a general introduction to OpenStax Tutor and describes what is required to set up your class. </p>
  
<p>We recommend you begin by watching our introductory screencasts. Next, check out our roadmap of the steps involved in setting up your class in <%= SITE_NAME %>. The overview explains the general process without going into too much detail. If you'd like to learn more about any particular step, click on the links in the roadmap. </p>

Screencasts -- 5 minute introduction to OST, adding course content, creating assignments, setting up learning and feedback conditions
 
<ol>
  <p><li><strong>Register to teach a class in <%= SITE_NAME %>.</strong> (blurb/register_new_class)</li></p>
    <ol>
      <li><%= link_to "Create an OpenStax Tutor account", new_user_registration_path %>, if you haven't already.</li>
      <li>Request an administrator add your class to the <%= link_to "Course Catalog", catalog_path  %> and give you instructor permissions. </li>
    </ol>
  <p><li><strong>Plan your class before adding any course materials to OpenStax Tutor.</strong> (blurb/plan_class)</li></p>
    <ol>
      <li>Plan what course materials, i.e. resources and exercises, you will assign to students.</li>
      <li>Ensure these course materials are hosted on <%= link_to "Connexions", "http://www.cnx.org" %> and <%= link_to "Quadbase", "https://www.quadbase.org" %>.</li>
      <li>Decide if you will partner with <%= SITE_NAME %> researchers to run an educational experiment in connection with your class. </li>
      <li>Organize and sequence related course materials into topics.</li>
      <li>Begin thinking about the assignments (homeworks and tests) you will assign via <%= SITE_NAME %>.</li>
      <li>Consider if you will set up any learning conditions for your assignments.</li>
    </ol>
  <p><li><strong>Set up your class.</strong></li></p>
    <ol>
      <li>Enter/edit basic class information. (link to page describing what info to add.) </li>
      <li>Customize class Learning Conditions and Cohorts, if any. (link) </li>
      <li>Customize class Learning Plan. </li>
        <ul>
          <li>Add course materials in the Topics section, as planned in 2.1 and 2.2. </li>
          <li>Create homeworks and tests in the Assignments section, as planned in section 2.3. </li>
          <li>View/schedule assignments using calendar in Scheduling section. </li>
    </ol>
  <p><li><strong>Manage class.</strong></li></p>
  <ol>
    <li>Manage student enrollment. </li>
    <li>View assignments in Assignment dashboard. </li>
    <li>View student performance in Assignment dashboard.</li>
    <li>Export report containing all <%= SITE_NAME %> data pertaining to your class. </li>
  </ol>
    