<%= pageHeading "Getting Started for Instructors" %>

<p>Welcome to <%= SITE_NAME %>! This page provides a general roadmap of the steps required to set up your class. For more detail about any particular step, click the links to learn more.</p>
 
<div class="accordion" id="accordion2" style="padding-top:20px;">

  <%= accordion_entry :title => "1. Register to teach a class in #{SITE_NAME}" do %>
    <ol>
      <li><%= link_to "Create an OpenStax Tutor account", new_user_registration_path %>, 
          if you haven't already.</li>
      <li><%= link_to_help 'register_new_class', text="Request an administrator add your class to #{SITE_NAME}.", {:title => 'Register your class'} %>.</li>
    </ol>
  <% end %>

  <%= accordion_entry :title => "2. Plan your class before adding any course materials to #{SITE_NAME}." do %>
    <ol>
      <li><%= link_to_help 'research_study', text="Consider partnering with #{SITE_NAME} researchers to run an 
          educational study in your class.", {:title => 'Research study in OST'} %> </li>
      <li><%= link_to_help 'plan_content', text="Ensure course content is hosted on Connexions and Quadbase.", {:title => 'Where course content is hosted'} %>
      <li><%= link_to_help 'organize_topics', text="Organize course content into topics.", {:title => 'Organizing topics'} %></li>
      <li><%= link_to_help 'plan_assignments', text="Plan assignments: decide what topic(s) to assign for each homework and test.", {:title => 'Planning Assignments'} %></li>
    </ol>
  <% end %>

  <%= accordion_entry :title => "3. Set up your class." do %>
    <ol>
      <li><%= link_to "Adjust class settings", help_class_settings_path %>. </li>
      <li><%= link_to "Add links to course materials in the Topics section", help_topics_path %>. </li>
      <li>If not working with the research team, <%= link_to "set learning conditions for your class", help_learning_conditions_path %>. </li>
      <li><%= link_to "Create homeworks and tests in the Assignments section", help_assignments_path %>.</li>
      <li><%= link_to "View and schedule assignments in Scheduling section", help_scheduling_path %>. </li>
      <li>Manage students.</li> 
    </ol>
  <% end %>
</div>
    


<% navitem { link_to "Back to Help", help_path } %>

