Fixes -- it'd be cool to expand/contract each of these sections so the page is not so long and overwhelming<br/>
If not, ? <p>

Getting Started for Instructors

<p>Welcome to <%= SITE_NAME %>! This page provides a general roadmap of the steps required to set up your class in <%= SITE_NAME %>. For more detail about any particular step, click the links to learn more.</p>

Screencasts -- 5 minute introduction to OST, adding course content, creating assignments, setting up learning and feedback conditions.
 
 
 
<ol>
  <p><li><strong>Register to teach a class in <%= SITE_NAME %>.</strong></li></p>
    <ol>
      <li><%= link_to "Create an OpenStax Tutor account", new_user_registration_path %>, if you haven't already.</li>
      <li>Request an administrator add your class to the <%= link_to "Course Catalog", catalog_path  %> and give you instructor permissions. </li>
    </ol>
  <p><li><strong>Plan your class before adding any course materials to OpenStax Tutor.</strong></li></p>
    <ol>
      <li>Consider partnering with <%= SITE_NAME %> researchers to run an educational study in your class. </li>
      <li>Plan course materials and ensure they are hosted on <%= link_to "Connexions", "http://www.cnx.org" %> and <%= link_to "Quadbase", "https://www.quadbase.org" %>.</li>
      <li>Organize and sequence related course materials into topics.</li>
      <li>Plan your assignments and decide if you will set up any learning conditions for them.</li>
    </ol>
  <p><li><strong>Set up your class.</strong></li></p>
    <ol>
      <li><%= link_to "Enter basic class settings", help_class_settings_path %>. </li>
      <li><%= link_to "Customize class Learning Conditions, if any", help_learning_conditions_path %>. </li>
      <li><%= link_to "Add links to course materials in the Topics section", help_topics_path %>. </li>
      <li><%= link_to "Create homeworks and tests in the Assignments section", help_assignments_path %>.</li>
      <li><%= link_to "View and schedule assignments in Scheduling section", help_scheduling_path %>. </li>
    </ol>
  <p><li><strong>Manage class.</strong></li></p>
  <ol>
    <li>Manage student enrollment. </li>
    <li>Manage assignments and students.
    <li>Export reports. </li>
  </ol>
    
    
    <p>
      <p>
        <p>
    
    
    
    <%= render :partial => 'help/blurbs/register_new_class'%>

    <%= render :partial => 'help/blurbs/plan_class' %>

    <%= render :partial => 'help/blurbs/set_up_class'%>
    
    

