<%= pageHeading "Help | Feedback Conditions" do %>
<% end %>

<%= link_to "Overview of Feedback Conditions", "#overview" %><br/>
<%= link_to "Options when setting feedback conditions", "#feedback_options" %><br/>
<%= link_to "Use labels to control when OpenStax Tutor applies feedback conditions", "#labels" %> <br/>
<%= link_to "Attach labels to exercises", "#attach_labels_to_exercises" %><br/>
<%= link_to "Create/edit feedback condition", "#create_edit" %><br/>
  
<p><strong>Overview of Feedback Conditions</strong></p>

<p><%= SITE_NAME %> has the capability to automatically provide <em><strong>feedback</strong></em> to students. The feedback page tells the student if his/her answer is correct and shows any available solutions.</p>

<p>By default, <%= SITE_NAME %> is set to present feedback immediately after students complete each exercise, unless the exercise is marked as a test. You can keep the default condition, or create new feedback conditions.</p>

<p>This help page will explain feedback conditions work and how to set new conditions.</p> 

<p>
<strong>Options when setting feedback conditions</strong>

<p><%= SITE_NAME %> lets you control the feedback your students receive in several ways:</p>
<ul>
 <li>Apply different conditions to different exercises, e.g. present feedback differently for test exercises than for homework.</li>
  <li>Set feedback <em>timing</em>, i.e. when it becomes available and how long it stays available.</li>
  <li>Make viewing feedback <em>optional</em> or <em>mandatory</em>.</li>
  <li>Show students the feedback page <em>automatically</em> or require them to <em>manually</em> navigate to the feedback page.</li>
</ul>
<p>
  <div class ="sectionHeading" id="labels"><strong>Use labels to control when OpenStax Tutor applies feedback conditions</strong></div>
  
<p>When you set up the feedback conditions for your class, you must specify which feedback conditions apply to what exercises. To do so, you must attach <em><strong>labels</strong></em> as follows:
  <ol>
    <li>Attach labels to all exercises for which the site should present feedback; and</li>
    <li>Create feedback conditions matching those same labels.</li>
  </ol>
  
<p>When a student completes an exercise, <%= SITE_NAME %> matches the exercise labels against the names of the feedback conditions. When a matching feedback condition is found, its rules are used to determine how feedback is given.</p>

<ul>
</li><strong>Example 1</strong>: if a student completes an exercise labeled <em>Homework</em>, and there is a feedback condition labeled <em>Homework</em>, <%= SITE_NAME %> will apply the <em>Homework</em> feedback condition to that exercise.</li>
<p>
</li><strong>Example 2</strong>: if a student works an exercise labeled <em>Test</em>, and there is no feedback condition matching that exercise label, the student will <em><strong>not</strong></em> receive feedback for that exercise.</li>
</ul>

<p><strong>Attach labels to exercises</p></strong>
  
<%= render :partial => 'help/blurbs/attach_feedback_label_to_exercises' %>


<p><strong>Create/edit feedback condition</strong></p>
<p>You can create any number of feedback conditions for your class.</p>
<ol>
  <li>From the Class Information page, click on Learning Conditions;</li>
      <%= image_tag("feedback6.png", {:border => 1, :width => "90%", :height => "90%", :title=>"new feedback condition"})%>
  <li>On the Learning Conditions page, click Add New Feedback Condition; </li>
    <%= image_tag("feedback8.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>In the pop up dialog box, select Basic feedback condition and click Choose;</li>
  <li>Click Edit to customize the condition you just created; </li> 
    <%= image_tag("feedback7.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>In the Labels field, enter the  <%= link_to "label", help_learning_conditions_path(:anchor => "labels") %>  of the exercise(s) this feedback condition will be applied to;</li> 
    <%= image_tag("feedback5.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>Complete the remaining form, setting the timing and viewing conditions you want;</li>
  <li>Click Update to save.</li>
</ol>





