<%= pageHeading "Help | Feedback Conditions" do %>
<% end %>

<%= link_to "Overview of feedback conditions", "#overview" %><br/>
<%= link_to "Options when setting feedback conditions", "#feedback_options" %><br/>
<%= link_to "Use labels to control when OpenStax Tutor applies feedback conditions", "#labels" %> <br/>
<%= link_to "Create/Edit feedback condition", "#create_edit" %><br/>
<%= link_to "Assign labels to exercises", "#assign_labels_to_exercises" %><br/>
  
<p>  
<div class ="sectionHeading" id="overview"><strong>Overview of feedback conditions</strong></div>
  
<p><%= SITE_NAME %> has the capability to automatically provide <em><strong>feedback</strong></em> to students. The feedback page<%= link_to_help 'example_feedback' %>
 tells the student if his/her answer is correct and shows any available solutions.</p>

<p>By default, <%= SITE_NAME %> is set to present feedback immediately after students complete each exercise, unless the exercise is marked as a test. You can keep the default condition, or create new feedback conditions.</p>

<p>This help page will explain how feedback conditions work and how to set new conditions.</p> 
  
<div class ="sectionHeading" id="feedback_options"><strong>Options when setting feedback conditions</strong></div>

<p><%= SITE_NAME %> lets you control the feedback students receive in several ways:</p>
<ul>
 <li>Apply different conditions to different <em>exercises</em>, e.g. create different conditions for homework and test exercises.</li>
 <li>Apply different conditions to different <em>experimental cohorts</em>.</li> 
  <li>Set feedback <em>timing</em>, i.e. when it becomes available and how long it stays available.</li>
  <li>Make viewing feedback <em>optional</em> or <em>mandatory</em>.</li>
  <li>Show students the feedback page <em>automatically</em> or require them to <em>manually</em> navigate to the feedback page.</li>
</ul>
<p>

<div class ="sectionHeading" id="labels"><strong>Use labels to control when OpenStax Tutor applies feedback conditions</strong></div>
  
<p>When you set up the feedback conditions for your class, you must specify which feedback conditions apply to what exercises. To do this, you will assign labels to exercises and feedback conditions: 
  
  <ol>
    <li>Create a feedback condition and assign it some arbitrary label.</li>
    <li>Attach that feedback label to <em>all exercises you want to receive that feedback condition</em> <%= link_to "(as explained in this section)", "#attach_labels_to_exercises" %>.<br/></li>
    <li>Each additional feedback condition you create should have a different label.</li> 
  </ol>
  
<p>When a student completes an exercise, <%= SITE_NAME %> looks at the exercise labels and searches for a matching feedback condition label. When a matching feedback condition is found, its rules are used to determine how feedback is given. </p>

<ul>
</li><strong>Example 1</strong>: if a student completes an exercise labeled <em>Homework</em>, and there is a feedback condition labeled <em>Homework</em>, <%= SITE_NAME %> will apply the <em>Homework</em> feedback condition to that exercise.</li>
<p>
</li><strong>Example 2</strong>: if a student completes an exercise labeled <em>Test</em>, and there is no feedback condition matching that exercise label, <%= SITE_NAME %> cannot apply a feedback condition. The student will <em><strong>not</strong></em> receive feedback for that exercise.</li>
<p>
</ul>

<div class ="sectionHeading" id="create_edit"><strong>Create/Edit feedback conditions</strong></div>

<p>You can create any number of feedback conditions for your class.</p>
<ol>
  <li>From the Class Information page, click on Learning Conditions;</li>
      <%= image_tag("feedback6.png", {:border => 1, :width => "90%", :height => "90%", :title=>"new feedback condition"})%>
  <li>On the Learning Conditions page, click Add New Feedback Condition; </li>
    <%= image_tag("feedback8.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>In the pop up dialog box, select Basic feedback condition and click Choose;</li>
  <li>Click Edit to customize the condition you just created; </li> 
    <%= image_tag("feedback7.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>In the Labels field, enter the  <%= link_to "label", help_learning_conditions_path(:anchor => "labels") %>  of the exercise(s) this feedback condition will be applied to;</li> 
    <%= image_tag("feedback5.png", {:border => 1, :width => "70%", :height => "70%", :title=>"new feedback condition"})%>
  <li>Check the feedback credit box if you want to make viewing feedback <em>mandatory</em> for credit;</li>
  <li>Check the feedback presentation box if you want OST to present feedback automatically;</li>
  <li>Define when the site can make feedback available by selecting from the drop down menu and entering time settings;</li>
     <%= image_tag("feedback11.png", {:border => 1, :width => "50%", :height => "50%", :title=>"new feedback condition"})%>
  <li>Click Update to save;</li>
  <li>Create as many feedback conditions as you need.</li>
</ol>

<div class ="sectionHeading" id="assign_labels_to_exercises"><strong>Assign labels to exercises</strong></div>

<p>Once you have set the feedback conditions for your class, make sure that you attach matching labels to the exercises each feedback condition will be applied to.</p> 
  
<%= render :partial => 'help/blurbs/attach_feedback_label_to_exercises' %>



