<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Learning Conditions" do %>
<% end %>

  <p>Learning conditions are customizable rules that let you control important aspects of your students' experiences 
  in OpenStax Tutor. Select from the help topics below to learn more. We recommend you start with the overview.</p>

  <p><i>Are you an educator participating in a research study?</i> If so, the research team will set up  
          learning conditions on your behalf. To preserve a firewall between researcher and educator, you will not be 
          able to access the Learning Conditions page.</p> 
  
<div class="accordion" id="accordion2" style="padding-top:20px;">

<%= section "Overview", {:classes => 'no_bar'} do %>

   <%= accordion_entry :title => "What are learning conditions?" do %>

      <p><b>What is a learning condition?</b></p>

        <p>Learning conditions are customizable rules that enable you 
          to schedule actions to occur automatically. 
          Using learning conditions, you can automatically 
          release feedback when certain conditions are met, 
   customize timing and type of feedback for different assignments (e.g., 
  homeworks vs tests), control the presentation of 
  your assignments, and automate massed or spaced practice for your homework. </p>

        <p><b>Types of learning conditions</b></p>

          <ul>
            <li><b>The Scheduler</b>: For each topic you 
              assign as homework, the Scheduler defines <em>what percentage of 
              those exercises are added</em> 
            to a particular assignment. You <u>must</u> have a Scheduler in place.
             It will be applied automatically 
            to all homework assignments.</li>
            <p>
            <li><b>Feedback conditions</b> let you control how, when, and what 
              kind of 
              solutions you release to students. You can create multiple feedback conditions, 
              then choose which one to apply to each assignment.</li>
            <p>
            <li><b>Presentation conditions</b> let you control whether or not 
              multiple-choice exercises include 
              a free-form component. You can create multiple presentation conditions, 
              then choose which one to apply to each assignment.</p>
          </ul>

    <% end %>


<% if false %>


      <b>To create the learning condition</b>:

      Go to Dashboard > Class > Learning Conditions and click <b>Add a New Feedback Condition</b>.
      Click <b>Edit</b> under the newly created condition. 
      In the </i>Match Labels Against</i> field, enter a unique label describing this feedback condition, e.g. <i>delayed feedback</i>.
      Complete the remaining feedback settings and click <b>Update</b> to save.
      You've created a learning condition!

      <b>To apply the <i>delayed feedback</i> learning condition to an exercise or assignment, simply attach the condition label 
        to the relevant exercise or assignment.</b> 

        <%= render :partial => 'help/blurbs/attach_feedback_label_to_exercises'%>
      <p> 

        Set up presentation conditions. 

        Presentation conditions control whether your multiple-choice questions include a free-response portion or not. 

        In the below example, the "free response" condition includes both free-response and multiple choice, while the 
        "mc only" condition does not include free-response. 

        Set up feedback conditions. 



        Set up the Scheduler.  

        In the Learning Plan, you will organize your materials into topics, then assign topic(s) as homework. 
        The Scheduler is where you specify how many exercises from each topic are added to homework assignments, and what (if any) 
        labels are attached. 

        Once you create a Scheduler, OST will automatically apply the Scheduler rule to each homework assignment. For example, 
        the default Scheduler assigns 100% of exercises from topic(s) assigned as homework and attaches the label 
        "standard practice" to each exercise. 

        [image]

        Create presentation and feedback conditions. 

        Create any number of presentation and feedback conditions, then attach their labels to the intended exercises. 
        
       <%= accordion_entry :title => "Creating multiple cohorts (advanced setting)" do %>
          <p>By default, a class comprises one (1) <strong>cohort</strong>. <em>A cohort is a group of students 
            whose assignments are built using the same learning conditions</em>. 
            The default setting should meet most instructors' needs.</p>    
          <p>Should you want to apply different learning conditions to different cohorts, e.g. to create
             control and experimental groups, go here to learn more.</p> 
          assignments. <%= link_to_help 'spaced_practice', text="Spaced practice", {:title => 'Spaced practice', 
              :width => '500', :height => '500'} %> is an example schedule condition       
              <%= link_to_help 'example_feedback', text="feedback", {:title => 'Example Feedback',
              :width => '500', :height => '400'} %> to students   
      <% end %>
 <% end %>
 <% end %>
  
<%= section "The Scheduler", {:classes => 'no_bar'} do %>

  <%= accordion_entry :title => "What is the Scheduler?" do %>
  
<p>The Scheduler is a rule that automates how your <u>homework assignments</u> are 
  built. For each topic you assign as homework, the Scheduler defines how many exercises 
  from that topic are added to a particular assignment.</p>

    <p>Every class has a default Scheduler in place by default. You may use the default 
  Scheduler, or create a custom Scheduler, but you <u>must</u> have a valid Scheduler in place. It will 
be applied to all homework assignments.</p>

      <p>The Scheduler lets you:</p>
      <ul>
        <li>Automate  <%= link_to_help 'spaced_vs_massed', 
      text="spaced practice or massed practice", 
      {:title => 'Spaced practice vs massed practice', :width => '600', :height => '700'} %> 
      for your homework assignments</li>
      <p>
      <li>Automatically apply labels to all homework in order to activate learning conditions for 
        all homework</li>
    </ul>


  <% end %>

   <%= accordion_entry :title => "How the default Scheduler works" do %>
  
   <%= render :partial => 'help/blurbs/default_scheduler' %>

   <p>So, if you added this topic to a homework assignment ...  

    <p><%= image_tag("example_topic.png", {:border => 1, :width => "95%", 
                          :title=>"topic"})%></p>  

    ... OST would add 100% of the homework exercises and apply the label <i>standard practice</i> to them. 
    You can verify this by going to Learning Plan, then clicking <b>Preview Assignments</b>:</p>

    <p>    <p><%= image_tag("preview_default_scheduler.png", {:border => 1, :width => "70%", 
                          :title=>"topic"})%></p>  

   <% end %>

   <%= accordion_entry :title => "Other types of Schedulers" do %> 
   <p>If you like, you can create a custom Scheduler. Researchers who wish to 
    manipulate learning conditions can even use the Scheduler to apply different conditions to each homework assignment. 
    Before creating a custom Scheduler, we recommend you to review the help topics above, which explain how the 
    default Scheduler and other Schedulers work. This will help you build a custom Scheduler.</p>

  <%= render :partial => 'help/blurbs/other_schedulers' %>

  <% end %>

     <%= accordion_entry :title => "How to create a custom Scheduler" do %> 
   
   <ol>
    <li>Go to <b>Dashboard > your class > Learning Conditions</b>.</li>
    <p>
    <li>Under <b>Scheduler</b>, click <b>Edit</b>.</li>
    <p>
      <%= image_tag("edit_schedule.png", {:border => 1, :width => "70%", 
                          :title=>"schedule"})%></p>  
    <p>
    <li>In the first row (<i>n = 0 assignments ago</i>), under <b>Percent to draw</b>, enter an integer between 0 and 100. 
    This number represents the percentage of exercises OST will draw from each topic you add to a homework 
    assignment.</li> 
    <p>

    <p>
    <li>Do you want to automatically apply specific a feedback condition and/or presentation condition to all of these 
    exercises? If so, under <b>Labels to apply</b>, enter comma-separated labels that match the name of 
    the condition(s) you wish to activate.</li>  
    <p>

    <p>  
    <li>Do you want your Scheduler to automatically pull in exercises from previous topics? If not, click <b>Update Scheduler</b>. You're done!</li>
    <li>If you do want to pull in repetition practice exercises, click <b>Add a new row</b>.
    <p>

    <p>
    <li>In the second row (<i>n = 1 assignment ago</i>), under <b>Percent to draw</b>, enter an integer between 0 and 100. 
    This number represents the percentage of exercises OST will draw from each topic you added to the <u>previous</u> homework 
    assignment.</li>
    <p>

    <p>
    <li>Do you want to automatically apply a specific feedback condition and/or presentation condition to all of these exercises? 
    If so, under <b>Labels to apply</b>, enter comma-separated labels that match the name fo the condition(s) you wish to activate.</li>  
    <% end %>


  
<% end %>



<%= section "Feedback and Presentation Conditions", {:classes => 'no_bar'} do %>

    <%= accordion_entry :title => "Overview: how to customize your assignments' feedback and presentation" do %>

        <p>OpenStax Tutor makes it easy to customize your assignments' feedback and presentation. You'll 
          follow these general steps:</p>

        <ol>

          <li>Create any number of feedback and/or presentation conditions.</li>
          <p>
          <li>Attach the name of a condition (its <i>label</i>) to the applicable exercise/assignment.</li>
          <p>
          <li>Re-order the learning conditions so that the conditions you want to apply first are listed first.</li>
        </ol>

          <p>When your assignment is built, each exercise's labels are matched against your feedback and presentation 
            conditions. If/when a matching feedback condition is found, its rules are used to determine how/when feedback is given
            for that exercise. 
            And if/when a matching presentation condition is found, its rules are used to determine the presentation of that 
            exercise. 
        </p>

        <p>The below help tutorials will explain how to create conditions, re-order conditions, and apply labels to exercises and 
          assignments to trigger learning conditions.</p>

     <% end %>    

       <%= accordion_entry :title => "Overview of feedback conditions" do %>
      <p> Feedback conditions control how and when OST presents feedback/solutions.

allow you to set what kind of feedback students receive as they work assignments 
        in OST. Create feedback conditions to define the following:</p> 
      <ol>
        <li>When will feedback become available?</li>
        <p>
        <li>Is viewing required to receive full credit for the exercise?</li> 
        <p>
        <li>What level -- no feedback, just the answer, a high-level explanation? -- of feedback will students see?</li>
        <p>
        <li>Does every student group receive the same type of feedback, at the same time, or do different 
          students receive different feedback?</li>
      </ol>
      <p>Using <%= SITE_NAME %>, you can create multiple feedback conditions and apply them to different 
        exercises: for example, create different feedback conditions for homework exercises than for test exercises.</p> 
<% end %>

       <% if false %>   
           <%= accordion_entry :title => "Create custom feedback conditions" do %>
 
           <em><p>Step 1: Create new feedback condition.</p></em>
           <ol>
             <li>Go to <strong>Dashboard > Class > Learning Conditions</strong>.</li>
             <li>In the Feedback Conditions section, click <strong>Add New Feedback Condition</strong>.</li>
             <li>In the pop up dialog box, select <strong>Basic</strong> feedback condition and 
               click <strong>Choose</strong>.</li>
             <li>You have just created an empty feedback condition.</li>
           </ol>

           <p><em>Step 2: Edit feedback condition.</em></p>
             <ol>
             <li>Find the feedback condition you want to edit and click <strong>Edit</strong>.</li> 
               <%= image_tag("feedback7.png", {:border => 1, :width => "70%", :height => "70%",
                  :title=>"new feedback condition"})%>
             <li>Complete the <strong>Feedback Condition Editing</strong> form:</li>
               <p>
               <ul>
                 <li><strong>Match Labels Against field</strong>: The label you enter here must 
                   match the label of the exercise(s) you want to receive this feedback condition. 
                   (<%= link_to "Read more about labels.", help_learning_conditions_path(:anchor => "labels") %>) </li>
                 <p>
                 <li><strong>Feedback credit field</strong>: check this box to make viewing feedback
                    <em>mandatory</em> for credit.</li>
                 <p>
                 <li><strong>Feedback presentation field</strong>: check this feedback presentation 
                   box to show students feedback automatically, or leave it unchecked to make students 
                   manually click on feedback page to view.</li>
                 <p>  
                 <li><strong>Set timing options</strong> by answering the prompts.</li>
                 <p>
               </ul>
             <li>Click <strong>Update</strong> to save.</li>
             <li>Create as many feedback conditions as you need.</li>
             <% end %>
            <% end %>


      <% if false %> 
             <%= accordion_entry :title => "Use labels to control feedback conditions" do %>
             Use labels to control when the site applies feedback conditions
             <p> must specify which feedback conditions apply to what exercises.
               <ol>
                 <li>Create a feedback condition and assign it a unique label.</li>
                 <li>Attach that same feedback label to <em>all exercises you want to receive that
                    feedback condition</em><br/></li>
                <li>Each additional feedback condition you create should have a different label.</li> 
               </ol>

             <p>When a student completes an exercise, <%= SITE_NAME %> looks at the exercise labels 
               and searches for a matching feedback condition label. When a matching feedback condition
                is found, its rules are used to determine how feedback is given. </p>

             <ul>
             </li><strong>Example 1</strong>: if a student completes an exercise labeled 
             <em>Homework</em>, and there is a feedback condition labeled <em>Homework</em>, 
             <%= SITE_NAME %> will apply the <em>Homework</em> feedback condition to that exercise.</li>
             <p>
             </li><strong>Example 2</strong>: if a student completes an exercise labeled 
             <em>Test</em>, and there is no feedback condition matching that exercise label,
              <%= SITE_NAME %> cannot apply a feedback condition. The student will <em><strong>not</strong></em>
               receive feedback for that exercise.</li>
             <p>
             </ul>
             <% end %>
       <% end %>
   
   <% if false %>
       <%= accordion_entry :title => "Attach feedback labels to exercises or assignments" do %>
             <p>Once you have defined a feedback condition, attach the feedback label to all exercises 
               you want to receive this feedback condition.</p>
             <p>As students complete each exercise, <%= SITE_NAME %> will search for matching exercise and
                feedback labels. When a matching feedback condition is found, its rules are used to determine 
              how feedback is presented.</p>
             <%= render :partial => 'help/blurbs/attach_feedback_label_to_exercises' %>
       <% end %>
  <% end %>
   
<% end %>

  <%= section "Presentation Conditions", {:classes => 'no_bar'} do %>
         <%= accordion_entry :title => "Overview of presentation conditions" do %>
         <%= render :partial => 'help/blurbs/presentation_conditions' %>
         <% end %>
  <% end %>


</div>

<% navitem { link_to "Back to Help", help_path } %>