<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Getting Started for Students" %>

<p>Welcome to <%= SITE_NAME %>! This help page will guide you through creating an account, registering for a class and completing assignments in OST. 
  Click on the below links to learn more about each help topic. Be sure to check out our <%= link_to "video tutorials", help_student_tutorials_path %>, too.</p>

  <p>As always, feel free to <%= email_link "support", "email our friendly support team" %> if you 
  need one-on-one help.</p>

<div class="accordion" id="accordion2" style="padding-top:20px;">

<%= section "General", {:classes => 'first no_bar'} do %>
  
      <%= accordion_entry :title => "Browser requirements" do %>
        <%= render :partial => 'help/blurbs/browser_reqs'%>
      <% end %>

      <%= accordion_entry :title => "Sign up for #{SITE_NAME}" do %>    
        <%= render :partial => 'help/blurbs/sign_up'%>
      <% end %>

      <%= accordion_entry :title => "Register for a class" do %>
              <%= render :partial => 'help/blurbs/student_register_screencast'%>
        <%= render :partial => 'help/blurbs/register_for_a_class'%>
      <% end %>

    <%= accordion_entry :title => "Participating in a Duke learning study" do %>  
      <%= render :partial => 'help/blurbs/consent_video'%>

<% end %>


<% end %>

<%= section "Assignments", {:classes => 'first no_bar'} do %>

      <%= accordion_entry :title => "Assignments Pt. 1: Access assignments" do %>
          <%= render :partial => 'help/blurbs/student_assignments_screencast'%>
              <%= render :partial => 'help/blurbs/access_assignments'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 2: Assignments overview" do %>
          <%= render :partial => 'help/blurbs/student_assignment_overview_screencast'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 3: Multiple-choice questions" do %>
          <%= render :partial => 'help/blurbs/student_multiple_choice_screencast'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 4: Two-part questions" do %>
          <%= render :partial => 'help/blurbs/student_two_part_screencast'%>
      <% end %>

      <%= accordion_entry :title => "Assignments Pt. 5: Upload work via smart phone/tablet" do %>
          <%= render :partial => 'help/blurbs/student_camera_phone_screencast'%>
       <% end %>

   <%= accordion_entry :title => "Assignments Pt. 6: Viewing feedback" do %> 
      <p>Coming soon!</p>
      <% end %>
  
      <%= accordion_entry :title => "Viewing scores" do %>
        <%= render :partial => 'help/blurbs/grades'%>
      <% end %>
      
      <%= accordion_entry :title => "How OST calculates scores" do %>
        <%= render :partial => 'help/blurbs/calc_grade'%>
        
        <p>You always have an A in our book. But when it comes to class grades, final determinations about grades are
        up to your instructor.</p>
      <% end %>

  <% end %>

  <%= section "OpenStax Tutor Analytics", {:classes => 'first no_bar'} do %>
  

    <%= accordion_entry :title => "Learning Analytics" do %>
        
    <p>Have you checked out your personal Analytics page yet? Go to <b>Dashboard > Class > Analytics</b> and behold!
      Analytics give you a handy visual representation of how you are doing on each topic. As you work other problems in these topics 
      throughout the class, your Analytics will update automatically.</p>

            <%= image_tag("student_analytics.png", {:border => 1, :title=>"analytics"})%>
  <% end %>
  <% end %>


</div>





<% navitem { link_to "Back to Help", help_path } %> 