<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
    
<%= pageHeading "Video Tutorials for Students" %>

    <div class="accordion" id="accordion2" style="padding-top:20px;">
      <%= section "Tutorials", {:classes => 'first no_bar'} do %>
        <%= accordion_entry :title => "Getting Started: How to register for a class" do %>
          <%= render :partial => 'help/blurbs/student_register_screencast'%>
          <p>This tutorial will guide you through registering for OST and registering for a class.<p/> 
          <br>(0:09) How to create an account
          <br>(0:30) Good to know when creating an account
          <br>(1:00) What to do if you don't receive a confirmation email
          <br>(1:12) How to register for a class
          <br>(2:16) How to access the class page via the Dashboard

      <% end %>

        <%= accordion_entry :title => "Getting Started: How to access assignments" do %>
          <%= render :partial => 'help/blurbs/student_assignments_screencast'%>

          <p>This tutorial will show you how to access assignments in OST. </p> 

          <br>Accessing assignments via email notifications (0:01
          <br>Accessing assignments manually via OST website (0:20)
          <br>Overview of main assignment page (0:33)
      <% end %>
      
      
        <%= accordion_entry :title => "Getting Started: How to show your work on free-response questions" do %>
          <%= render :partial => 'help/blurbs/student_ff_screencast'%>

          <p>This tutorial will guide you through showing your work on free-response questions.</p> 

          <br>(0:06) Enter a draft answer in text or LaTeX math notation 
          <Br>(0:31) Attach an image (gif, jpg, jpeg, png or pdf) 
          <br>(0:45) Edit, delete, or reorder your answers 
          <br>(1:15) Turn in your free-form work
      <% end %>

      <%= accordion_entry :title => "Getting Started: How to upload your work via smart phone/tablet" do %>
          <%= render :partial => 'help/blurbs/student_camera_phone_screencast'%>
       <% end %>
<% end %>        