<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Getting Started for Students" %>

<p>Welcome to <%= SITE_NAME %>! This help page will guide you through creating an account, registering for a class and completing assignments in OST. Click on the below links to learn more about each help topic. </p>

<div class="accordion" id="accordion2" style="padding-top:20px;">

  <%= accordion_entry :title => "Sign up for #{SITE_NAME}" do %>    
    <%= render :partial => 'help/blurbs/sign_up'%>
  <% end %>

  <%= accordion_entry :title => "Register for a class" do %>
    <%= render :partial => 'help/blurbs/register_for_a_class'%>
  <% end %>

  <%= accordion_entry :title => "How to access assignments" do %>
    <%= render :partial => 'help/blurbs/access_assignments'%>
  <% end %>
  
  <%= accordion_entry :title => "How to complete assignments" do %>
    <%= render :partial => 'help/blurbs/complete_assignments'%>
  <% end %>
  
  <%= accordion_entry :title => "How to view scores on assignments" do %>
    <%= render :partial => 'help/blurbs/grades'%>
  <% end %>
  
  <%= accordion_entry :title => "How #{SITE_NAME} calculates scores" do %>
    <%= render :partial => 'help/blurbs/calc_grade'%>
  <% end %>

</div>





<% navitem { link_to "Back to Help", help_path } %> 