<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<%= pageHeading "Video Tutorials for Students" %>

<p style="width: 600px">Calling all visual learners! Sit back and watch as we walk you through 
  how to use OpenStax Tutor, step by step.</p>

    <div class="accordion" id="accordion2" style="padding-top:20px;">

        <%= accordion_entry :title => "Register for a class" do %>
          <%= render :partial => 'help/blurbs/student_register_screencast'%>
      <% end %>

        <%= accordion_entry :title => "Assignments Pt. 1: Access assignments" do %>
          <%= render :partial => 'help/blurbs/student_assignments_screencast'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 2: Assignments overview" do %>
          <%= render :partial => 'help/blurbs/student_assignment_overview_screencast'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 3: Multiple-choice questions" do %>
          <%= render :partial => 'help/blurbs/student_multiple_choice_screencast'%>
      <% end %>

       <%= accordion_entry :title => "Assignments Pt. 4: Two-part questions" do %>
          <%= render :partial => 'help/blurbs/student_two_part_screencast'%>
      <% end %>
      
      <%= accordion_entry :title => "Assignments Pt. 5: Upload work via smart device (camera phone, tablet)" do %>
          <%= render :partial => 'help/blurbs/student_camera_phone_screencast'%>
       <% end %>

       <%= accordion_entry :title => "Participating in a learning study" do %>
          <%= render :partial => 'help/blurbs/consent_video'%>
       <% end %>

</div>   

<% navitem { link_to "Back to Help", help_path } %> 