<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>
    
<%= pageHeading "Video Tutorials for Students" %>

<p style="width: 600px">Calling all visual learners! Sit back and watch as we walk you through 
  how to use OpenStax Tutor, step by step.</p>

    <div class="accordion" id="accordion2" style="padding-top:20px;">

        <%= accordion_entry :title => "Getting Started: How to register for a class" do %>
          <%= render :partial => 'help/blurbs/student_register_screencast'%>

      <% end %>

        <%= accordion_entry :title => "Getting Started: How to access assignments" do %>
          <%= render :partial => 'help/blurbs/student_assignments_screencast'%>
      <% end %>
      
      
        <%= accordion_entry :title => "Getting Started: How to show your work on free-response questions" do %>
          <%= render :partial => 'help/blurbs/student_ff_screencast'%>
      <% end %>

      <%= accordion_entry :title => "Getting Started: How to upload your work via smart phone/tablet" do %>
          <%= render :partial => 'help/blurbs/student_camera_phone_screencast'%>
       <% end %>

       <%= accordion_entry :title => "Getting Started: Participating in a learning study" do %>
          <%= render :partial => 'help/blurbs/consent_video'%>
       <% end %>

</div>   

<% navitem { link_to "Back to Help", help_path } %> 