<p>Welcome to OpenStax Tutor! This help page will describe how to get started 
   in <%= SITE_NAME %>. Check out our introductory screencast, or simply select 
   from the links below.</p>
 
<p>Screencast -- Register for a class, access assignments, complete assignments, 
   view feedback, view grades</p> 

<div class="accordion" style="padding-top:20px;">
  <%= accordion_entry :title => "Sign up for OpenStax Tutor" do %>
    <p>
      (((Would be good to add some notes -- can't change your user name / name later, use an email you often use, etc -- to the join now page)))
    <p>
    <%= render :partial => 'help/blurbs/sign_up'%>
  <% end %>

  <%= accordion_entry :title => "Register for a class" do %>
    <%= render :partial => 'help/blurbs/register_for_a_class'%>
  <% end %>

  <%= accordion_entry :title => "How to access assignments" do %>
    <%= render :partial => 'help/blurbs/access_assignments'%>
  <% end %>

  <%= accordion_entry :title => "How to complete assignments" do %>
    <%= render :partial => 'help/blurbs/complete_assignments'%>
  <% end %>

  <%= accordion_entry :title => "Grades" do %>
    <%= render :partial => 'help/blurbs/grades'%>
  <% end %>
</div>


<% navitem { link_to "Back to Help", help_path } %>

