<%= pageHeading "Help | Topics" do %>
<% end %>

Overview of topics<br/>
Create a new topic<br/>
Rename or delete a topic<br/>
Add, edit or delete resources in a topic<br/>
Add, edit or delete exercises in a topic<br/>
Re-order exercises and resources<br/>
Add concept tags to an exercise<br/>

<%= section "Overview of topics" do %>

In OST, the topics section is where you add course materials, including exercises and resources.<p>
   
  <p>A topic can be understood in 2 ways: </p>   
    (a) <strong>a topic is a group of related exercises and resources</strong>; and <br/>
    (b) <strong>a topic is a building block of an assignment</strong>. <br/>

<% end %>

<%= section "Topics interface" do %>

Screencast.  
  
<% end %>

<%= section "Create a new topic" do %>
  <ol>
  <li>In the Learning Plan, under Topics, click "Add new topic...";</li>
    <center>
      <%= image_tag("newtopic1.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
    </center>
  <li>Double click the New Topic 1 box that appears to begin adding course materials. </li>
    <center>
      <%= image_tag("newtopic5.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
    </center>
  
<% end %>  

<%= section "Rename or delete a topic" do %>
  <ol>
  <li>Hover your mouse over topic until orange edit and trash icons appear;</li>
  <center>
  <%= image_tag("newtopic5arrow.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <li><em>Delete a topic</em> by clicking the trash icon and clicking OK.</li>
  <li><em>Rename a topic</em> by clicking the pencil icon and entering new name in the text box that appears; </li>
  <center>
  <%= image_tag("edit_topic2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <li>Save new name by hitting Enter on your keyboard.</li>
  
    
<% end %>    
  
<%= section "Add, edit or delete resources in a topic" do %>
<ol>
  <li>Double click the topic box you want to populate; </li>
  <center>
    <%= image_tag("newtopic5.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <li>To add resources, click "Add..." on the first line;</li>
  <center>
    <%= image_tag("add_resources.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <li>Enter full resource URL, resource description, and notes, then click Create Resource to close;</li>
  <br/>
  <center>
    <%= image_tag("newtopic4.png", {:border => 1, :width => "40%", :height => "40%", :title=>"create new topic"})%>
  </center>
  <br/>
  <li>Repeat steps above to add as many resources as necessary; </li>  
  <li>Edit a resource by hovering your mouse over the resource link, until the orange edit/trash buttons appear;</li>
  <br/>
  <center>
    <%= image_tag("edit_topic4.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <br/>
  <li>Click the pencil icon to edit the resource; or</li>
  <li>Click the trash icon to delete the resource.</li>
  
<% end %>  

<%= section "Add, edit or delete exercises in a topic" do %> 
<ol>
  <li>Double click the topic box you want to populate; </li>
  <center>
    <%= image_tag("newtopic5.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  
  <li>To add exercises, click "Add..." on the second line;</li>
  	<center>
  	  <%= image_tag("add_exercises.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  	</center>
  </li>
  <li>Enter the full exercise URL. If applicable, check whether the exercise is reserved for a test and select any applicable concept tag. To save the exercise, click Create Topic Exercise;</li>
    <br/>
  	<center>
  		<%= image_tag("newtopic6.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  	</center>
  	<br/>
  </li>
  <li>Repeat steps above to add as many exercises as necessary.</li>	
  <li>Edit an exercise by hovering your mouse over the resource link, until the orange edit/trash buttons appear;</li>
  <br/>
  <center>
    <%= image_tag("edit_topic3.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </center>
  <br/>
  <li>Click the pencil icon to edit the exercise; or</li>
  <li>Click the trash icon to delete the exercise.</li>
  
  </ol>
<% end %>

<%= section "Re-order a list of exercises and resources" do %>

<%= render :partial => 'help/blurbs/reorder' %>

<% end %>

<%= section "Add a concept tag to an exercise" do %>

<p>Adding a concept tag to an exercise requires two separate processes: (1) create the concept tag and (2) link the concept tag to an exercise. The below tutorial describes both processes.</p>
<ol>
  <li><em>Create the concept tag</em> by navigating to the Concepts section of the Learning Plan;</li>
  <center>
		<%= image_tag("concept1.png", {:border => 1, :width => "80%", :height => "70%", :title=>"create new concept"})%>
	</center>
  <li>Click on New Concept;</li>
  <center>
		<%= image_tag("concept2.png", {:border => 1, :width => "80%", :height => "70%", :title=>"create new concept"})%>
	</center>
  <li>Type the concept name in the text box and click Create Concept to save;</li>
  <li>Return to the Topics section of the Learning Plan and open the topic where you will add the concept tag;</li>
  <li>Open the exercise requiring a concept tag (may be you need to add a new exercise, or edit an existing exercise) </li>
  <li><em>Add the concept tag to the exercise</em> by clicking on Choose a Concept and selecting the relevant topic;</li>
  <br/>
  <center>
		<%= image_tag("concept3.png", {:border => 1, :width => "80%", :height => "80%", :title=>"create new concept"})%>
	</center>
  <br/>
  <li>Click Update Topic exercise to save. Your concept should now appear next to your exercise.</li>
  <br/>
  <center>
		<%= image_tag("concept4.png", {:border => 1, :width => "80%", :height => "80%", :title=>"create new concept"})%>
	</center>
  <br/>
</ol>
<% end %>

