<%= pageHeading "Help | Topics" do %>
<% end %>

<p>This help page describes, in order, the steps involved in populating your Topics section.</p>

<%= link_to "Overview of topics", "#overview_topics" %><br/>
<%= link_to "Add course materials to Connexions and Quadbase", "#add_content"%><br/>
<%= link_to "Organize and sequence course materials into topics", "#organize_content"%><br/>
<%= link_to "Create a new topic", "#create_new_topic" %><br/>
<%= link_to "Rename or delete a topic", "#rename_or_delete" %><br/>
<%= link_to "Add resources to a topic", "#resources" %><br/>
<%= link_to "Add exercises to a topic", "#exercises" %><br/>
<%= link_to "Mark exercise as a test", "#mark_test"%><br/>
<%= link_to "Edit or delete an exercise or resource", "#edit_or_delete_exercise_or_resource" %><br/>
<%= link_to "Re-order exercises and resources", "#reorder" %><br/>
<%= link_to "Attach concept tag to an exercise", "#concept_tags" %><br/>
<%= link_to "Refresh Exercises to synchronize changes from Quadbase", "#refresh_exercises"%>

<p></p>

<div class ="Heading" id="overview_topics"><strong>Overview of Topics</strong></div>

<p>The Topics section is where you will add links to course materials, organized into <em>topics</em>.</p>

<p>A topic is both: 
<ul>
  <li>A group of related exercises and resources; and (Can we add a link to show this pop up? topic_map.png)</li>  
  <li>A building block of an assignment. (show assignment1.png)</li>
</ul>

<div class ="Heading" id="add_content"><strong>Add course materials to Connexions and Quadbase</strong></div>

<%= render :partial => 'help/blurbs/plan_content' %>    
  
<div class ="Heading" id="organize_content"><strong>Organize and sequence course materials into topics</strong></div>  
<p>Next, organize your course materials into topics.</p>

<%= render :partial =>'help/blurbs/organize_topics'%>
  
<div class ="sectionHeading" id="create_new_topic"><strong>Create a new topic</strong></div>
  <ol>
  <li>Go to <strong>Dashboard > Class > Learning Plan > Topics</strong>.</li>
  <p>
  <li>Click <strong>Add new topic</strong>.</li>
  </ol>
<p>

<div class ="sectionHeading" id="rename_or_delete"><strong>Rename or delete a topic</strong></div>
<p>Note that you cannot delete a topic once it has been assigned.</p>
  <ol>
    <li>Move mouse over the topic you want to rename or delete.</li>
      <%= image_tag("newtopic5arrow.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
    <li>Click the <strong>trash icon</strong> to delete topic and all associated resources and exercises.</li>
    <p>
    <li>Or click the <strong>pencil icon</strong> to rename the topic.</li>
      <%= image_tag("edit_topic2.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
    <li>Enter new topic name and hit Return on your keyboard to save.</li>
    </ol>
        <p>

  
<div class ="sectionHeading" id="resources"><strong>Add resources to a topic</strong></div>
<p>
<ol>
  <li>Double click the topic you want to populate; </li>
    <%= image_tag("newtopic5.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  <li>Click <strong>Add</strong> resources;</li>
    <%= image_tag("add_resources.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  <li>Copy the full URL of the <%= link_to "Connexions", "http://www.cnx.org" %> module and paste into the URL box.</li>
  <p>
  <li>Enter optional resource description and notes, then click <strong>Create Resource</strong>.</li>
  <br/>
    <%= image_tag("newtopic4.png", {:border => 1, :width => "40%", :height => "40%", :title=>"create new topic"})%>
  <br/>
  <li>Repeat steps above as necessary.</li>  
  </ol>  
  

<div class ="sectionHeading" id="exercises"><strong>Add exercises to a topic</strong></div> 
<p>
<ol>
  <li>Double click the topic you want to populate.</li>
    <%= image_tag("newtopic5.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>  
  <li>Click <strong>Add...</strong> exercises.</li>
  	  <%= image_tag("add_exercises.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%></li>
  <li>Copy and paste the exercise URL from Quadbase.</li>
  <p>
  <li>Mark whether the exercise is reserved for a test, if applicable.</li>
  <p>
  <li><%= link_to "Attach a concept tag", "#concept_tags" %>, if applicable.</li>
  <p>
  <li>Click <strong>Create Topic exercise</strong>.</li>
  <br>
  		<%= image_tag("newtopic6.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
  </li>
  <li>Repeat steps above to add as many exercises as necessary.</li>	
</ol>


<div class ="sectionHeading" id="mark_test"><strong>Mark exercise as a test</strong></div>
<p>Marking an exercise as a test means it will be reserved for tests only.</p>
<ol>
  <li>Double click the topic containing the exercise you want to mark as a test.</li>
  <p>
  <li>Hover mouse over exercise to reveal edit/trash icons.</li>
  <p>
  <li>Click the <strong>orange pencil icon</strong> to edit exercise properties.</li>
  <p>
  <li>Mark <strong>This exercise is reserved for use in tests.</strong></li>
  <p>
  <li>Click Update.</li>
</ol>

<div class ="sectionHeading" id="edit_or_delete_exercise_or_resource"><strong>Edit or delete an exercise or resource from a topic </strong></div>  
<p>Note that, once a topic has been assigned to students, you cannot delete any exercises from that topic.</p>  
  <ol>
    <li>Move your mouse over the relevant resource/exercise.</li>
    <br/>
      <%= image_tag("edit_topic3.png", {:border => 1, :width => "60%", :height => "60%", :title=>"create new topic"})%>
    <br/>
    <li>Click the <strong>pencil icon</strong> to open the Edit dialog box; or</li>
    <p> 
    <li>Click the <strong>trash icon</strong> to delete the item.</li>
  </ol>
<p>

<div class ="sectionHeading" id="reorder"><strong>Re-order a list of exercises and resources</strong></div>

<p>By default, <%= SITE_NAME %> will pull exercises and resources into assignments <em>in the same order they are arranged</em>.</p>

<%= render :partial => 'help/blurbs/reorder' %>

<p>

<div class ="sectionHeading" id="concept_tags"><strong>Attach concept tag to an exercise</strong></div>
<p>
<%= render :partial => 'help/blurbs/concepts'%>

<div class ="sectionHeading" id="refresh_exercises"><strong>Use Refresh Exercises to synchronize changes from Quadbase</strong></div>
<p>
<%= render :partial => 'help/blurbs/refresh_exercises'%>

<p>To refresh exercises to the latest version from Quadbase, go to <strong>Dashboard > Class > Learning Plan</strong> and click <strong>Refresh Exercises</strong>.</p>
