<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Help | Topics"  %>

<p>This help page describes the steps involved in populating the 
  Topics section of the Learning Plan. Click the links below to learn more.</p>

<div class="accordion" id="accordion2" style="padding-top:20px;">

<%= section "General Topics Overview", {:classes => 'first no_bar'} do %>  
  <%= accordion_entry :title => "What is a topic?" do %>
    <p>The Topics section is where you will add links to course materials, 
      organized into <em>topics</em>. 
    <p>A topic is both:</p> 
    <ul>
      <li>A group of related exercises and resources. </li>  
      <li>A building block of an assignment.</li>
    </ul>        
    Here is an example topic:</p>
      <%= image_tag("example_topic.png", {:border => 1, :width => "95%", 
                          :title=>"topic"})%></p></p>
    <p>A typical class might have <%= link_to_help 'example_topics_section',
       text="10-15 topics", 
       {:title => 'Example Topics Section', :width => '700', :height => '700'} %> 
       but how you organize your topics is up to you. 
       <strong>Ultimately, you will assign a topic, or multiple topics, as 
      homework</strong>.</p>
  <% end %>

  <%= accordion_entry :title => "Where to host course materials you assign in OST" do %>
    <%= render :partial => 'help/blurbs/plan_content' %>    
  <% end %>

  <%= accordion_entry :title => "Types of exercises you can assign" do %>
  <%= render :partial => 'help/blurbs/supported_exercises' %>
  <p>Exercises must be hosted in an OST-compatible repository. Email 
    <%= email_link "support", "support@openstaxtutor.org" %> for more 
    information about the repository for exercises and assessments.</p> 
  <% end %>

  <%= accordion_entry :title => "Organize course materials into topics" do %>
    <%= render :partial =>'help/blurbs/organize_topics'%>
  <% end %>
<% end %>

<%= section "Populating the Topics section", {:classes => 'first no_bar'} do %>
  <%= accordion_entry :title => "Create a new topic" do %>
    <ol>
      <li>Go to <strong>Dashboard > Class > Learning Plan > Topics</strong>.</li>
      <p>
      <li>Click <strong>Add new topic</strong>.</li>
        <%= image_tag("newtopic1.png", {:border => 1, :width => "50%", 
          :title=>"create new topic"})%>
        <li>You have created an empty topic. <strong>Double click</strong> the topic to add
           resources and exercises.</li>
      </ol>
  <% end %>

  <%= accordion_entry :title => "Add resources to a topic" do %>
    <ol>
      <li>If you haven't yet created a topic, do so. (See Create a New Topic, above.)</li>  
      <p>
      <li><strong>Double click</strong> the topic name you want to populate.</li>
      <p>
        <%= image_tag("newtopic5.png", {:border => 1, :width => "100%", 
          :height => "100%", :title=>"add resources"})%>
      <li>Click <strong>Add...</strong> resources;</li>
      <p>
        <%= image_tag("add_resources.png", {:border => 1, :width => "60%", 
           :title=>"add resources"})%></p>
      <li>Copy the full URL of the resource, e.g. a Connexions module, and
         paste into URL box. </li>
      <p>
      <li>Enter optional resource description and notes, then click <strong>Create
         Resource</strong>.</li>
      <br/>
      <%= image_tag("newtopic4.png", {:border => 1, :width => "80%", :height => 
        "80%", :title=>"create resource"})%>
      <br/>
      <li>Repeat steps above to add additional resources.</li>  
    </ol>
  <% end %>

  <%= accordion_entry :title => "Add exercises to a topic" do %>
    <p>This section explains how to add exercises to the Topics 
      section.</p>
    <ol>
      <li>If you haven't created a topic yet, do so. (See Create a New Topic 
        above.)</li>  
      <p>
      <li><strong>Double click</strong> the topic you want to populate.</li>
      <p>
     <%= image_tag("newtopic5.png", {:border => 1, :width => "100%", :title=>"add exercise"})%>  
      <li>Click <strong>Add...</strong> exercises.</li>
      <p>
    	  <%= image_tag("add_exercises.png", {:border => 1, :width => "60%", 
    	    :title=>"add exercise"})%></p>
        <li>In the Add an Exercise box, copy and paste the exercise URL.</li>
        </li>
        <p>
        <li>Mark if the exercise is reserved for a test, if applicable.</li>
        <p>
        <li>Optional: <%= link_to_help 'concepts', text="Attach a 
        concept tag.", {:title => 'Concept Tags', :width => '500'} %></p></li>
        <p>
        <li>Click <strong>Create Topic exercise</strong>.</li>
    	  <p>
        <li>Repeat steps above to add additional exercises.</li>	
  </ol>
  <% end %>
  
  <%= accordion_entry :title => "Rename or delete a topic" do %>
    <ol>
      <li>Move mouse over the topic you want to rename or delete.</li>
      <p>
      <li>The above action reveals the edit and trash icons.</li>
        <%= image_tag("newtopic5arrow.png", {:border => 1, :width => "100%",
           :height => "100%", :title=>"rename delete"})%>
      <li>Click the <strong>trash icon</strong> to delete topic and all associated 
        resources and exercises.</li>
      <p>
      <li>Or click the <strong>pencil icon</strong> to rename the topic.</li>
        <%= image_tag("edit_topic2.png", {:border => 1, :width => "100%", :height =>
           "100%", :title=>"rename delete"})%>
      <li>Enter new topic name and hit Return on your keyboard to save.</li>
      </ol>
  <% end %>
  
  <%= accordion_entry :title => "Edit exercise properties or delete exercise" do %>
  <ol>
    <li>Move your mouse over the relevant resource/exercise.</li>
    <li>The above action reveals the edit and trash icons.</li>
    <br/>
      <%= image_tag("edit_topic3.png", {:border => 1, :width => "100%", :height => 
        "100%", :title=>"create new topic"})%>
    <br/>
    <li>Click the <strong>pencil icon</strong> to open the Edit exercise dialog box,
       allowing you to edit the exercise link, test settings or add a concept tag.</li>
    <p> 
    <li>OR click the <strong>trash icon</strong> to delete the item.</li>
  </ol>
  <% end %>
  
  <%= accordion_entry :title => "Mark exercise as a test question" do %>
    <p>To add a <em>new</em> test question, review the help topic <strong>Add Exercises to a Topic</strong> (above).</p>
    
    <p>To retroactively mark an exercise as a test:</p>
  <ol>
    <li><strong>Double click</strong> the topic containing the exercise.</li>
    <p>
    <li>Hover mouse over exercise to reveal edit/trash icons.</li>
    <p>
    <li>Click the <strong>pencil icon</strong> to edit exercise properties.</li>
    <p>
    <li>Mark <strong>This exercise is reserved for use in tests.</strong></li> 
    <p>
    <li>Click <strong>Update</strong>.</li>
  </ol>
  <% end %>
  
  <%= accordion_entry :title => "Reorder exercises and resources" do %>
    <p>By default, <%= SITE_NAME %> will pull exercises and resources into assignments 
      <em>in the order they are listed</em>.</p>
    <%= render :partial => 'help/blurbs/reorder' %>
  <% end %>

  <%= accordion_entry :title => "Attach concept tag to an exercise" do %>
    <%= render :partial => 'help/blurbs/concepts'%>
  <% end %>
<% end %>

<% if false %>
<%= section "Synchronize changes from Quadbase", {:classes => 'first no_bar'} do %>  

  <%= accordion_entry :title => "Refresh Exercises" do %>
    <%= render :partial => 'help/blurbs/refresh_exercises'%>
    
    <p>To refresh exercises, go to <strong>Dashboard > Class > Learning Plan</strong> and click <strong>Refresh Exercises</strong>.</li>
    <%= image_tag("refreshexercises.png", {:border => 1, :width => "100%", :height=> "100%"})%>    
        
  <% end %>
<% end %>
<% end %>
</div>

<% navitem { link_to "Back to Help", help_path } %>
