<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<span style="float:right; font-size:10px"><%= standard_datetime(Time.zone.now) %></span>

<%= section "Login as:" do %>
  <ul>
    <% User.all.each do |user| %>
      <li><%= link_to user.username, user_become_path(user), :method => :post %></li>
    <% end %>
  </ul>
<% end %>

<%= section "Reset Time" do %>
  <%= button_to 'Reset', 
                dev_reset_time_path,
                :method => :put,
                :remote => true %>
<% end %>

<%= section "Freeze Time" do %>
  <%= form_tag(dev_freeze_time_path, 
               :method => :post,
               :remote => true) do %>
    <div class="field">
      Offset Days:<br />
      <%= text_field_tag :offset_days %>
    </div>
    <%= submit_tag %>
  <% end %>
<% end %>

<%= section "Time Travel" do %>

  <%= form_tag(dev_time_travel_path, 
               :method => :post,
               :remote => true)  do %>
    <div class="field">
      New Time:<br />
      <%= datetime_text_field_tag :new_time, nil %>
      <%= select_tag 'time_zone', time_zone_options_for_select('Pacific Time (US & Canada)',  ActiveSupport::TimeZone.us_zones) %>
      
      
    </div>
    <%= submit_tag %>

  <% end %>
<% end %>

