<%= form_for(@organization_manager) do |f| %>
  <% if @organization_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_manager.errors.count, "error") %> prohibited this organization_manager from being saved:</h2>

      <ul>
      <% @organization_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
