<h1>Listing organization_managers</h1>

<table>
  <tr>
    <th>Organization</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organization_managers.each do |organization_manager| %>
  <tr>
    <td><%= organization_manager.organization_id %></td>
    <td><%= organization_manager.user_id %></td>
    <td><%= link_to 'Show', organization_manager %></td>
    <td><%= link_to 'Edit', edit_organization_manager_path(organization_manager) %></td>
    <td><%= link_to 'Destroy', organization_manager, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization manager', new_organization_manager_path %>
