<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @organization_manager.organization_id %>
</p>

<p>
  <b>User:</b>
  <%= @organization_manager.user_id %>
</p>


<%= link_to 'Edit', edit_organization_manager_path(@organization_manager) %> |
<%= link_to 'Back', organization_managers_path %>
