<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @errors = @cohort.errors %>

<% klass = @klass || @cohort.klass %>

<%= form_for([@klass, @cohort]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Section (optional)<br/>
    <%= f.select(:section_id, 
                     options_from_collection_for_select(klass.sections, :id, :name, 
                                                        @cohort.section.nil? ? nil : @cohort.section.id),  
                     :prompt => "Choose a section")%>
  </div>
  
  
  <div class="actions">
    <%= f.submit :class => 'link_button' %>
  </div>
<% end %>
