<p id="notice"><%= notice %></p>

<p>
  <b>Section:</b>
  <%= @cohort.section_id %>
</p>

<p>
  <b>Number:</b>
  <%= @cohort.number %>
</p>


<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
