<% feedback_conditions    = learning_condition.feedback_conditions %>
<% feedback_conditions_id = "feedback_conditions_#{learning_condition.id}" %>

<div id="<%= feedback_conditions_id %>">
  
  <% if feedback_conditions.empty? %>
    <p>No feedback conditions yet</p>
  <% else %>
            
    <% feedback_conditions.each do |feedback_condition| %>
      <div id="feedback_condition_<%= feedback_condition.id %>" class="sortable_item_entry lp_item_info" style="margin-top: 15px">
        <%= render :partial => "#{view_dir(feedback_condition)}/show", :locals => {:feedback_condition => feedback_condition} %>

        <%= link_to "Edit", edit_feedback_condition_path(feedback_condition) %> |
        <%= link_to "Delete", feedback_condition_path(feedback_condition), 
                              :method  => :delete, 
                              :remote  => true,
                              :confirm => "Are you sure?" %> &nbsp;&nbsp;
        <%= content_tag(:span, "", :class => "ui-icon ui-icon-arrow-4 handle",
                                   :style => 'display:inline-block; height: 14px') %>
      </div>
    <% end %>
    
     <% content_for :javascript do %>
        <%= javascript_tag do %>
          $('#<%= feedback_conditions_id %>').sortable({
             dropOnEmpty: false,
             handle: '.handle',
             items: 'div.sortable_item_entry',
             opacity: 0.7,
             scroll: true,
             update: function(){
                $.ajax({
                   type: 'post',
                   data: $('#<%= feedback_conditions_id %>').sortable('serialize'),
                   dataType: 'script',
                   url: '<%= sort_learning_condition_feedback_conditions_path(learning_condition) %>'
                });
             }
          }).disableSelection();
        <% end %>
      <% end %>
    
  <% end %>

</div>

<%= link_to "Add a New Feedback Condition",
            learning_condition_feedback_conditions_path(learning_condition),
            :method => :post %>
