<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% lcfcs       = learning_condition.learning_condition_feedback_conditions %>
<% lcfc_div_id = "learning_condition_feedback_conditions_#{learning_condition.id}" %>

<div id="<%= lcfc_div_id %>">
  <p><i>NOTE: Only the default Presentation Condition will match an Execise without labels!</i></p>

  <% if lcfcs.empty? %>
    <p>No feedback conditions yet</p>
  <% else %>
            
    <% lcfcs.each do |lcfc| %>
      <div id="learning_condition_feedback_condition_<%= lcfc.id %>" class="sortable_item_entry lp_item_info" style="margin-top: 15px">
        <%= render partial: "learning_condition_feedback_conditions/show", 
                   locals:  { learning_condition_feedback_condition: lcfc } %>

        <%= link_to "Edit", edit_learning_condition_feedback_condition_path(lcfc) %> |
        <%= link_to "Delete", learning_condition_feedback_condition_path(lcfc), 
                              :method  => :delete, 
                              :remote  => true,
                              :confirm => "Are you sure?" %> &nbsp;&nbsp;
        <%= content_tag(:span, "", :class => "ui-icon ui-icon-arrow-4 handle",
                                   :style => 'display:inline-block; height: 14px') %>
      </div>
    <% end %>
    
     <% content_for :javascript do %>
        <%= javascript_tag do %>
          $('#<%= lcfc_div_id %>').sortable({
             dropOnEmpty: false,
             handle: '.handle',
             items: 'div.sortable_item_entry',
             opacity: 0.7,
             scroll: true,
             update: function(){
                $.ajax({
                   type: 'post',
                   data: $('#<%= lcfc_div_id %>').sortable('serialize'),
                   dataType: 'script',
                   url: '<%= sort_learning_condition_learning_condition_feedback_conditions_path(learning_condition) %>'
                });
             }
          }).disableSelection();
        <% end %>
      <% end %>
    
  <% end %>

  <% lcdfc = learning_condition.learning_condition_default_feedback_condition %>
  <p><i>The following Feedback Condition will be unconditionally used as a default (its regex will be ignored)
        if no other Feedback Conditions matches an Exercise:</i></p>
  <div id="learning_condition_default_feedback_condition_<%= lcdfc.id%>" class="sortable_item_entry lp_item_info" style="margin-top: 15px">
    <%= render partial: "learning_condition_default_feedback_conditions/show",
               locals:  { learning_condition_default_feedback_condition: lcdfc } %>
    <%= link_to "Edit", edit_learning_condition_default_feedback_condition_path(lcdfc) %>
  </div>

</div>

<%= link_to "Add a New Feedback Condition",
            learning_condition_learning_condition_feedback_conditions_path(learning_condition),
            :method => :post %>
