<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% presentation_conditions = learning_condition.presentation_conditions %>
<% lcpc_div_id = "presentation_conditions_#{learning_condition.id}" %>

<div id="<%= lcpc_div_id %>">
  
  <% if presentation_conditions.empty? %>
    <p>No presentation conditions yet</p>
  <% else %>
            
    <% presentation_conditions.each do |presentation_condition| %>
      <div id="presentation_condition_<%= presentation_condition.id %>" class="sortable_item_entry lp_item_info" style="margin-top: 15px">
        <%= render :partial => "presentation_conditions/show", :locals => {:presentation_condition => presentation_condition} %>

        <%= link_to "Edit", edit_presentation_condition_path(presentation_condition) %> |
        <%= link_to "Delete", presentation_condition_path(presentation_condition), 
                              :method  => :delete, 
                              :remote  => true,
                              :confirm => "Are you sure?" %> &nbsp;&nbsp;
        <%= content_tag(:span, "", :class => "ui-icon ui-icon-arrow-4 handle",
                                   :style => 'display:inline-block; height: 14px') %>
      </div>
    <% end %>
    
     <% content_for :javascript do %>
        <%= javascript_tag do %>
          $('#<%= lcpc_div_id %>').sortable({
             dropOnEmpty: false,
             handle: '.handle',
             items: 'div.sortable_item_entry',
             opacity: 0.7,
             scroll: true,
             update: function(){
                $.ajax({
                   type: 'post',
                   data: $('#<%= lcpc_div_id %>').sortable('serialize'),
                   dataType: 'script',
                   url: '<%= sort_learning_condition_presentation_conditions_path(learning_condition) %>'
                });
             }
          }).disableSelection();
        <% end %>
      <% end %>
    
  <% end %>

</div>

<%= link_to "Add a New Presentation Condition",
            learning_condition_presentation_conditions_path(learning_condition),
            :method => :post %>
