<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% lcpcs       = learning_condition.learning_condition_presentation_conditions %>
<% lcpc_div_id = "learning_condition_presentation_conditions_#{learning_condition.id}" %>

<div id="<%= lcpc_div_id %>">
  <% if lcpcs.empty? %>
    <p>No presentation conditions yet</p>
  <% else %>
    <% lcpcs.each do |lcpc| %>
      <div id="learning_condition_presentation_condition_<%= lcpc.id %>" class="sortable_item_entry lp_item_info" style="margin-top: 15px">
        <%= render partial: "learning_condition_presentation_conditions/show", 
                   locals:  { learning_condition_presentation_condition: lcpc } %>

        <%= link_to "Edit", edit_learning_condition_presentation_condition_path(lcpc) %> |
        <%= link_to "Delete", learning_condition_presentation_condition_path(lcpc), 
                              :method  => :delete, 
                              :remote  => true,
                              :confirm => "Are you sure?" %> &nbsp;&nbsp;
        <%= content_tag(:span, "", :class => "ui-icon ui-icon-arrow-4 handle",
                                   :style => 'display:inline-block; height: 14px') %>
      </div>
    <% end %>
    
     <% content_for :javascript do %>
        <%= javascript_tag do %>
          $('#<%= lcpc_div_id %>').sortable({
             dropOnEmpty: false,
             handle: '.handle',
             items: 'div.sortable_item_entry',
             opacity: 0.7,
             scroll: true,
             update: function(){
                $.ajax({
                   type: 'post',
                   data: $('#<%= lcpc_div_id %>').sortable('serialize'),
                   dataType: 'script',
                   url: '<%= sort_learning_condition_learning_condition_presentation_conditions_path(learning_condition) %>'
                });
             }
          }).disableSelection();
        <% end %>
      <% end %>
    
  <% end %>

  <% lcdpc = learning_condition.learning_condition_default_presentation_condition %>
  <div id="learning_condition_default_presentation_condition_<%= lcdpc.id%>" class="lp_item_info" style="margin-top: 15px">
    <%= render partial: "learning_condition_default_presentation_conditions/show",
               locals:  { learning_condition_default_presentation_condition: lcdpc } %>
    <%= link_to "Edit", edit_learning_condition_default_presentation_condition_path(lcdpc) %>
  </div>
</div>

<%= link_to "Add a New Presentation Condition",
            learning_condition_learning_condition_presentation_conditions_path(learning_condition),
            :method => :post %>
