<%= pageHeading "Learning Conditions" %>

<p><%= link_to "Here be dragons!", "http://en.wikipedia.org/wiki/Here_be_dragons" %></p>

<p>We strongly advise that you chat with the OpenStax team before making a bunch 
   of changes here, as the settings below strongly impact the experience that your
   students will have on <%= SITE_NAME %>.</p>

<% @klass.cohorts.each do |cohort| %>
  
  <%= section "Cohort: #{cohort.name}" do %>
        
    <% learning_condition = cohort.learning_condition %>
        
    <%= sub_section "Scheduler" do %>
    
      <% scheduler = learning_condition.scheduler %>
      
      <div id="scheduler">
        <% if scheduler.nil? %>
          <p>No scheduler selected</p>
        <% else %>
          <%= render :partial => "#{view_dir(scheduler)}/show", :locals => {:scheduler => scheduler} %>
        <% end %>
      </div>
      
      <br/>
      <%= link_to 'Edit', edit_scheduler_path(scheduler) if !scheduler.nil? %> |
      <%= link_to scheduler.nil? ? 'Choose ...' : 'Change ...', 
                  new_learning_condition_scheduler_path(learning_condition),
                  :remote => true %>

    <% end %>
    
    <%= sub_section "Feedback Rules" do %>
    
    <% end %>
    
  <% end %>

<% end %>

<% navitem { link_to "Class", klass_path(@klass) }%>