<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assignment_plan_id %><br />
    <%= f.number_field :assignment_plan_id %>
  </div>
  <div class="field">
    <%= f.label :cohort_id %><br />
    <%= f.number_field :cohort_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
