<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learning_plan_id %><br />
    <%= f.number_field :learning_plan_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_test %><br />
    <%= f.check_box :is_test %>
  </div>
  <div class="field">
    <%= f.label :is_open_book %><br />
    <%= f.check_box :is_open_book %>
  </div>
  <div class="field">
    <%= f.label :is_group_work_allowed %><br />
    <%= f.check_box :is_group_work_allowed %>
  </div>
  <div class="field">
    <%= f.label :is_ready %><br />
    <%= f.check_box :is_ready %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
