<%= pageHeading(full_section_name(@section) + " Assignments")%>

<table class="list" width="90%">
  <tr>
    <th width="5%"></th>
    <th width="65%">Title</th>
    <th width="15%">Starts</th>
    <th width="15%">Ends</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.lesson.number %>.</td>
    <td><%= link_to_if(assignment.active?, assignment.lesson.title, assignment) %></td>
    <td><%= standard_date(assignment.start_date) %></td>
    <td><%= standard_date(assignment.end_date) %></td>
  </tr>
<% end %>
</table>

<br />

<% @show_section_link = true %>
