<p id="notice"><%= notice %></p>

<p>
  <b>Learning plan:</b>
  <%= @assignment.learning_plan_id %>
</p>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Is test:</b>
  <%= @assignment.is_test %>
</p>

<p>
  <b>Is open book:</b>
  <%= @assignment.is_open_book %>
</p>

<p>
  <b>Is group work allowed:</b>
  <%= @assignment.is_group_work_allowed %>
</p>

<p>
  <b>Is ready:</b>
  <%= @assignment.is_ready %>
</p>

<p>
  <b>Introduction:</b>
  <%= @assignment.introduction %>
</p>

<p>
  <b>Starts at:</b>
  <%= @assignment.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @assignment.ends_at %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
