<%
  assignment_plan = @assignment.assignment_plan
  klass = @assignment.cohort.klass
%>


<%= pageHeading("Assignment: #{assignment_plan.name}", 
                {:sub_heading_text => klass.name}) %>

<% if !@student_assignment.blank? %>
  <%= render :partial => 'shared/response_times',
             :locals => {:response_timeable => @student_assignment,
                         :page => "assignment"} %>
<% end %>

<% important_message = "Due: #{standard_datetime(assignment_plan.ends_at)}" %>

<% important_message += "<br/><br/>This assignment is #{assignment_plan.is_open_book ? 'OPEN' : 'CLOSED' } book." %>

<%= important(important_message.html_safe) %>

<%= section "Introduction", {:classes => 'first no_bar' } do %>

  <%= simple_format assignment_plan.introduction %>

<% end %>

<%= section "Study Resources", {:classes => 'no_bar'} do %>

  <% no_resources = true %>

  <% assignment_plan.assignment_plan_topics.resources_visible.each do |apt| %>
    <% topic = apt.topic %>
    <% resources = topic.resources %>
    
    <% if resources.any? %>
      <% no_resources = false %>
      <b><%= topic.name %></b>
      
      <ol>
        <% resources.each do |resource| %>
          <li><%= link_to resource.name.blank? ? resource.url : resource.name, 
                          resource.url,
                          :class => 'activity_link' %></li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
  
  <% if no_resources %>
    <p>There are no resources for this assignment</p>
  <% end %>

<% end %>

<%#= @activity_zones[0] %>

<% if !@student_assignment.blank? %>
  <%= section "Coworkers", {:classes => 'no_bar'} do %>
    <% if !assignment_plan.is_group_work_allowed %>
      You may not work in groups on these exercises.
    <% else %>
      <p>I worked with the following students on this assignment: 
         (<%= link_to "Add coworkers...", 
                      new_student_assignment_assignment_coworker_path(@student_assignment), 
                      :remote => true %>)
        <br/>
        <span style="margin-left:15px" id="coworker_list">
          <% @student_assignment.assignment_coworkers.each do |coworker| %>
            <%= render :partial => 'assignment_coworkers/entry', :locals => {:coworker => coworker} %>
          <% end %>
        </span>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= section "Exercises", {:classes => 'no_bar'} do %>

  <% if @student_assignment.blank? %>
    <p>This assignment has <%= pluralize(@assignment.assignment_exercises.count, "exercise") %>.</p>
    <p>You cannot see or work the exercises because you are not a student in this class.</p>
  <% else %>    
    <%= render :partial => 'student_exercises/list', 
               :locals => {:student_assignment => @student_assignment} %>  
  <% end %>

<% end %>

<% if klass.is_educator?(present_user) || Researcher.is_one?(present_user) || present_user.is_administrator? %>

  <%= section "Results" do %>
    <%= link_to_function "Click here if the results are clipped in your browser", 
                         "$('#outer').css('width','2000px');", 
                         :style => "font-size:9px; float:right;"%><br/>
  
    <% assignments = Assignment.where{assignment_plan_id == assignment_plan.id} %>
    
    <% assignments.each do |assignment| %>
    
      <%= sub_section "Cohort: #{assignment.cohort.name}" do %>
  
        <% num_exercises = assignment.assignment_exercises.count %>
    
        <% exercise_registered_right_counts = num_exercises.times.collect{0} %>
        <% exercise_registered_taken_counts = num_exercises.times.collect{0} %>
    
        <table class="list" width="100%" style="margin-top:10px">
          <tr>
            <th>Name</th>
            <% [*1..num_exercises].each do |ii| %>
            <th style="text-align:center"><%= ii.to_s %></th>
            <% end %>
          </tr>
      
          <% students = assignment.cohort.students.visible(present_user).std_sort(present_user) %>
      
          <% students.each do |student| %>
          <tr>
            <% sa = StudentAssignment.for_assignment(assignment).for_student(student).first %>
            <td>
              <%= link_to student.full_name(present_user), sa %> 
              <%= "(C)" if present_user.is_administrator? && student.consent.try(:did_consent) %>
            </td>
            <% if sa.nil? %>
              <td colspan="<%= num_exercises %>"><center>Not Started</center></td>
            <% else %>
              <% student_exercises = sa.student_exercises.sort_by!{|se| se.assignment_exercise.number} %>
              <% student_exercises.each_with_index do |se, ee| %>
                <td style="text-align:center">
                  <% if !se.free_response_submitted? %>
                    <%= image_tag 'empty_circle_v2.png' %>              
                  <% elsif !se.selected_answer_submitted? %>
                    <%= image_tag 'half_filled_circle_v2.png' %>              
                  <% else %>
                    <% if se.is_correct? %>
                      <% if se.was_submitted_late %>
                        <%= image_tag 'red_check_v2.png' %>
                      <% elsif se.feedback_credit_multiplier == 0 %>
                        <%= image_tag 'inverted_green_check_v2.png'%>
                      <% else %>
                        <%= image_tag 'green_check_v2.png' %>
                      <% end %>
                      <% exercise_registered_right_counts[ee] += 1 if student.registered? %>
                    <% else %>
                      <%= image_tag 'red_x_v2.png' %>
                    <% end %>
                    <% exercise_registered_taken_counts[ee] += 1 if student.registered? %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
          <tr>
            <td>Correct % (Registered Students)</td>
            <% [*0..num_exercises-1].each do |ee| %>
              <% pct = exercise_registered_taken_counts[ee] == 0 ? 
                       "--" : 
                       exercise_registered_right_counts[ee] * 100 / exercise_registered_taken_counts[ee] %>
              <td style="text-align:center"><%= pct %></td>
            <% end %>
          </tr>
        </table>
        
      <% end # sub_section %>
      
    <% end # assignments.each %> 
  <% end # results section %>
  
  <center>
    <%= image_tag 'empty_circle_v2.png', :style => "vertical-align:middle" %> = Not started, 
    <%= image_tag 'half_filled_circle_v2.png', :style => "vertical-align:middle" %> = Free-form locked, 
    <%= image_tag 'red_x_v2.png', :style => "vertical-align:middle" %> = Wrong<br/>
    <%= image_tag 'green_check_v2.png', :style => "vertical-align:middle" %> = Right,
    <%= image_tag 'inverted_green_check_v2.png', :style => "vertical-align:middle" %> = Right, but missing feedback credit,
    <%= image_tag 'red_check_v2.png', :style => "vertical-align:middle" %> = Right but late
  </center>        
  

<% end %>

<%
  navitem { link_to "Class", klass_path(klass) }
%>

