<%# Copyright 2011-2014 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "show"}} %>
<% addTestMeta {{:major_name => @assignment.cohort.klass.course.name}} %>
<% addTestMeta {{:minor_name => @assignment.assignment_plan.name}} %>

<%
  assignment_plan = @assignment.assignment_plan
  klass = @assignment.cohort.klass
%>


<%= pageHeading("Assignment: #{assignment_plan.name}", 
                {:sub_heading_text => klass.name}) %>

<% if !@student_assignment.blank? %>
  <%= render :partial => 'shared/response_times',
             :locals => {:response_timeable => @student_assignment,
                         :page => "assignment"} %>
<% end %>

<% important_message = "Due: #{standard_datetime(assignment_plan.ends_at)}" %>

<% important_message += "<br/><br/>This assignment is #{assignment_plan.is_open_book ? 'OPEN' : 'CLOSED' } book." %>

<%= important(important_message.html_safe) %>

<%= section "Introduction", {:classes => 'first no_bar introduction' } do %>

  <%= simple_format assignment_plan.introduction %>

<% end %>

<%= section "Study Resources", {:classes => 'no_bar resources'} do %>

  <% no_resources = true %>

  <% assignment_plan.assignment_plan_topics.resources_visible.each do |apt| %>
    <% topic = apt.topic %>
    <% resources = topic.resources %>
    
    <% if resources.any? %>
      <% no_resources = false %>
      <b><%= topic.name %></b>
      
      <ol>
        <% resources.each do |resource| %>
          <li><%= link_to resource.name.blank? ? resource.url : resource.name, 
                          resource.url,
                          :class => 'activity_link' %></li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
  
  <% if no_resources %>
    <p>There are no resources for this assignment</p>
  <% end %>

<% end %>

<%#= @activity_zones[0] %>

<% if !@student_assignment.blank? %>
  <%= section "Coworkers", {:classes => 'no_bar coworkers'} do %>
    <% if !assignment_plan.is_group_work_allowed %>
      You may not work in groups on these exercises.
    <% else %>
      <p>I worked with the following students on this assignment: 
         (<%= link_to "Add coworkers...", 
                      new_student_assignment_assignment_coworker_path(@student_assignment), 
                      :remote => true %>)
        <br/>
        <span style="margin-left:15px" id="coworker_list">
          <% @student_assignment.assignment_coworkers.each do |coworker| %>
            <%= render :partial => 'assignment_coworkers/entry', :locals => {:coworker => coworker} %>
          <% end %>
        </span>
      </p>
    <% end %>
  <% end %>
<% end %>

<% if !@student_assignment.blank? %>
  <%= section "Your Exercises", {:classes => 'no_bar exercises'} do %>
    <%= render :partial => 'student_exercises/list', 
               :locals => { :student_assignment   => @student_assignment,
                            :show_feedback_status => true } %>
  <% end %>
<% end %>

<% if @authority %>
  <% assignment_exercises = @assignment.assignment_exercises
                                       .includes(:topic).to_a
     total_count = assignment_exercises.count
     survey_count = assignment_exercises.select{|ae| ae.topic.is_survey}.count
     non_survey_count = total_count - survey_count %>
  <%= section "Exercises", {:classes => 'no_bar exercises', :collapsible => true, :collapsed => true} do %>
    <p>This assignment has <%= pluralize(@assignment.assignment_exercises.count, "exercise") %>.</p>
    <%= render 'questions', :assignment => @assignment %>
  <% end %>
<% end %>

<% if @authority %>
  <%= render 'results', :assignment_plan => assignment_plan %>
<% end %>

<%
  navitem { link_to "Class", klass_path(klass) }
  navitem(:can_read_children?, @assignment, :grades) { link_to "Grades", grades_assignment_path(@assignment, :format => :xls) }
%>



