<%= form_for(@feedback_condition) do |f| %>
  <% if @feedback_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback_condition.errors.count, "error") %> prohibited this feedback_condition from being saved:</h2>

      <ul>
      <% @feedback_condition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learning_condition_id %><br />
    <%= f.number_field :learning_condition_id %>
  </div>
  <div class="field">
    <%= f.label :settings %><br />
    <%= f.text_area :settings %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
