<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% assignment_event = FeedbackCondition::AvailabilityEvent[feedback_condition.availability_event].to_s.humanize.downcase %>
<ul>
  <li>Id: <%= feedback_condition.id || "N/A" %></li>
  <li>Matches labels against: <%= feedback_condition.label_regex || "[Not set]" %></li>
  <li>Matches correctness against: <%= FeedbackCondition::ExerciseCorrectnessOption[feedback_condition.exercise_correctness_option].to_s.humanize %></li>
  <li>Feedback viewing is required?: <%= tf_to_yn(feedback_condition.is_feedback_required_for_credit) %></li>
  <li>Feedback viewing penalty: <%= feedback_condition.feedback_viewing_penalty || 0 %>%</li>
  <li>Can automatically show feedback?: <%= tf_to_yn(feedback_condition.can_automatically_show_feedback) %></li>
  <li>Feedback becomes available: 
    <%= 
      case feedback_condition.availability_opens_option
      when FeedbackCondition::AvailabilityOpensOption::NEVER
        "Never" 
      when FeedbackCondition::AvailabilityOpensOption::IMMEDIATELY_AFTER_EVENT
        "Immediately after #{assignment_event}"
      when FeedbackCondition::AvailabilityOpensOption::DELAY_AFTER_EVENT
        "#{feedback_condition.availability_opens_delay_days} days after #{assignment_event}"
      end
    %>
  </li>
  <li>Feedback stops being available for credit: 
    <%=
      case feedback_condition.credit_closes_option
      when FeedbackCondition::CreditClosesOption::DELAY_AFTER_OPEN
        "#{feedback_condition.credit_closes_delay_days} days after becoming available"
      else
        "When feedback stops being accessible"
      end
    %>
  </li>
  <li>Feedback stops being accessible: 
    <%= 
      case feedback_condition.availability_closes_option
      when FeedbackCondition::AvailabilityClosesOption::NEVER
        "Never"
      when FeedbackCondition::AvailabilityClosesOption::DELAY_AFTER_OPEN
        "#{feedback_condition.availability_closes_delay_days} days after becoming available"
      end
    %>
  </li>
  <li>Show answer correctness?: <%= tf_to_yn(feedback_condition.show_correctness_feedback) %></li>
  <li>Show correct answer?: <%= tf_to_yn(feedback_condition.show_correct_answer_feedback) %></li>
  <li>Show high-level explanation?: <%= tf_to_yn(feedback_condition.show_high_level_feedback) %></li>
  <li>Show detailed explanation?: <%= tf_to_yn(feedback_condition.show_detailed_feedback) %></li>
</ul>
