<h1>Listing feedback_conditions</h1>

<table>
  <tr>
    <th>Learning condition</th>
    <th>Settings</th>
    <th>Type</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedback_conditions.each do |feedback_condition| %>
  <tr>
    <td><%= feedback_condition.learning_condition_id %></td>
    <td><%= feedback_condition.settings %></td>
    <td><%= feedback_condition.type %></td>
    <td><%= feedback_condition.number %></td>
    <td><%= link_to 'Show', feedback_condition %></td>
    <td><%= link_to 'Edit', edit_feedback_condition_path(feedback_condition) %></td>
    <td><%= link_to 'Destroy', feedback_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback condition', new_feedback_condition_path %>
