<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @include_timepicker = true %>

<%= pageHeading "Join #{SITE_NAME}"%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% @errors = resource.errors %>

  <p>First Name<br/>
  <%= f.text_field :first_name %></p>

  <p>Last Name<br/>
  <%= f.text_field :last_name %></p>

  <p>Username<br/>
  <%= f.text_field :username %></p>

  <p>Email<br />
  <%= f.email_field :email %></p>

  <p>Email Confirmation<br />
  <%= f.email_field :email_confirmation %></p>

  <p>Password<br />
  <%= f.password_field :password %></p>

  <p>Password Confirmation<br />
  <%= f.password_field :password_confirmation %></p>
  

  <p class="field">
    <%= t(:time_zone) %><br />
    <%= f.time_zone_select( 'time_zone', 
                            ActiveSupport::TimeZone.us_zones, 
                            :default => Time.zone) %>
  </p>

  <% if @enable_recaptcha %>
  <p><%= recaptcha_tags :ssl => true %></p>
  <% end %>
  
  <div style="padding-top:20px">

  <% contract_links = @contracts.collect do |contract|
     link_to contract.title, show_terms_path(contract), remote: true
   end %>

  <%= check_box_tag(:agreement_checkbox) %> 
  I have read this site's <%= contract_links[0] %> and <%= contract_links[1] %> and agree to be bound by their terms.
  </div>
  
  <div style="padding: 10px 0"><%= f.submit "Sign up", :id => 'register_submit', :class => "ui-state-default ui-state-disabled link_button" %></div>
<% end %>

<br/><br/>
<%= render "devise/shared/links" %>


<%# JS to enable/disable the submit button dependent on if the agree checkbox is checked %>
<% content_for :javascript do %>
  <%= javascript_tag do %>
  
  function disable_button(id) {
     $(id).attr('disabled', 'disabled');
     $(id).addClass('ui-state-disabled ui-button-disabled');
     $(id).attr('aria-disabled', true);
  }
  
  function enable_button(id) {
    $(id).removeAttr('disabled');
    $(id).removeAttr('aria-disabled');
    $(id).removeClass('ui-state-disabled ui-button-disabled');
    $(id).button();
  }
  
  $(document).ready(function() {
    disable_button('#register_submit');
    
    $('#agreement_checkbox').live('click', function() {
       if ($('#agreement_checkbox').is(':checked')) {
         enable_button('#register_submit');
       } 
       else {
         disable_button('#register_submit');
       }
    });
    
  });
  <% end %>
<% end %>


