<% @include_timepicker = true %>

<%= pageHeading "Join #{SITE_NAME}"%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% @errors = resource.errors %>

  <p>First Name<br/>
  <%= f.text_field :first_name %></p>

  <p>Last Name<br/>
  <%= f.text_field :last_name %></p>

  <p>Username<br/>
  <%= f.text_field :username %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  

  <p class="field">
    <%= t(:time_zone) %><br />
    <%= f.time_zone_select( 'time_zone', 
                            ActiveSupport::TimeZone.us_zones, 
                            :default => Time.zone) %>
  </p>

  <% if @enable_recaptcha %>
  <p><%= recaptcha_tags :ssl => true %></p>
  <% end %>
  
  <div style="padding-top:20px">
  <%= check_box_tag(:agreement_checkbox) %> 
  I have read the <%= link_to SiteLicense.latest.title, terms_path %> 
  and I agree to be bound by its terms.
  </div>
  
  <div style="padding: 10px 0"><%= f.submit "Sign up", :id => 'register_submit', :class => "ui-state-disabled", :disabled => true %></div>
<% end %>

<br/><br/>
<%= render "devise/shared/links" %>


<%# JS to enable/disable the submit button dependent on if the agree checkbox is checked %>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('#agreement_checkbox').live('click', function() {
       if ($('#agreement_checkbox').is(':checked')) {
          $('#register_submit').removeAttr('disabled');
          $('#register_submit').removeClass('ui-state-disabled');
       } 
       else {
          $('#register_submit').attr('disabled', 'disabled');
          $('#register_submit').addClass('ui-state-disabled');
       }
    });
  <% end %>
<% end %>


