
<%
  student = @klass.student_for(present_user) 
  student_exercises = StudentExercise.joins{student_assignment.student}
                                     .joins{assignment_exercise.topic_exercise.topic}
                                     .where{student_assignment.student.id == student.id}

  student_exercises_by_topic =
      student_exercises.group_by{|se| se.assignment_exercise.topic_exercise.topic}
%>

<% student_exercises_by_topic.each do |topic, student_exercises| %>

  <% num_exercises = student_exercises.count
     student_exercises = student_exercises.select{|se| se.automated_credit != nil}
     num_incomplete = num_exercises - student_exercises.count
     num_wrong = student_exercises.count{|se| se.automated_credit == 0}
     right_sum = student_exercises.sum{|se| se.automated_credit} %>

  <div class="analytics-topic">
    <div class="analytics-topic-name">
      <%= topic.name %>
    </div>
    <div class="analytics-topic-details">
      <div class="analytics-topic-data" id="topic_<%= topic.id %>">

        <script type="text/javascript">
          $(function () {
              var values = [<%= right_sum %>, <%= num_wrong %>, <%= num_incomplete %>],
                  labels = ['Correct', 'Wrong', 'Incomplete'],
                  colors = [get_os_color('green'), get_os_color('orange'), get_os_color('gray')],
                  options = {
                    stroke: {
                      width: 1,
                      color: get_os_color('blue')
                    },
                    font: {
                      color: '#000000',
                      size: 14
                    },
                    labels: {
                      'show-percent': true
                    }
                  }; 
              Raphael("topic_<%= topic.id%>", 230, 70).standaloneBar(18, 18, 180, 30, values, labels, colors, options);
          });
        </script>

      </div>
      <div class="analytics-topic-study">
      </div>
      <div class="analytics-topic-review">
      </div>
    </div>
  </div>
<% end %>