<p id="notice"><%= notice %></p>

<p>
  <b>Assignment:</b>
  <%= @assignment_exercise.assignment_id %>
</p>

<p>
  <b>Topic exercise:</b>
  <%= @assignment_exercise.topic_exercise_id %>
</p>

<p>
  <b>Number:</b>
  <%= @assignment_exercise.number %>
</p>


<%= link_to 'Edit', edit_assignment_exercise_path(@assignment_exercise) %> |
<%= link_to 'Back', assignment_exercises_path %>
