<%= pageHeading "Student Roster, #{@klass.course.name}" %>

<p>Students who have dropped out are shown in <span class="dropped_student">gray</span>.

<% num_sections = @klass.sections.count %>

<% name_width = 75 - (num_sections > 1 ? 15 : 0) - (present_user.is_administrator? ? 15 : 0) %>
<% num_columns = 4 - (num_sections > 1 ? 1 : 0)  - (present_user.is_administrator? ? 1 : 0) %>

<table class="list" width="90%">
  <tr>
    <% if num_sections > 1 %>
      <th width="15%">Section</th>
    <% end %>
    <th width="<%= name_width %>%">Name</th>
    <% if present_user.is_administrator? %><th width="15%">Research ID</th><% end %>
    <th width="25%">Status</th>
  </tr>

  <% @klass.sections.each do |section| %>
    <% if section.students.any? %>
      <% if num_sections > 1 %>
        <tr>
          <td colspan="<%= num_columns %>"><%= section.name %></td>
        </tr>
      <% end %>
      <% section.students.each do |student| %>
        <tr <%= "class='dropped_student'" if student.has_dropped? %>>
          <% if num_sections > 1 %>
            <td></td>
          <% end %>
          <td><%= link_to_if(present_user.can_read?(student), student.full_name(present_user), student) %></td>
          <% if present_user.is_administrator? %>
            <td><%= student.user.research_id %></td>
          <% end %>
          <td><%= student.is_auditing ? "AUDITING" : "REGISTERED" %>
        </tr>
      <% end %>
    <% end %>
  <% end %>

</table>


<% navitem { link_to "Class", klass_path(@klass) }%>
