<%= pageHeading "Student Roster, #{@klass.course.name}" %>

<% num_sections = @klass.sections.count %>

<table class="list" width="90%">
  <tr>
    <% if num_sections > 1 %>
      <th>Section</th>
    <% end %>
    <th>Name</th>
    <% if present_user.is_administrator? %><th>Research ID</th><% end %>
    <th>Status</th>
  </tr>

  <% @klass.sections.each do |section| %>
    <% if num_sections > 1 %>
      <tr>
        <td colspan=><%= section.name %></td>
      </tr>
    <% end %>
    <% section.students.each do |student| %>
      <tr>
        <% if num_sections > 1 %>
          <td></td>
        <% end %>
        <td><%= student.full_name %></td>
        <% if present_user.is_administrator? %>
          <td><%= student.user.research_id %></td>
        <% end %>
        <td><%= student.is_auditing ? "AUDITING" : "REGISTERED" %>
      </tr>
    <% end %>
  <% end %>

</table>

<% content_for :right_column do %>
  <%= link_to "Course Offering", klass_path(@klass) %>
<% end %>