<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading(@student.full_name(present_user), {:sub_heading_text => full_class_name(@student.section)}) %>

<%= section "Status", {:classes => 'first no_bar' } do %>
    <p><%= @student.full_name(present_user) %> has been assigned to the <%= @student.section.name %> section<%= " (in cohort #{@student.cohort.name})" if present_user.can_read_children?(@student.section.klass, :cohorts) %>.</p>

  <% if @student.has_dropped? %>
    <p><%= @student.full_name(present_user) %> has dropped this class.</p>  	
  <% elsif @student.registered? %>
    <p><%= @student.full_name(present_user) %> is fully registered for this class.</p>
  <% elsif @student.auditing? %>
   <p><%= @student.full_name(present_user) %> is auditing this class.</p>
  <% end %>
<% end %>

<% if present_user.can_read_children?(@student, :student_assignments) %>
  <%= section "Assignments" do %>
    <ol>
    <% @student.student_assignments.each do |student_assignment| %>
      <li><%= link_to student_assignment.assignment.assignment_plan.name, student_assignment %></li>
    <% end %>
    </ol>
  <% end %>
<% end %>

<% klass = @student.section.klass %>

<%
  navitem(:can_update?, @student) { link_to "Edit", edit_student_path(@student)}
  navitem(:can_read_children?, klass, :students) { link_to "Students", klass_students_path(klass) }
  navitem(:can_read?, klass) { link_to "Class", klass }
%>
