<%= form_for(@registration_request) do |f| %>
  <% if @registration_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration_request.errors.count, "error") %> prohibited this registration_request from being saved:</h2>

      <ul>
      <% @registration_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :is_auditing %><br />
    <%= f.check_box :is_auditing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
