<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "index"}} %>
<% addTestMeta {{:major_name => @klass.course.name}} %>
<% addTestMeta {{:minor_name => "Registration Request"}} %>

<%= pageHeading("#{@klass.course.name} Registration Requests")%>

<% multiple_sections = @klass.sections.count > 1 %>

<p>Here are your pending registration requests<%= " broken down by section" if multiple_sections %>.  Approve or reject using the buttons next to each listed request.  The requestor will be informed of your decision by email.</p>

<% if multiple_sections %>

  <% @klass.sections.each do |section| %>
    <%= section section.name do %>
      <%= render :partial => 'list', :locals => {:section => section} %>
    <% end %>
  <% end %>

<% else %>

  <%= render :partial => 'list', :locals => {:section => @klass.sections.first} %>

<% end %>


<% navitem { link_to "Class", @klass }%>