<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @errors = scheduler.errors %>

<%= form_for(scheduler.becomes(Scheduler)) do |f| %>

  <p>Use this form to edit the default Schedule, which prescribes how homework assignments are built. You may opt to use the default schedule or create a custom schedule, but your class <em><strong>must</strong></em> have a valid schedule. Without a schedule, your assignments will not build properly. </p>
  
  <p> <%= link_to_help 'schedule', text="Click here to
   learn how the Scheduler builds assignments.", {:title => 'Scheduler', :width => '900', :height => '800'} %></p> 
  
  <%= hidden_field_tag :type, 'PercentScheduler' %>
  
  <div id="schedules">
    <% (scheduler.schedules || []).each_with_index do |schedule, number| %>
    
      <%= render :partial => 'percent_schedulers/schedule', 
                 :locals => {:number => number, :schedule => schedule, :scheduler => scheduler} %>
      
    <% end %>    
  </div>

  <br/><br/>
  <%= link_to "Add a new schedule", percent_scheduler_add_schedule_path(scheduler), :method => :post, :remote => true %>
  <br/><br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>