<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @errors = presentation_condition.errors %>

<%= form_for presentation_condition do |f| %>

  <p>Presentation conditions let you control whether or not 
     multiple-choice exercises include 
     a <%= link_to_help 'question_format', text="a free-form component",  
     {:title => 'Adding a free-form component to multiple-choice exercises', :width => '700', :height => '700'} %>.
      <%= link_to "Learn more.", help_learning_conditions_path, :target => '_blank' %></p>

  <div class="field">
    Match Labels Against <%= link_to_help 'presentation_labels' %>:
    <%= f.text_field :label_regex %>
  </div>

  <div class="field">
    Require the following from the student:
    <div style="padding-left:15px">
      <%= f.check_box :requires_free_response %>
      Free-response answer
    </div>
  </div>
  
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>