
<div id="topic_<%= topic.id %>" class="lp_item_info">
  <span class="lp_item_heading">
    <%= best_in_place_if present_user.can_update?(topic), 
                         topic, :name, :type => :input, :activator =>  "#edit_topic_#{topic.id}" %>
  </span>
  
  <span class="lp_item_summary">
    <span class="hide_when_expanded">
      <%= pluralize(topic.resources.count, "Resource") %>, <%= pluralize(topic.topic_exercises.count, "Exercise") %>
    </span>
  </span>
  
  <span class="lp_item_buttons">
    <%= edit_button nil, {:small => true, :remote => true, :id => "edit_topic_#{topic.id}"} if present_user.can_update?(topic) %>    
    <%= trash_button topic, {:small => true, :remote => true} if present_user.can_destroy?(topic) %>
  </span>
  
  <div class="lp_item_body">
    
    <div class="lp_item_sub_section">
      <div class="left_text">Resources:</div>
      <%= link_to "Add...", new_topic_resource_path(topic), :remote => true %>
  
      <div id="topic_resources_<%= topic.id %>">
        <%= render :partial => 'resources/list', :locals => {:topic => topic} %>
      </div>
    </div>
    
    <div class="lp_item_sub_section">
      <div class="left_text">Questions:</div>
      <%= link_to "Add...", new_topic_topic_exercise_path(topic), :remote => true %>
      
      <div id="topic_exercises_<%= topic.id %>">
        <%= render :partial => 'topic_exercises/list', :locals => {:topic => topic} %>
      </div>
      
    </div>
  
  </div>
  
</div>

<% enable_best_in_place %>

