
<div id="topic_<%= topic.id %>" class="topic_info">
  <span class="topic_heading"><%= topic.name %></span>
  <span class="topic_summary">Resources: <%= topic.resources.count %>, Questions: <%= topic.topic_exercises.count %></span>
  
  <span class="topic_buttons">
    <%= edit_button topic, {:small => true, :remote => true} if present_user.can_update?(topic) %>    
    <%= trash_button topic, {:small => true, :remote => true} if present_user.can_destroy?(topic) %>
  </span>
  
  <div class="topic_body">
    
    <div class="topic_sub_section">
      <div class="left_text">Resources:</div>
      <%= link_to "Add...", new_topic_resource_path(topic), :remote => true %>
  
      <div id="topic_resources_<%= topic.id %>">
        <%= render :partial => 'resources/list', :locals => {:topic => topic} %>
      </div>
    </div>
    
    <div class="topic_sub_section">
      <div class="left_text">Questions:</div>
    </div>
  
  </div>
  
</div>

