
<div id="topic_<%= topic.id %>" class="topic_info">
  <span class="topic_heading">
    <%= best_in_place_if present_user.can_update?(topic), 
                         topic, :name, :type => :input, :activator =>  "#edit_topic_#{topic.id}" %>
  </span>
  
  <span class="topic_summary">
    Resources: <%= topic.resources.count %>, Questions: <%= topic.topic_exercises.count %>
  </span>
  
  <span class="topic_buttons">
    <%= edit_button nil, {:small => true, :remote => true, :id => "edit_topic_#{topic.id}"} if present_user.can_update?(topic) %>    
    <%= trash_button topic, {:small => true, :remote => true} if present_user.can_destroy?(topic) %>
  </span>
  
  <div class="topic_body">
    
    <div class="topic_sub_section">
      <div class="left_text">Resources:</div>
      <%= link_to "Add...", new_topic_resource_path(topic), :remote => true %>
  
      <div id="topic_resources_<%= topic.id %>">
        <%= render :partial => 'resources/list', :locals => {:topic => topic} %>
      </div>
    </div>
    
    <div class="topic_sub_section">
      <div class="left_text">Questions:</div>
    </div>
  
  </div>
  
</div>

<% enable_best_in_place %>

