<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Learning plan:</b>
  <%= @topic.learning_plan_id %>
</p>

<p>
  <b>Number:</b>
  <%= @topic.number %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
