<% addTestMeta{{:page_type => "admin console"}} %>

<%= pageHeading "Administrator's Console" %>

<ul>
  <li><%= link_to "Organizations", organizations_path %></li>
  <li><%= link_to "Run cron tasks", cron_path, :method => :put %></li>
  <li><%= link_to "User List", users_path %></li>
  <li><%= link_to "Terms", site_licenses_path %></li>
</ul>