<% @errors = @educator.errors %>

<%= form_for(@educator) do |f| %>

  <div class="field">
    What kind of educator is <%= @educator.user.full_name %>?<br/>
    <%= f.radio_button :type, :instructor %> Instructor <br/>
    <%= f.radio_button :type, :teaching_assistant %> Teaching Assistant <br/>
    <%= f.radio_button :type, :grader %> Grader
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
