<h1>Listing educators</h1>

<table>
  <tr>
    <th>Offered course</th>
    <th>User</th>
    <th>Is instructor</th>
    <th>Is teaching assistant</th>
    <th>Is grader</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @educators.each do |educator| %>
  <tr>
    <td><%= educator.offered_course_id %></td>
    <td><%= educator.user_id %></td>
    <td><%= educator.is_instructor %></td>
    <td><%= educator.is_teaching_assistant %></td>
    <td><%= educator.is_grader %></td>
    <td><%= link_to 'Show', educator %></td>
    <td><%= link_to 'Edit', edit_educator_path(educator) %></td>
    <td><%= link_to 'Destroy', educator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Educator', new_educator_path %>
