<h1>Listing assignment_topics</h1>

<table>
  <tr>
    <th>Assignment</th>
    <th>Topic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignment_topics.each do |assignment_topic| %>
  <tr>
    <td><%= assignment_topic.assignment_id %></td>
    <td><%= assignment_topic.topic_id %></td>
    <td><%= link_to 'Show', assignment_topic %></td>
    <td><%= link_to 'Edit', edit_assignment_topic_path(assignment_topic) %></td>
    <td><%= link_to 'Destroy', assignment_topic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment topic', new_assignment_topic_path %>
