<% can_be_updated = free_response.updatable? && present_user.can_update?(free_response) %>

<div id="free_response_<%= free_response.id %>">
  <div id="free_response_<%= free_response.id %>_errors"></div>

  <div class="free_response box">
    <%= render :partial => "#{view_dir(free_response)}/show", :locals => {:free_response => free_response} %>

    <% if can_be_updated %>
      <span class="option_buttons" style="float:right; visibility:hidden">
        <%= edit_button free_response.becomes(FreeResponse), {:small => true, :remote => true} %>
        <%= trash_button free_response.becomes(FreeResponse), {:small => true, :remote => true} %>
      </span>
    <% end %>
  </div>

</div>

<% if can_be_updated %>
  
  <% do_once('free_response_js') do %>
    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $('.free_response').live('mouseenter mouseleave', function(event) {
          $(this).children('.option_buttons:first')
                 .css('visibility', event.type == 'mouseenter' ? 'visible' : 'hidden');
        });
      <% end %>
    <% end %>
  <% end %>

<% end %>