<div id="exercise_response_show"> 

  <%= form_for(@student_exercise) do |f| %>

    <div class="field">
      Enter your free-form answer below.
      <%= f.text_area :free_response, :rows => 5, :style => "width:100%", :id => 'free_response' %>
      <span class="field_help" style="display:block">
        <ul class="field_help">
          <li>You can write math here in latex surrounded by dollar signs, e.g. \$x^2+1\$.</li>
          <li>Click <%= link_to_function "preview", "preview_response();", :class => "field_help" %>
        to test it.</li>
          <li>Or <%= link_to_function "open a popup to generate the latex for you", "OpenLatexEditor('free_response','latex','en-us',true,'','full')", :class => "field_help" %>. Click the "Copy to Document" button when you've finished writing the equation in the popup.</li>
          <li><i>Tip</i>: for less-than and greater-than, make sure to put spaces
        around the "&lt;" and "&gt;" signs so the browser doesn't think you're writing
        HTML.  Alternatively, use the "\lt" and "\gt" latex symbols.)</li>
        </ul>
      </span>
    </div>

    <div class="field">
      <p>How confident are you in this answer?</p>
      <p>This answer is...</p>
      <table width="100%">
        <tr>
          <% confidence_labels.each_with_index do |cl, ii| %>
            <td width="16.67%">
              <center>
                <%= f.radio_button :free_response_confidence, ii %></br/>
                <%= cl.sub("-","<br/>").html_safe %>
              </center>
            </td>        
          <% end %>        
        </tr>
      </table>
    </div>

    <center>
      <div class="actions" style="padding-top:10px">
        <%= f.submit "Save (but don't lock!)", 
                :name => "save", :class => 'link_button' %>&nbsp;&nbsp;&nbsp;
        <%= f.submit "Save (and lock!)", 
                :name => "save_and_lock",
                :class => 'link_button',
                :confirm => "After you lock your answer, you can no longer change it. " + 
                            "Are you sure you want to lock your answer?" %>
      </div>
    </center>

  <% end %>

</div>