<h1>Listing student_exercises</h1>

<table>
  <tr>
    <th>Student assignment</th>
    <th>Assignment exercise</th>
    <th>Content cache</th>
    <th>Free response</th>
    <th>Free response submitted at</th>
    <th>Free response confidence</th>
    <th>Selected answer</th>
    <th>Selected answer submitted at</th>
    <th>Was submitted late</th>
    <th>Automated credit</th>
    <th>Manual credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_exercises.each do |student_exercise| %>
  <tr>
    <td><%= student_exercise.student_assignment_id %></td>
    <td><%= student_exercise.assignment_exercise_id %></td>
    <td><%= student_exercise.content_cache %></td>
    <td><%= student_exercise.free_response %></td>
    <td><%= student_exercise.free_response_submitted_at %></td>
    <td><%= student_exercise.free_response_confidence %></td>
    <td><%= student_exercise.selected_answer %></td>
    <td><%= student_exercise.selected_answer_submitted_at %></td>
    <td><%= student_exercise.was_submitted_late %></td>
    <td><%= student_exercise.automated_credit %></td>
    <td><%= student_exercise.manual_credit %></td>
    <td><%= link_to 'Show', student_exercise %></td>
    <td><%= link_to 'Edit', edit_student_exercise_path(student_exercise) %></td>
    <td><%= link_to 'Destroy', student_exercise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student exercise', new_student_exercise_path %>
