<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<style type='text/css'>
  .box {
    visibility: visible; 
    overflow: hidden; 
    position: relative; 
    z-index: 2; 
    border: 1px solid #ccc; 
    padding: 15px; 
    width:560px;
    margin-top:10px;
  }

  .free_response {
    margin-bottom:14px;
  }
</style>

<%= render :partial => "header_info", :locals => { :student_exercise => @student_exercise } %>

<%= render :partial => "question", :locals => { :student_exercise => @student_exercise } %>

<% @errors = @student_exercise.errors %>

<% if @student_exercise.present_free_response_and_selected_answer? %>

        <% if false %>
  <%= section "Old Free Response", {:classes => 'no_bar', :collapsed => true, :collapsible => true} do %>
    <% if @student_exercise.free_response_submitted? %>
      <%= render :partial => "show_free_response", :locals => { :student_exercise => @student_exercise } %>
    <% else %>
      <%= render :partial => "input_free_response", :locals => { :student_exercise => @student_exercise } %>
    <% end %>
  <% end %>
        <% end %>

  <%= section "Your Answer", {:classes => 'no_bar'} do %>
    <div id="free_responses">
      <% @student_exercise.free_responses.each do |free_response| %>
        <%= render :partial => 'a_free_response', :locals => { :free_response => free_response, 
                                                               :editable => @student_exercise.free_responses_can_be_updated? } %>
      <% end %>
    </div>

    <div style="padding:10px">
      <center>
      <%= link_to "Add Text Answer", 
                  new_student_exercise_free_response_path(@student_exercise, {:type => 'TextFreeResponse'}), 
                  :remote => true %> | 
      <%= link_to "Upload photo(s)", nil, :remote => true %>
      </center>
    </div>

    <%= form_for(@student_exercise) do |f| %>
    <div class="field">
      <p>How confident are you in this answer?</p>
      <p>This answer is...</p>
      <table width="100%">
        <tr>
          <% confidence_labels.each_with_index do |cl, ii| %>
            <td width="16.67%">
              <center>
                <%= f.radio_button :free_response_confidence, ii %></br/>
                <%= cl.sub("-","<br/>").html_safe %>
              </center>
            </td>        
          <% end %>        
        </tr>
      </table>
    </div>

    <center>
      
      <div class="actions" style="padding-top:10px">
        <%= f.submit "Save (but don't lock!)", 
                :name => "save", :class => 'link_button' %>&nbsp;&nbsp;&nbsp;
        <%= f.submit "Save (and lock!)", 
                :name => "save_and_lock",
                :class => 'link_button',
                :confirm => "After you lock your answer, you can no longer change it. " + 
                            "Are you sure you want to lock your answer?" %>
      </div>

    </center>
    <% end %>
  <% end %>

  <% if @student_exercise.free_response_submitted? %>
    <%= section "Answer Verification", {:classes => 'no_bar'} do %>
      <% if @student_exercise.selected_answer_submitted? %>
        <%= render :partial => "show_selected_answer", :locals => { :student_exercise => @student_exercise } %>
      <% else %>
        <%= render :partial => "verify_free_response", :locals => { :student_exercise => @student_exercise } %>
      <% end %>
    <% end %>
  <% end %>

<% elsif @student_exercise.present_selected_answer_only? %>

  <%= section "Multiple Choice", {:classes => ''} do %>
    <% if @student_exercise.selected_answer_submitted? %>
      <%= render :partial => "show_selected_answer", :locals => { :student_exercise => @student_exercise } %>
    <% else %>
      <%= render :partial => "input_selected_answer", :locals => { :student_exercise => @student_exercise } %>
    <% end %>  
  <% end %>

<% else %>
  <% raise IllegalState, "The current StudentExercise presentation settings are not supported by this view" %>
<% end %>

<%= render :partial => 'shared/response_times', :locals => { :response_timeable => @student_exercise,
                                                             :page              => "work" } %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    function preview_text_free_response(form_id) {
      $.get('<%= preview_text_free_responses_path %>', $('#' + form_id).serializeArray());
      mark_time('ACTIVITY','preview');
    }

    function cancel_free_response_edit(id) {
      if (confirm('Are you sure you want to discard your changes?')) {
        $('#free_response_form_' + id).remove();
        $('#free_response_' + id).show();
      }
    }
  <% end %>
<% end %>

<%= protect_form %>

<% navitem{ link_to 'Show Assignment', assignment_path(@student_exercise.assignment_exercise.assignment) }%>

<% content_for :other_nav_content do %>
  Exercises
  <%= render :partial => 'student_exercises/list', :locals => { :student_exercise => @student_exercise } %>
<% end %>
