<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "index"}} %>
<% addTestMeta {{:major_name => "User"}} %>

<%= pageHeading("User List") %>

<table class="list" width="100%">
  <tr>
    <th width="20%">First Name</th>
    <th width="20%">Last Name</th>
    <th width="15%">Username</th>
    <th width="25%">Email</th>
    <th width="10%">Admin?</th>
    <th width="10%">Disabled?</th>
  </tr>

<% @users.each do |user| %>
  <tr class="test test_section">
    <td><%= admin_only(user.first_name) %></td>
    <td><%= admin_only(user.last_name) %></td>
    <td><%= admin_only(user.username) %></td>
    <td><%= admin_only(user.email) %></td>
    <td><%= tf_to_yn(user.is_administrator?) %></td>
    <td><%= tf_to_yn(user.is_disabled?) %></td>
    <td><%= show_button(user) %></td>
    <td><%= edit_button(user) %></td>
  </tr>
<% end %>
</table>


<br />


