<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% collapsible ||= false %>
<% collapsed ||= false %>
<% help_topic ||= nil %>
<% classes ||= "" %>

<div class="section activity_zone <%= classes %> test test_section">
  <div class="section_heading">
    <%= title %>
    <% if !help_topic.nil? %>
      &nbsp;<%= link_to_help help_topic %>
    <% end %>
    <% if collapsible %>
    <span style="font-size:11px; display:inline">&nbsp;&nbsp;[
    <%= link_to_function "&mdash;".html_safe,
                         "$(this).parent().parent().parent().children('.section_body').hide(); $(this).hide(); $(this).next().show();",
                         :style => (collapsed ? "display:none" : "display:inline; font-size: 12px") %>
    <%= link_to_function "+",
                         "$(this).parent().parent().parent().children('.section_body').show(); $(this).hide(); $(this).prev().show();", 
                         :style => (collapsed ? "display:inline" : "display:none; font-size: 12px") %>
    ]</span>
    <% end %>
  </div>
  
  <div class="section_body" style="<%= collapsed ? 'display:none' : '' %>">
    <%= body %>  
  </div>
</div>