<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @highlight = :about %>

<%= pageHeading "About #{SITE_NAME}"%>


<%#

  Better Learning
  Personalized Pathways

  Learning Analytics
  Foundation-Supported
  Advancing Learning Science
  Open Source
  Teach a course!
  
%>

<p><%= SITE_NAME %> melds new cyber and social infrastructures to put <%= link_to "powerful learning tools", :anchor => 'features' %> in the hands of educators and learners.  <%= SITE_NAME %> is an ambitious effort that combines high-quality, public-ready software with advanced research pursuits.  We are still in beta and some of our features are still being developed.</p>

<%= section "The Big Questions", :classes => 'first no_bar' do %>

  <div class="item_box">
    <h3>What is it?</h3>
    <p>A study resource, homework, and test delivery system that uses powerful, advanced techniques to improve student learning and instructor understanding.</p>
  </div>

  <div class="item_box">
    <h3>Who is behind it?</h3>
    <p><%= SITE_NAME %> is a non-profit venture at Rice University, run by professional software developers and learning researchers, and supported by foundations.</p>
  </div>
  
  <div class="item_box">
    <h3>How much does it cost?</h3>
    <p><%= SITE_NAME %> is free for individual students and teachers.  Depending on their usage, organization-level users may pay a small mission-support fee.</p>
  </div>
  
<% end %>

<div style="clear:left"></div>

<%= section "Cool Features", :classes => 'first no_bar' do %>


<div class="item_box">
  <h3>Better Learning</h3>
  <p>Our courses use principles from cognitive science that have been shown to increase 
  long-term retention and transfer of learning.</p>
</div>

  <div class="item_box">
    <h3>Learner Analytics</h3>
    <p>In one view, quickly see how well your students have mastered different concepts.  </p>
  </div>

  <div class="item_box">
    <h3>Personalized Pathways</h3>
    <p><%= SITE_NAME %> studies how your students learn and then adjusts their experience to optimize their retention.</p>
  </div>

  <%

    @sections = []

    @sections.push({
      :name => 'Not your standard course management system',
      :features => [
        feature.new('Free for individuals; inexpensive for organizations', feature::READY, feature::READY),
        feature.new('Simple, clean interface', feature::READY, feature::READY),
        feature.new('Proven learning principles increase long-term understanding', feature::READY, feature::READY),
        feature.new('Repeat concept practice throughout the class', feature::READY, feature::READY),
        feature.new('Focus on knowledge retrieval over answer recognition', feature::READY, feature::READY),
        feature.new('Give immediate or delayed automatic feedback', feature::READY, feature::READY),
        feature.new('Make viewing feedback required or optional', feature::READY, feature::READY),
        feature.new('Choose timing and type of feedback', feature::READY, feature::READY),
        feature.new('Use your own content or existing open content', feature::READY, feature::READY),
        feature.new('Multiple choice grading is done for you', feature::READY, feature::READY),
        feature.new('Export grades to Excel with a single click', feature::READY, feature::READY),
        feature.new('View overall class performance at a glance', feature::READY, feature::READY),
        feature.new('Support for students in multiple time zones', feature::READY, feature::READY),
        feature.new('Students can easily upload any written work', feature::COMING_SOON, feature::COMING_SOON),
        feature.new('Learner analytics tell instructors who knows what', feature::COMING_SOON, feature::COMING_SOON),        
        
      ]
    })

    # feature.new('', feature::READY, feature::READY),

    @sections.push({
      :name => 'Ask students questions in a variety of formats',
      :features => [
        feature.new('Multiple-choice', feature::READY, feature::READY),
        feature.new('Open-ended', feature::COMING_SOON, feature::COMING_SOON),
        feature.new('Matching', feature::COMING_SOON, feature::COMING_SOON),
        feature.new('Multipart', feature::COMING_SOON, feature::COMING_SOON),
        feature.new('Essay', feature::COMING_SOON, feature::COMING_SOON),
      ]
    })


    @sections.push({
      :name => 'Post and get feedback on study materials',
      :features => [
        feature.new('Use any web URL as a study resource', feature::READY, feature::READY),
        feature.new('Upload PDF study resources', feature::COMING_SOON, feature::COMING_SOON),
        feature.new('See which resources students are using', feature::READY, feature::READY),
        feature.new('Set the stage for assignments with introductory text', feature::READY, feature::READY),
      ]
    })

    @sections.push({
      :name => 'Powerful platform for running experiments in the classroom or online',
      :features => [
        feature.new('Students can opt in or out of a research study', feature::NA, feature::READY),
        feature.new('Manage informed consent documents', feature::NA, feature::READY),
        feature.new('Informed consent obtained electronically', feature::NA, feature::READY),
        feature.new('Customize and automated experiments for different groups', feature::NA, feature::READY),
        feature.new('Monitor experiment via researcher interface', feature::NA, feature::READY),
        feature.new('Export research data to Excel with a single click', feature::NA, feature::READY),
        feature.new('Instructors can be co-authors if their study data is publishable', feature::NA, feature::READY),
        feature.new('Help advance progress in education', feature::NA, feature::READY),
      ]
    })

    @sections.push({
      :name => 'Easily create a barrier between researchers and instructors',
      :features => [
        feature.new('Researchers never see personal information without consent', feature::NA, feature::READY),
        feature.new('Instructors never see research or consent information', feature::NA, feature::READY),
      ]
    })
    
    @sections.push({
      :name => 'Moving towards a goal of personalized education',
      :features => [
        feature.new('Learning pathways personalized for individual students', feature::COMING_SOON, feature::COMING_SOON),    
        feature.new('Automated personalization for <i>any</i> class with online content', feature::COMING_SOON, feature::COMING_SOON),    
        feature.new('Automated discovery of relationships between online materials', feature::COMING_SOON, feature::COMING_SOON),    
      ]
    })

  %>

  <a name="features"></a>
  <table id="features">
    <tr class='heading-row'>
      <td class="text-column"></td>
      <td class="status-column">Standard<br/>Version</td>
      <td class="status-column enhanced-column">Enhanced<br/>Version</td>
    </tr>
    <% @sections.each do |section| %>
      <tr>
        <td colspan="3" class='section-row'><%= section[:name] %></td>
      </tr>
      <% section[:features].each do |feature| %>
        <tr>
          <td class='text-column'><%= feature.text.html_safe %></td>
          <td class='status-column'><%= feature.standard_avail_icon %></td>
          <td class="status-column enhanced-column"><%= feature.research_avail_icon %></td>
        </tr>
      <% end %>
    <% end %>
    <tr class='bottom-row'>
      <td></td>
      <td class='status-column'><%= link_to_help 'start_teaching', 'Start Teaching!', {:title => 'Start Teaching', :class => 'link_button'} %></td>
      <td class='status-column enhanced-column'><%= link_to_help 'start_teaching', 'Start Teaching!', {:title => 'Start Teaching', :class => 'link_button'} %></td>
    </tr>
  </table>

<% end %>

<div style="clear:left"></div>

<%= section "Get Involved", :classes => 'no_bar' do %>

  <div class="item_box">
    <h3>Run a Research Study</h3>
    <p><%= SITE_NAME %> is fully equipped to handle informed-consent for human subjects research studies centering around how students best learn.  If you're interested in running a study, <%= email_link "info", "let us know" %>!</p>
  </div>

  <div class="item_box">
    <h3>Write Code</h3>
 
    <p><%= SITE_NAME %> is an open source project and thrives on community involvement.</p>
  </div>

  <div class="item_box">
    <h3>Teach a Course!</h3>
 
    <p>Teaching a course on <%= SITE_NAME %> is super easy.  Our support staff can guide you through the process and answer all your questions.  Ready to teach?  <%= email_link "info", "Drop us a line" %>.</p>
  </div>
<% end %>

<div style="clear:left"></div>

<p style="padding-top:40px; padding-bottom:10px">Still have questions?  Just <%= email_link "info", "send us an email" %> and we'd be glad to answer them.</p>
  