<%= pageHeading("Contact Us") %>

<style type="text/css">
  table.left_heading th, td {
    padding-bottom: 8px;
  }
</style>

<p>Need to contact us?  Just drop us a line in one of the 
   categories below.</p>

<table class="left_heading" cellpadding="20">
  <tr>
    <th>General Inquiries</th>
    <td><%= email_link "info", "info@openstaxtutor.org" %></td>
  </tr>
  <tr>
    <th>Media Inquiries</th>
    <td>
      Jade Boyd<br/>
      Associate Director of News and Media Relations<br/>
      Rice University<br/>
      Tel: 713-348-6778<br/>
      Cell: 713-302-2447<br/>
      <%= email_link "media", "media@openstaxtutor.org" %>
    </td>
  </tr>
  <tr>
    <th>Foundational Support</th>
    <td>
      Richard Baraniuk<br/>
      Director<br/>
      <%= SITE_NAME %><br/>
      Tel: 713-348-5132<br/>
      <%= email_link "foundations", "foundations@openstaxtutor.org" %>
    </td>
  </tr>
  <tr>
    <th>Affiliate Partner Inquiries</th>
    <td>
      David Harris<br/>
      <%= SITE_NAME %><br/>
      <%= email_link "partners", "partners@openstaxtutor.org" %>
    </td>
  </tr>
  <tr>
    <th>Mailing Address</th>
    <td>
      OpenStax Tutor<br/>
      6100 Main St. MS 380<br/>
      Houston, TX 77005
    </td>
  </tr>
</table>
