<h1>Listing learning_plans</h1>

<table>
  <tr>
    <th>Learning plannable</th>
    <th>Learning plannable type</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @learning_plans.each do |learning_plan| %>
  <tr>
    <td><%= learning_plan.learning_plannable_id %></td>
    <td><%= learning_plan.learning_plannable_type %></td>
    <td><%= learning_plan.name %></td>
    <td><%= learning_plan.description %></td>
    <td><%= link_to 'Show', learning_plan %></td>
    <td><%= link_to 'Edit', edit_learning_plan_path(learning_plan) %></td>
    <td><%= link_to 'Destroy', learning_plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Learning plan', new_learning_plan_path %>
