<%= pageHeading "Learning Plan: #{@learning_plan.name}"%>

<% enable_best_in_place %>

<% if !@learning_plan.description.blank? %>
  <%= @learning_plan.description %>
<% end %>

<div id="lp_items">

<%= section "Topics" do %>

  <div id="topics">
    <% @learning_plan.topics.each do |topic| %>
      <%= render :partial => 'topics/show', :locals => {:topic => topic} %>
    <% end %>
  </div>
  
  <br/>
  <%= link_to "Add new topic ...", 
              learning_plan_topics_path(@learning_plan), 
              :method => :post,
              :remote => true %>
<% end %>

<%= section "Assignments" do %>

  <div id="assignment_plans">
    <% @learning_plan.assignment_plans.each do |assignment_plan| %>
      <%= render :partial => 'assignment_plans/show', :locals => {:assignment_plan => assignment_plan} %>
    <% end %>
  </div>
  
  <br/>
  <%= link_to "Add new assignment ...", 
              new_learning_plan_assignment_plan_path(@learning_plan), 
              :remote => true %> |
  <%= link_to "Preview assignments",
              preview_assignments_klass_path(@learning_plan.klass) %>
<% end %>

<%= section "Scheduling" do %>

  <div id="calendar"></div>

  <% content_for :javascript do %>
    <%= javascript_tag do %>

 	function pad_leading_zeros (num, size) {
		var s = num + "";
		while (s.length < size)
		  s = "0" + s;
		return s;
	}

	function format_event_date(calDate) {
		s = pad_leading_zeros(calDate.getFullYear(), 4)  + "-" +
		    pad_leading_zeros(calDate.getMonth()+1, 2)   + "-" +
		    pad_leading_zeros(calDate.getDate(), 2)      + " " +
			pad_leading_zeros(calDate.getHours(), 2)     + ":" +
			pad_leading_zeros(calDate.getMinutes(), 2)   + ":" +
			pad_leading_zeros(calDate.getSeconds(), 2);
		return s;
	}
  
	function handle_event_update(calEvent, revertFunc) {
		 $.ajax({
		   type: "POST",
		   url: '/assignment_plans/' + calEvent.ost_id,
		   data: { 
		           _method:'PUT', 
		           assignment_plan : { 
		               starts_at: format_event_date(calEvent.start), 
		               ends_at:   format_event_date(calEvent.end) 
		           } 
		   },
		   dataType: 'json',
		   success: function(msg) {},
		   error: function(jqXHR, textStatus, errorThrown) {
		     open_message_dialog(true, 150, 440, 'Error!', jQuery.parseJSON(jqXHR.responseText).join("<br/><br/>"));
		     revertFunc();
		   }
		 });
	}
  
	$(document).ready(function() {
	  $('#calendar').fullCalendar({
	      timeFormat:  'h(:mm)t { - h(:mm)t}  ',
	      eventColor: get_os_color('blue'),
	      header: {
	        left: 'title',
	        center: 'agendaWeek,month',
	        right: 'today prev,next'
	      },
	      events: [
	        <% events = @learning_plan.assignment_plans.each_with_index do |assignment_plan, ii| %>
	          <%= (render :partial => 'assignment_plans/assignment_plan_event', 
	                     :locals => {:assignment_plan => assignment_plan}).html_safe %>
	          <%= ','.html_safe if ii != @learning_plan.assignment_plans.count - 1%>
	        <% end %>
	      ],
	      eventClick: function(calEvent, jsEvent, view) {
	        $.ajax({type: "GET", url: "/assignment_plans/" + calEvent.ost_id + "/edit"});
	      },
	      eventResize: function(calEvent, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) { 
	        handle_event_update(calEvent, revertFunc);
	      },
	      eventDrop: function(calEvent,dayDelta,minuteDelta,allDay,revertFunc) {
	        handle_event_update(calEvent, revertFunc);
	      }
	  });        
	});
         
    <% end %>
  <% end %>

<% end %>

</div>

<%
  navitem { link_to "#{t(@learning_plan.klass.class)}", @learning_plan.klass }
  navitem { link_to "Concepts", learning_plan_concepts_path(@learning_plan) }
  navitem { link_to "Refresh Exercises", learning_plan_refresh_exercises_path(@learning_plan), :method => :put, :remote => true }
%>
