<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading("Assignment for #{@student_assignment.student.full_name(present_user)}",
                {:sub_heading_text => @student_assignment.student.section.klass.name})%>

<%= section "Assignment Times", {:collapsible => true, :collapsed => true, :classes => 'first no_bar' } do %>
  <%= render :partial => 'response_times/list', 
             :locals => {:response_times => @student_assignment.response_times} %>
<% end %>

<%= section "Exercise Responses", :classes => 'section-exercise-responses' do %>
  NOTE: In the 'Response' column, free responses are always shown.  If required by the learning conditions, follow-up answers appear in gray below the free responses.  In both cases, a missing response will be depicted by the string '(blank)'.
  <table class="list" width="90%">
    <tr>
      <th width="3%">#</th>
      <th width="58%">Response</th>
      <th width="8%">Conf<br/>(0-4)</th>
      <th width="8%">Choice</th>
      <th width="8%">Score</th>
      <th width="8%">Times</th>
    </tr>
    <% student_exercises = @student_assignment.student_exercises.sort_by!{|se| se.assignment_exercise.number} %>
    
    <% student_exercises.each_with_index do |se,ii| %>
      <tr>
        <td><%= ii+1%>.</td>
        <td class='outlined_cell'>
          <div class='free_response'>
            <%= '(blank)' if se.free_responses.none? %>
            <% se.free_responses.each do |free_response| %>
              <%= render :partial => 'free_responses/show', 
                         :locals => { :free_response => free_response } %>
            <% end %>
          </div>
          <% if se.requires_follow_up_question? %>
            <div class='follow_up_question'>
              <%= se.follow_up_answer || '(blank)' %>
            </div>
          <% end %>
        </td>
        <td><%= se.free_response_confidence.nil? ? "--" : se.free_response_confidence %></td>
        <td><%= se.selected_answer.nil? ? "--" : "(#{choice_letter(se.selected_answer)})" %></td>
        <td><%= link_to se.score, student_exercise_score_detail_path(se), :remote => true %></td>
        <td>
          <%= link_to_function "Show", "$('#se_#{ii}_rts').show(); $(this).hide(); $(this).next().show(); " %>
          <%= link_to_function "Hide", "$('#se_#{ii}_rts').hide(); $(this).hide(); $(this).prev().show(); ", :style => "display:none" %>  
        </td>
      </tr>
      <tr id="se_<%= ii %>_rts" style="display:none">
        <td></td>
        <td colspan="5">
          <%= render :partial => 'response_times/list', 
                     :locals => {:response_times => se.response_times, :show_page => true} %>
        </td>
      </tr>
    <% end %>
  </table>
  
<% end %>
