<% @errors = @klass.errors %>
<% @include_timepicker = true %>

<%= form_for([@course, @klass]) do |f| %>
  <% time_zone = @klass.time_zone || @course.organization.default_time_zone %>

  <div class="field">
    <%= t(:time_zone) %><br />
    <%= f.time_zone_select( 'time_zone', 
                            ActiveSupport::TimeZone.us_zones, 
                            :default => time_zone) %>
  </div>
  <div class="field">
    <%= f.label :start_date, t(:start_date_time) %><br />
    <%= f.datetime_text_field :start_date, {:time_zone => time_zone, :number_of_months => 2} %>
  </div>
  <div class="field">
    <%= f.label :end_date, t(:end_date_time) %><br />
    <%= f.datetime_text_field :end_date, {:time_zone => time_zone, :number_of_months => 2} %>
  </div>
  <div class="field">
    Is this class part of a formal study controlled by <%= SITE_NAME %> researchers?<br/>
    <%= f.radio_button :is_controlled_experiment, true %> Yes
    <%= f.radio_button :is_controlled_experiment, false %> No  
  </div>
  <div class="field">
    Are students allowed to hide their name and just show you an ID number?<br/>
    <%= f.radio_button :allow_student_specified_id, true %> Yes
    <%= f.radio_button :allow_student_specified_id, false %> No  
  </div>
  <div class="field">
    Learning Plan: A new learning plan will be created for you
  </div>
  <div class="field">
    Labels to apply to all tests<br/>
    <%= f.text_field :test_exercise_tags %><br/>
    <span class="field_help">(Optional) Comma-separated tags listed here will be attached to all assigned test exercises.</span>
  </div>
  <div class="field">
    Labels to apply to all non-test assignments<br/>
    <%= f.text_field :nontest_exercise_tags %><br/>
    <span class="field_help">(Optional) Comma-separated tags listed here will be attached to all assigned non-test exercises.</span>
  </div>
  <div class="field">
    <%= f.label :approved_emails %><br />
    <%= f.text_area :approved_emails %>
  </div>
  <div class="actions">
    <%= f.submit :class => "test clickable submit" %>
  </div>
<% end %>
