<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%
  present_user_is_researcher = present_user.is_researcher? 
  visible_students = Student.includes([
                       :section, :cohort, :user,
                       :student_assignments => :student_exercises
                     ]).joins{section}
                       .where{section.klass_id == my{@klass.id}}
                       .visible(present_user).active
                       .std_sort(present_user)
  klass_aps = @klass.learning_plan.assignment_plans
%>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s20" ss:Name="Percent">
      <NumberFormat ss:Format="0%"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Data">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name/ID</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Section</Data></Cell>
        <Cell><Data ss:Type="String">Cohort</Data></Cell>
        <% hw_count = 0 %>
        <% test_count = 0 %>
        <% klass_aps.each do |ap| %>
          <% apheader = ap.is_test ? "T #{test_count += 1}" : \
                                     "HW #{hw_count += 1}" %>
          <Cell><Data ss:Type="String"><%= "#{apheader} Score" %></Data><Comment
          ss:Author="<%= SITE_NAME %>"><Data><Font
          html:Size="9" html:Color="#000000"
          xmlns="http://www.w3.org/TR/REC-html40"><%= ap.name %></Font></Data></Comment></Cell>
          <Cell><Data ss:Type="String"><%= "#{apheader} Completed?" %></Data></Cell>
        <% end %>
      </Row>
      <% visible_students.each do |vs| %>
        <Row>
          <Cell><Data ss:Type="String"><%= vs.full_name(present_user) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= student_status_string(vs) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= vs.section.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= vs.cohort.name %></Data></Cell>
          <% klass_aps.each do |ap| %>
            <% score = nil
               completed = false %>
            <% assignment = ap.assignments.to_a
                              .select{|a| a.cohort_id == vs.cohort_id}
                              .first  %>
            <% if !assignment.nil? %>
              <% score = 0.0 %>
              <% sa = assignment.student_assignments.to_a
                                .select{|sa| sa.student_id == vs.id}.first %>
              <% unless sa.nil? %>
                <% score = sa.score
                   completed = sa.completed? %>
              <% end %>
            <% end%>
              <Cell ss:StyleID="s20"><Data ss:Type=<%= score.nil? ? '"String"' : '"Number"' %>><%= score || "" %></Data></Cell>
              <Cell ss:StyleID="s20"><Data ss:Type="String"><%= tf_to_yn(completed) %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
