<% 
present_user_is_researcher = present_user.is_researcher? 

visible_students = Student.joins{section}.where{section.klass_id == my{@klass}.id}.visible(present_user).active.std_sort(present_user)
klass_aps = @klass.learning_plan.assignment_plans

# cohorts = Cohort.joins{student}.where{}
# ses = StudentExercise.joins{student_assignment.student.section.klass.course} \
#                      .joins{student_assignment.student.cohort} \
#                      .joins{assignment_exercise.assignment.assignment_plan} \
#                      .joins{assignment_exercise.topic_exercise.exercise} \
#                      .joins{assignment_exercise.topic_exercise.concept.outer} \
#                      .joins{assignment_exercise.topic_exercise.topic}. 
#                       where{student_assignment.student_id.in(visible_students.select{id})}.  # Current class
#                       order{student_assignment.student_id}.
#                       order{assignment_exercise.assignment.assignment_plan.starts_at}.
#                       order{assignment_exercise.number}
                      
%>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Data">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name/ID</Data></Cell>
        <Cell><Data ss:Type="String">Section</Data></Cell>
        <Cell><Data ss:Type="String">Cohort</Data></Cell>
		<% klass_aps.each do |ap| %>
        <Cell><Data ss:Type="String"><%= ap.name %></Data></Cell>
		<% end %>
      </Row>
    <% visible_students.each do |vs| %>
      <Row>
        <Cell><Data ss:Type="String"><%= vs.full_name(present_user) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vs.section.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= vs.cohort.name %></Data></Cell>
		<% klass_aps.each do |ap| %>
			<% score = "" %>
			<% assignment = Assignment.where{ (cohort_id == vs.cohort_id) & (assignment_plan_id == ap.id) }.first %>
			<% if !assignment.nil? %>
				<% score = 0.0 %>
				<% sa = StudentAssignment.where{ (assignment_id == assignment.id) & (student_id == vs.id) }.first %>
				<% if !sa.nil? %>
					<% ses = sa.student_exercises %>
					<% score = ses.inject(0) {|sum,se| sum += se.score if !se.nil? } %>
					<% score /= ses.size if ses.size > 0 %>
				<% end %>
				<% score -= score % 0.0001 %>
			<% end%>
        <Cell><Data ss:Type="Number"><%= score %></Data></Cell>
		<% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>