<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "preview assignments"}} %>
<% addTestMeta {{:major_name => @klass.course.name}} %>
<% addTestMeta {{:minor_name => "Learning Plan"}} %>

<%= pageHeading "Preview of Assignments: #{@klass.course.name}" %>

<% @assignments.each_with_index do |assignment_array, ii| %>
  
  <% next if assignment_array.empty? %>
  
  <%= section "Assignment: #{assignment_array[0].assignment_plan.name}", {:classes => "#{ii == 0 ? 'first no_bar' : ''}" } do %>
    
    <% assignment_array.each do |assignment| %>
      <% cohort = assignment.cohort %>
    
      <div class="test test_section cohort">
        <p><b>Cohort: <%= cohort.name %>, Cohort Section: <%= cohort.section.nil? ? "N/A" : cohort.section.name %></b></p>
        <% if assignment.assignment_exercises.any? %>
          <%= render partial: "preview_cohort_assignment", locals: { cohort: cohort, assignment: assignment } %>
        <% else %>
          <p>No assignment exercises.</p>
        <% end %>
      </div>

    <% end %>
  
  <% end %>
  
<% end %>
