<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Preview of Assignments" %>


<% @assignments.each_with_index do |assignment_array, ii| %>
  
  <% next if assignment_array.empty? %>
  
  <%= section "#{assignment_array[0].assignment_plan.name}", {:classes => "#{ii == 0 ? 'first no_bar' : ''}" } do %>
    
    <% assignment_array.each do |assignment| %>
      <% cohort = assignment.cohort %>
    
      <p><b>Cohort: <%= cohort.name %> <%= ", Section: #{cohort.section.name}" if !cohort.section_id.nil? %></b></p>
      <ol>
        <% assignment.assignment_exercises.each do |ae| %>
          <% te = ae.topic_exercise %>
          <% exercise = te.exercise %>
          <li><%= link_to "#{exercise.quadbase_id}", exercise.url %> 
              [<%= te.topic.name %> / 
               <%= te.concept.try(:name) || 'no concept' %>
               <% if present_user.is_researcher? || present_user.is_administrator? %> 
                 / <%= ae.tag_list %>
               <% end %>
              ]
          </li>
        <% end %>
      </ol>
    <% end %>
  
  <% end %>
  
  
<% end %>