<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% present_user_is_researcher = present_user.is_researcher? %>

<%  
  ae_info = { }
  @klass.learning_plan.topics.each do |topic|
    topic.topic_exercises.each do |te|
      te.assignment_exercises.each do |ae|
        ae_info[ae] = { :number       => ae.number,
                        :quadbase_id  => ae.topic_exercise.exercise.quadbase_id,
                        :concept      => ae.topic_exercise.concept.try(:name),
                        :tag_list     => ae.tag_list,
                        :fb_required  => false}
        if ae.student_exercises.any?
          ae_info[ae][:fb_required] = ae.student_exercises.first.feedback_required_for_credit?
        end
      end
    end
  end

  response_time_query = ResponseTime.where{ (note =~ "READY%") & (page == "feedback") }
%>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Data">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name/ID</Data></Cell>
        <Cell><Data ss:Type="String">RegStatus</Data></Cell>
        <Cell><Data ss:Type="String">Section</Data></Cell>
        <Cell><Data ss:Type="String">Cohort</Data></Cell>
        <Cell><Data ss:Type="String">AssgnName</Data></Cell>
        <Cell><Data ss:Type="String">AssgnNum</Data></Cell>
        <Cell><Data ss:Type="String">ExNum</Data></Cell>
        <Cell><Data ss:Type="String">ExQbId</Data></Cell>
        <Cell><Data ss:Type="String">ExConcept</Data></Cell>
        <Cell><Data ss:Type="String">ExLabels</Data></Cell>
        <Cell><Data ss:Type="String">FreeResp?</Data></Cell>
        <Cell><Data ss:Type="String">FreeResp</Data></Cell>
        <Cell><Data ss:Type="String">SelAns?</Data></Cell>
        <Cell><Data ss:Type="String">SelAns</Data></Cell>
        <Cell><Data ss:Type="String">SelAnsConf</Data></Cell>
        <Cell><Data ss:Type="String">SelAnsCredit</Data></Cell>
        <Cell><Data ss:Type="String">FbScaling</Data></Cell>
        <Cell><Data ss:Type="String">OverallScore</Data></Cell>
        <Cell><Data ss:Type="String">Comp?</Data></Cell>
        <Cell><Data ss:Type="String">CompOnTime?</Data></Cell>
        <Cell><Data ss:Type="String">Correct?</Data></Cell>
        <Cell><Data ss:Type="String">FbViewReq?</Data></Cell>
        <Cell><Data ss:Type="String">FbViewed?</Data></Cell>
        <Cell><Data ss:Type="String">FbViewedOnTime?</Data></Cell>
        <Cell><Data ss:Type="String">FbLoadCount</Data></Cell>
      </Row>
      <% @klass.sections.each do |section| %>
        <% section_name = section.name %>
        <% section.students.visible(present_user).each do |student| %>
          <% student_full_name  = student.full_name(present_user) %>
          <% student_reg_status = student_status_string(student) %>
          <% cohort_name        = student.cohort.name %>
          <% StudentAssignment.for_student(student).sort_by{|sa| sa.assignment.assignment_plan.starts_at}.each_with_index do |sa, ii| %>
            <% assignment_num  = ii + 1 %>
            <% assignment_name = sa.assignment.assignment_plan.name %>
            <% sa.student_exercises.each do |se| %>
              <% ae = se.assignment_exercise %>
      <Row>
        <Cell><Data ss:Type="String"><%= student_full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student_reg_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= section_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cohort_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= assignment_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= assignment_num %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ae_info[ae][:number] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:quadbase_id] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:concept] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:tag_list] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.free_response_submitted?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.free_responses.collect{|fr| fr.as_text}.join('; ') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.selected_answer_submitted?) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.selected_answer %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.free_response_confidence %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.automated_credit %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.feedback_credit_multiplier %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.score %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.complete?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.complete? && !se.was_submitted_late) %></Data></Cell>
        <Cell><Data ss:Type="String">
        <%= 
          if se.complete?
            case se.automated_credit
            when 1.0
              "Yes"
            when 0.0
              "No"
            else
             "Partially"
            end
          else
            "No"
          end
        %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(ae_info[ae][:fb_required]) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.feedback_has_been_viewed?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.feedback_has_been_viewed_for_credit?) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= response_time_query.where{ |rt| rt.response_timeable_id == se.id }.count %></Data></Cell>
      </Row>
            <% end %>
          <% end %> 
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Info">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Organization</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.course.organization.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Class</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Dates</Data></Cell>
        <Cell><Data ss:Type="String"><%= standard_datetime(@klass.start_date) + " to " + standard_datetime(@klass.end_date)%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Instructors</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.educators.select{|e| e.is_instructor}.collect{|e| e.user.full_name}.join(", ") %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>