<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% present_user_is_researcher = present_user.is_researcher? %>

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Data">
    <Table>
      <Row>
        <%= render "report_heading_cell", data: "Name/ID",          comment: "Student name, Educator-facing ID, or Research ID" %>
        <%= render "report_heading_cell", data: "RegStatus",        comment: "Student Registration Status" %>
        <%= render "report_heading_cell", data: "StudentSection",   comment: "Student's (current) Section name" %>
        <%= render "report_heading_cell", data: "StudentCohort",    comment: "Student's (current) Cohort name" %>
        <%= render "report_heading_cell", data: "AsgnCohortSec",    comment: "Assignment's Cohort Section name" %>
        <%= render "report_heading_cell", data: "AsgnCohort",       comment: "Assignment's Cohort name" %>
        <%= render "report_heading_cell", data: "AssgnName",        comment: "Assignment name" %>
        <%= render "report_heading_cell", data: "AssgnNum",         comment: "Assignment order number within Learning Plan (including tests)" %>
        <%= render "report_heading_cell", data: "ExNum",            comment: "Exercise order number (within Assignment)" %>
        <%= render "report_heading_cell", data: "ExQbId",           comment: "Exercise Quadbase ID" %>
        <%= render "report_heading_cell", data: "ExConcept",        comment: "Exercise Concept description" %>
        <%= render "report_heading_cell", data: "ExTopic",          comment: "Exercise Topic description" %>
        <%= render "report_heading_cell", data: "ExLabels",         comment: "Exercise Labels" %>
        <%= render "report_heading_cell", data: "AssgnCws",         comment: "Assignment Coworkers (including Student), sorted, comma-separated" %>
        <%= render "report_heading_cell", data: "ExViewed?",        comment: "Exercise was viewed by Student?" %>
        <%= render "report_heading_cell", data: "ExViewedTime",     comment: "Time at which Exercise was first viewed by Student" %>
        <%= render "report_heading_cell", data: "FreeResp?",        comment: "Student locked-in a Free Response?" %>
        <%= render "report_heading_cell", data: "FreeRespTime",     comment: "Time at which Free Response was locked-in" %>
        <%= render "report_heading_cell", data: "FreeResp",         comment: "Free Response" %>
        <%= render "report_heading_cell", data: "SelAns?",          comment: "Student locked-in a Selected Answer?" %>
        <%= render "report_heading_cell", data: "SelAnsTime",       comment: "Time at which Selected Answer was locked-in" %>
        <%= render "report_heading_cell", data: "SelAns",           comment: "Selected Answer {0 == 'a', 1 == 'b', ...}" %>
        <% if present_user_is_researcher %>
          <%= render "report_heading_cell", data: "SelAnsConf",       comment: "Selected Answer Confidence {0 == 'Definitely Wrong, ..., 4 == 'Definitely Right'}" %>
        <% end %>
        <%= render "report_heading_cell", data: "SelAnsCredit",     comment: "Selected Answer Credit [0..1]" %>
        <%= render "report_heading_cell", data: "FollowUpQ?",       comment: "Exercise had follow-up question?" %>
        <%= render "report_heading_cell", data: "FollowUpQ",        comment: "Follow-up question" %>
        <%= render "report_heading_cell", data: "FollowUpA?",       comment: "Student provided follow-up answer?" %>
        <%= render "report_heading_cell", data: "FollowUpA",        comment: "Follow-up Answer" %>
        <%= render "report_heading_cell", data: "FbScaling",        comment: "Feedback Scaling Factor {0,1}" %>
        <%= render "report_heading_cell", data: "OverallCredit",    comment: "Overall Exercise Credit [0..1] (combines Credit and Feedback Scaling)" %>
        <%= render "report_heading_cell", data: "Comp?",            comment: "Exercise was completed?" %>
        <%= render "report_heading_cell", data: "CompOnTime?",      comment: "Exercise was completed before the due date?" %>
        <%= render "report_heading_cell", data: "Correct?",         comment: "Selected Answer was correct? {Yes, No, Partially}" %>
        <%= render "report_heading_cell", data: "FbViewReq?",       comment: "Viewing Feedback was required for Overall Credit? (conditioned on StudentExercise correctness)" %>
        <%= render "report_heading_cell", data: "FbViewed?",        comment: "Feedback page was viewed (ever)?" %>
        <%= render "report_heading_cell", data: "FbViewedTime",     comment: "Time at which Feedback page was first viewed by Student" %>
        <%= render "report_heading_cell", data: "FbViewedCredit?",  comment: "Feedback was viewed for credit (within Feedback Credit Window) or viewing not required?" %>
        <%= render "report_heading_cell", data: "FbLoadCount",      comment: "Approx. number of times Feedback page was loaded by the Student" %>
        <% if present_user_is_researcher %>
          <%= render "report_heading_cell", data: "PcId",             comment: "Exercise PresentationCondition ID" %>
          <%= render "report_heading_cell", data: "PcRegex",          comment: "Exercise PresentationCondition Regex" %>
          <%= render "report_heading_cell", data: "FcId",             comment: "Exercise FeedbackCondition ID" %>
          <%= render "report_heading_cell", data: "FcRegex",          comment: "Exercise FeedbackCondition Regex" %>
        <% end %>
      </Row>
      <% @klass.cohorts.find_each do |cohort| %>
        <% learning_condition = cohort.learning_condition %>

        <% cohort.assignments.find_each do |assignment| %>
          <% assignment_plan = assignment.assignment_plan %>
          <% assignment_num  = assignment_plan.number + 1 %>
          <% assignment_name = assignment_plan.name %>

          <% ae_info = {} %>
          <% assignment.assignment_exercises.find_each do |ae| %>
            <% ae_info[ae]                                = {} %>
            <% ae_info[ae][:number]                       = ae.number %>
            <% ae_info[ae][:quadbase_id]                  = ae.topic_exercise.exercise.quadbase_id %>
            <% ae_info[ae][:concept]                      = ae.topic_exercise.concept.try(:name) %>
            <% ae_info[ae][:topic]                        = ae.topic_exercise.topic.try(:name) %>
            <% ae_info[ae][:tag_list]                     = ae.tag_list %>
            <% ae_info[ae][:presentation_condition]       = learning_condition.get_presentation_condition(ae) %>
            <% ae_info[ae][:feedback_condition_correct]   = learning_condition.get_feedback_condition(ae, true) %>
            <% ae_info[ae][:feedback_condition_incorrect] = learning_condition.get_feedback_condition(ae, false) %>
          <% end %>

          <% assignment.student_assignments.visible(present_user).for_report.find_each do |student_assignment| %>
            <% student                 = student_assignment.student %>
            <% student_full_name       = student.full_name(present_user) %>
            <% student_reg_status      = student_status_string(student) %>
            <% student_section_name    = student.section.name %>
            <% student_cohort_name     = student.cohort.name %>
            <% assignment_section_name = assignment.cohort.section.try(:name) %>
            <% assignment_cohort_name  = assignment.cohort.name %>
            <% assignment_coworkers    = report_coworkers(student_assignment, present_user) %>

            <% student_assignment.student_exercises.find_each do |se| %>
              <% ae = se.assignment_exercise %>
      <Row>
        <Cell><Data ss:Type="String"><%= student_full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student_reg_status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student_section_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= student_cohort_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= assignment_section_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= assignment_cohort_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= assignment_name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= assignment_num %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= ae_info[ae][:number] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:quadbase_id] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:concept] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:topic] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:tag_list] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= assignment_coworkers %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.exercise_first_viewed_at.present?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.exercise_first_viewed_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.free_response_submitted?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.free_response_submitted_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.free_responses.collect{|fr| fr.as_text}.join('; ') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.selected_answer_submitted?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.selected_answer_submitted_at %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.selected_answer %></Data></Cell>
        <% if present_user_is_researcher %>
          <Cell><Data ss:Type="Number"><%= se.free_response_confidence %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="Number"><%= se.automated_credit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(ae_info[ae][:presentation_condition].requires_follow_up_question?(se)) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ae_info[ae][:presentation_condition].follow_up_question %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.follow_up_answer?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.follow_up_answer %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.feedback_credit_multiplier %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.score %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.complete?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.complete? && !se.was_submitted_late) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= exercise_correctness_string(se) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(ae_info[ae][(se.is_correct? ? :feedback_condition_correct : :feedback_condition_incorrect)].is_feedback_required_for_credit) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.feedback_first_viewed_at.present?) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= se.feedback_first_viewed_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tf_to_yn(se.feedback_has_been_viewed_for_credit?) %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= se.feedback_views_count %></Data></Cell>
        <% if present_user_is_researcher %>
          <Cell><Data ss:Type="String"><%= ae_info[ae][:presentation_condition].id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ae_info[ae][:presentation_condition].label_regex %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ae_info[ae][(se.is_correct? ? :feedback_condition_correct : :feedback_condition_incorrect)].id %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ae_info[ae][(se.is_correct? ? :feedback_condition_correct : :feedback_condition_incorrect)].label_regex %></Data></Cell>
        <% end %>
      </Row>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Info">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Organization</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.course.organization.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Class</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Dates</Data></Cell>
        <Cell><Data ss:Type="String"><%= standard_datetime(@klass.start_date) + " to " + standard_datetime(@klass.end_date)%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Instructors</Data></Cell>
        <Cell><Data ss:Type="String"><%= @klass.educators.select{|e| e.is_instructor}.collect{|e| e.user.full_name}.join(", ") %></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>