
<div style="float:right; padding-right:30px">
  <% student = @klass.student_for(present_user) %>
  
  <% if !student.nil? %>

    <% if student.active? %>
      <%= link_to "Drop this class!", 
                  drop_student_path(student), 
                  :class => "link_button",
                  :method => :put,
                  :confirm => "Are you sure you want to drop this class?\n\nThis cannot be undone!" %>
    <% else %>
      You dropped this class.
    <% end %>

  <% else %>

    <% rr = @klass.registration_requests.select{|rr| rr.user_id == present_user.id} %>

    <% if !rr.empty? %>
      <center>
        <%= button_to "Cancel my request to join this class", 
                       registration_request_path(rr),
                       :method => :delete,
                       :confirm => "Are you sure you want to cancel your registration request?" %>
      </center>
    <% elsif user_signed_in? %>
      <%= link_to "Register", 
                  new_klass_registration_request_path(@klass), 
                  :class => 'link_button', :remote => true %>
    <% end %>
    
  <% end %>  
</div>


<%= section "Class Information" do %>

  <% 
    educators = @klass.educators
    instructors = educators.select{|e| e.is_instructor} 
    tas = educators.select{|e| e.is_teaching_assistant}
    graders = educators.select{|e| e.is_grader}
  %>
  
  <% can_add_educator = present_user.can_create?(Educator.new(:klass => @klass)) %>
  
  <table class="left_heading">
    <tr>
      <th style="text-align:right">Instructors</th>
      <td style="vertical-align:top">
        <span id="klass_instructor_list">
          <% if instructors.none? %>
            Pending
          <% else %>
            <% instructors.each do |instructor| %>
              <%= render :partial => 'classes/educator_entry', :locals => {:educator => instructor} %>
            <% end %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add an instructor...", new_klass_educator_path(@klass, {:type => 'instructor'}), :remote => true %>
        <% end %>
      </td>
    </tr>
  
    <% if tas.any? || can_add_educator %>
    <tr>
      <th style="text-align:right">Teaching Assistants</th>
      <td style="vertical-align:top">
        <span id="klass_teaching_assistant_list">
          <% tas.each do |ta| %>
            <%= render :partial => 'classes/educator_entry', :locals => {:educator => ta} %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add an assistant...", new_klass_educator_path(@klass, {:type => 'teaching_assistant'}), :remote => true %>
        <% end %>
      </td>
    </tr>
    <% end %>
    
    <% if graders.any? || can_add_educator %>
    <tr>
      <th style="text-align:right">Graders</th>
      <td style="vertical-align:top">
        <span id="klass_grader_list">
          <% graders.each do |grader| %>
            <%= render :partial => 'classes/educator_entry', :locals => {:educator => grader} %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add a grader...", new_klass_educator_path(@klass, {:type => 'grader'}), :remote => true %>
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr>
      <th style="text-align:right">Start Date</th>
      <td><%= standard_datetime(@klass.start_date) %></td>
    </tr>
    <tr>
      <th style="text-align:right">End Date</th>
      <td><%= standard_datetime(@klass.end_date) %></td>
    </tr>
    
    <tr>
      <th style="text-align:right">Preapprovals?</th>
      <td><%= tf_to_yn(!@klass.approved_emails.blank?) %></td>
    </p>

    <tr>
      <th style="text-align:right">Consent Form</th>
      <td><%= @klass.consent_form.try(:name) || "None selected" %></td>
    </tr>
    
    
    <% @klass.sections.each_with_index do |section,ii| %>
    
      <tr>
        <th style="text-align:right"><%= "Enrollment" if ii == 0 %></th>
        <td>
          <%= link_to_if(present_user.can_read_children?(section, :students), 
                         "#{section.students.registered.active.count} Registered",
                         klass_students_path(@klass)) %> |
          <%= link_to_if(present_user.can_read_children?(section, :students), 
                         "#{section.students.auditing.active.count} Auditing",
                         klass_students_path(@klass)) %>
          <% if @klass.is_teaching_assistant?(present_user) %>
            | <%= link_to("#{section.registration_requests.count} Pending", 
                        klass_registration_requests_path(@klass)) %>
          <% end %>
          
        </td>
      </tr>
    
    <% end %>
    
  </table>

<% end %>



<%
  navitem(present_user.can_update?(@klass)) { link_to('Edit Class', edit_klass_path(@klass)) }
  navitem(:can_read?, @klass.learning_plan) { link_to("Learning Plan", @klass.learning_plan) }
  navitem(:can_read_children?, @klass, :sections) { link_to("Sections", klass_sections_path(@klass)) }
  navitem(:can_read_children?, @klass, :learning_conditions) { link_to("Learning Conditions", klass_learning_conditions_path(@klass)) }
  navitem(:can_read_children?, @klass, :cohorts) { link_to("Cohorts", klass_cohorts_path(@klass)) }
%>
