<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "show"}} %>
<% addTestMeta {{:major_name => @klass.course.organization.name}} %>
<% addTestMeta {{:minor_name => @klass.course.name}} %>

<% 
  is_teacher = @klass.is_teacher?(present_user)
  student = @klass.student_for(present_user) 
  is_student = !student.nil?
  student_cohort = student.try(:cohort)
%>

<%= section "Class Information", {:classes => 'first no_bar class_information' } do %>

<div style="float:right; padding-right:30px">
    
  <% if is_student %>

    <% if student.active? %>
      <%= link_to "Drop this class!", 
                  drop_student_path(student), 
                  :class => "link_button",
                  :method => :put,
                  :confirm => "Are you sure you want to drop this class?\n\nThis can only be undone by an instructor!" %>
    <% end %>

  <% else %>

    <% rr = @klass.registration_requests.select{|rr| rr.user_id == present_user.id} %>

    <% if !rr.empty? %>
      <center>
        <%= button_to "Cancel my request to join this class", 
                       registration_request_path(rr),
                       :method => :delete,
                       :confirm => "Are you sure you want to cancel your registration request?",
                       :class => 'link_button' %>
      </center>
    <% elsif user_signed_in? %>
      <%= link_to "Register", 
                  new_klass_registration_request_path(@klass), 
                  :class => 'link_button', :remote => true %>
    <% end %>
    
  <% end %>  
</div>

  <% 
    educators = @klass.educators
    instructors = educators.select{|e| e.is_instructor} 
    tas = educators.select{|e| e.is_teaching_assistant}
    graders = educators.select{|e| e.is_grader}
  %>
  
  <% can_add_educator = present_user.can_create?(Educator.new(:klass => @klass)) %>
  
  <table class="left_heading">
    <tr>
      <th style="text-align:right">Course Name</th>
      <td><%= @klass.course.name %></td>
    </tr>
    <tr>
      <th style="text-align:right">Instructors</th>
      <td style="vertical-align:top">
        <span id="klass_instructor_list">
          <% if instructors.none? %>
            Pending
          <% else %>
            <% instructors.each do |instructor| %>
              <%= render :partial => 'classes/educator_entry', :locals => {:educator => instructor} %>
            <% end %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add an instructor...", new_klass_educator_path(@klass, {:type => 'instructor'}), :remote => true %>
        <% end %>
      </td>
    </tr>
  
    <% if tas.any? || can_add_educator %>
    <tr>
      <th style="text-align:right">Teaching Assistants</th>
      <td style="vertical-align:top">
        <span id="klass_teaching_assistant_list">
          <% tas.each do |ta| %>
            <%= render :partial => 'classes/educator_entry', :locals => {:educator => ta} %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add an assistant...", new_klass_educator_path(@klass, {:type => 'teaching_assistant'}), :remote => true %>
        <% end %>
      </td>
    </tr>
    <% end %>
    
    <% if graders.any? || can_add_educator %>
    <tr>
      <th style="text-align:right">Graders</th>
      <td style="vertical-align:top">
        <span id="klass_grader_list">
          <% graders.each do |grader| %>
            <%= render :partial => 'classes/educator_entry', :locals => {:educator => grader} %>
          <% end %>
        </span>
        <% if can_add_educator %>
          <%= link_to "Add a grader...", new_klass_educator_path(@klass, {:type => 'grader'}), :remote => true %>
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr>
      <th style="text-align:right">Open Date</th>
      <td><%= standard_datetime(@klass.open_date) %></td>
    </tr>
    <tr>
      <th style="text-align:right">Start Date</th>
      <td><%= standard_datetime(@klass.start_date) %></td>
    </tr>
    <tr>
      <th style="text-align:right">End Date</th>
      <td><%= standard_datetime(@klass.end_date) %></td>
    </tr>
    <tr>
      <th style="text-align:right">Close Date</th>
      <td><%= standard_datetime(@klass.close_date) %></td>
    </tr>
    
    <% if @klass.is_teaching_assistant?(present_user) %>

    <tr>
      <th style="text-align:right">Preapprovals?</th>
      <td><%= tf_to_yn(!@klass.approved_emails.blank?) %></td>
    </p>

    <tr>
      <th style="text-align:right">Consent Form</th>
      <td><%= @klass.consent_options.consent_form.try(:name) || "None selected" %></td>
    </tr>
    
    <% end %>
    
    <% if is_student && @klass.is_controlled_experiment && student.currently_consentable? %>
    
    <tr>
      <th style="text-align:right">Consent</th>
      <td><%= link_to "View/Update", new_student_consent_path(student) %>
    </tr>
    
    <% end %>
    
    <% num_sections = @klass.sections.count %>
    <% @klass.sections.each_with_index do |section,ii| %>
    
      <tr class="test test_section">
        <th style="text-align:right"><%= "Enrollment" if ii == 0 %></th>
        <td>
          <%= link_to_if(present_user.can_read_children?(section, :students), 
                         "#{section.students.registered.active.count} Registered",
                         klass_students_path(@klass),
                         :test => "registered") %> |
          <%= link_to_if(present_user.can_read_children?(section, :students), 
                         "#{section.students.auditing.active.count} Auditing",
                         klass_students_path(@klass),
                         :test => "auditing") %>
          <% if @klass.is_teaching_assistant?(present_user) %>
            | <%= link_to("#{section.registration_requests.count} Pending", 
                          klass_registration_requests_path(@klass),
                          :test => "pending") %>
          <% end %>
          <%= "&nbsp;(#{section.name})".html_safe if num_sections > 1 %>
        </td>
      </tr>
    
    <% end %>
    
  </table>

<% end %>

<% sees_all_cohort_assignments = is_teacher || present_user.is_researcher? || present_user.is_administrator? %>

<%= section "Registration Status", {:classes => "registration_status"} do %>
  <% if is_student %>
    <% if student.has_dropped? %>
      <p>You have dropped this class.</p>
    <% else %>
      <% if student.registered? %>
        <p>You are fully registered for this class.</p>
      <% elsif student.auditing? %>
        <p>You are auditing this class.</p>
      <% end %>
      <p>You are in section <%= student.section.name %>.</p>
    <% end %>
  <% else %>
    <p>You have not signed up for this class.</p>
  <% end %>
<% end %>

<% if !is_student || student.has_dropped? || !present_user.can_read_children?(@klass.cohorts.first, :assignments) %>
  <%= section "Assignments", {:classes => "assignments"} do %>
    <p>Assignments are only visible to this section's students and educators.</p>
  <% end %>
<% else %>
  <% if is_student %>
      <%= render :partial => 'student_assignments', :locals => { :student => student,
                                                                 :klass   => @klass, 
                                                                 :collapsible_section => sees_all_cohort_assignments} %>
  <% end %>
<% end %>

<% if sees_all_cohort_assignments %>
  <%= render :partial => 'nonstudent_assignments', :locals => {:present_user => present_user, :klass => @klass} %>
<% end %>

<%
  @force_nav_bar = true;
  navitem(present_user.can_update?(@klass)) { link_to('Edit Class', edit_klass_path(@klass)) }
  navitem(:can_read?, @klass.learning_plan) { link_to("Learning Plan", @klass.learning_plan) }
  navitem(:can_read_children?, @klass, :sections) { link_to("Sections", klass_sections_path(@klass)) }
  navitem(:can_read_children?, @klass, :learning_conditions) { link_to("Learning Conditions", klass_learning_conditions_path(@klass)) }
  navitem(:can_read_children?, @klass, :cohorts) { link_to("Cohorts", klass_cohorts_path(@klass)) }
  navitem(:can_read?, @klass.consent_options) { link_to("Consent Options", @klass.consent_options) }
  navitem(:can_read_children?, @klass, :report) { link_to("Report", report_klass_path(@klass, :format => :xls)) } \
    if present_user.is_administrator?
  navitem(:can_read_children?, @klass, :class_grades) { link_to("Class Grades", class_grades_klass_path(@klass, :format => :xls)) }
  navitem(:can_read_children?, @klass, :analytics) { link_to("Analytics", klass_analytics_path(@klass)) }
%>
