<%= section "Plan your class before adding any new course materials to OpenStax Tutor" do %> 

  <ol>
    <li>Plan what course materials, i.e. resources and exercises, you will assign to students.</li>
    <li>Ensure these course materials are hosted on our sister sites, Connexions and OpenStax Exercises, or add as necessary.</li>
    <li>Organize and sequence related course materials into topics.</li>
    <li>Plan the assignments (homeworks and tests) you will assign via <%= SITE_NAME %>. </li>
    <li>Decide if you will partner with <%= SITE_NAME %> researchers to run an educational experiment in connection with your class. </li>
  </ol>

<p><strong>Plan the course materials you will assign to students via <%= SITE_NAME %>.</strong></p>

<p>The assignments you create in <%= SITE_NAME %> can include two (2) types of course materials:</p> 
  <ul>
    <li><strong>Resources</strong>, i.e. background material on a specific topic that you can attach to an assignment;</li> and 
    <li><strong>Exercises</strong>, i.e. homework and test questions that students work for credit.</li>
  </ul>
      
<p><strong>Ensure the course materials you plan to assign to students are hosted on our external sites, Connexions and Quadbase.</strong></p> 
  
<p><%= SITE_NAME %> does not host course materials. Instead, the site pulls resources from Connexions and exercises from Quadbase. To learn more about adding new resources to Connexions, or adapting existing resources from Connexions, go here. To learn more about adding new exercises to Quadbase, or adapting existing exercises from Quadbase, go here.</p> 

<p><strong>Organize and sequence related resources and exercises into logical groups. In <%= SITE_NAME %>, we refer to those "logical groups" as <em>topics</em>. </strong></p>

<p>Some things to consider:</p>

<ul>
    <li>How you organize your materials is up to you. You can have any number of topics, and each topic can contain any number of resources and exercises. However, as you organize your materials, think about a logical way to group resources and exercises together. What are the overarching lessons you want to teach? What order will you teach these lessons? Which course material reinforce these lessons? Are there concepts that students must learn before they can understand a later lesson? </li>
    
    <li>Eventually, you will create assignments by listing the topic(s) you want each assignment to cover. 
      
      <li>Plan the assignments (homeworks and tests) you will assign via <%= SITE_NAME %>. </li>
      <li>Decide if you will partner with <%= SITE_NAME %> researchers to run an educational experiment in connection with your class. </li>
    </ol>
    
  <% end %>