<p><%= SITE_NAME %> does not host course materials. Instead you will ensure the materials you wish to assign are hosted on external websites, including <%= link_to "Connexions", "http://www.cnx.org" %>, <%= link_to "Quadbase", "http://www.quadbase.org" %> and others.</p>
    <p>
    You can assign two (2) kinds of material in <%= SITE_NAME %>: 
       <ol>
          <li> <em>Study Resources</em>: any web url, including <%= link_to "Connexions", "http://www.cnx.org" %> modules, blogs or other websites.</li>
          <li> <em>Exercises</em> from <%= link_to "Quadbase", "http://www.quadbase.org" %>: free-form, multiple choice and true/false questions.</li>
       </ol>
       <p>
      Content in Connexions and Quadbase is open and free to use or reuse. Similarly, content you add to Connexions and Quadbase is easily shared -- allowing others to use and reuse it legally -- while still giving you recognition and attribution for your work.</li>
    <p>
<p>To get started:</p>
        <ul>
    <li><%= link_to "Create new resources in Connexions", "http://cnx.org/help/authoring/createmodule" %> or <%= link_to "search for reusable Connexions resources", "http://cnx.org/content/" %>.</li>
    <p>
    <li><%= link_to "Create new exercises in Quadbase", "https://quadbase.org/questions/get_started"%> or <%=link_to "search for reusable Quadbase exercises", "https://quadbase.org/questions"%>.</li>
  </ul>
  <p>