
  
    <%= SITE_NAME %> does not host course materials. Instead you will add course materials to, or reuse content from, <%= link_to "Connexions", "http://www.cnx.org" %> and <%= link_to "Quadbase", "http://www.quadbase.org" %>.
    <p>
    You can assign two (2) kinds of material in <%= SITE_NAME %>: 
       <ol>
          <li> <em>Resources</em>: background material (text, tables, images, audio, video files etc); and</li>
          <li> <em>Exercises</em>: free-form, multiple choice and true/false questions.</li>
       </ol>
       <p>
      Content in Connexions and Quadbase is open, licensed under the <%= link_to "Creative Commons Attribution License", "http://creativecommons.org/licenses/by/3.0/" %> and free to use or reuse. Content you add to Connexions and Quadbase is easily shared -- allowing others to use and reuse it legally -- while still giving you recognition and attribution for your work.</li>
    <p>
    <%= link_to "Create new resources in Connexions", "http://cnx.org/help/authoring/createmodule" %> or <%= link_to "search for reusable Connexions resources", "http://cnx.org/content/" %>.
    <p>
    <%= link_to "Create new exercises in Quadbase", "https://quadbase.org/questions/get_started"%> or <%=link_to "search for reusable Quadbase exercises", "https://quadbase.org/questions"%>.
  </ul>