<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p><%= SITE_NAME %> is built to capitalize on the large universe of freely available open educational resources (OER). While we do not directly 
 host educational content, we make it easy for you to embed OER and other web content directly in your assignments.</p>

<ul>
    <li><b>Exercises.</b> Exercises you assign via <%= SITE_NAME %> must be hosted in our external, OST-compatible OER repository. You can add your own exercises
      to the repository, or you can easily search for and use existing exercises created by 
      other authors. Because the content in the repository is openly licensed, exercises are <em>totally free to use or adapt</em> as long the original author is credited!</li>
      <p>
    <li><b>Other resources</b>. Any web URL can be provided as an assignment resource. For example, you can embed resources from <%= link_to "Connexions", 
      "http://www.cnx.org" %> or link to a blog or other website.</li>
</ul>

<p> Please email <%= email_link "support", "support@openstaxtutor.org" %> for more information about the repository for exercises and assessments.</p>


    <% if false %>  
       <ul>
         <li><em>Exercises</em> you use must be hosted on <%= link_to "Quadbase", "http://www.quadbase.org"%>, the open-access question and answer repository. 
               <strong>Currently, OST supports simple multiple choice questions only</strong>; more question types are coming soon.</li>
         <p>
          <li><em>Study Resources</em> can be hosted on various external 
            websites, including <%= link_to "Connexions", 
          "http://www.cnx.org" %>, one of the world's largest open educational resources. </li>
       </ul>
      
      <p>Note that content you add to Quadbase and Connexions must be legally publishable under 
        the Creative Commons Attribution license, meaning that anything you use directly in your content must 
        be legally publishable under those licenses.</p>
        <% end %> 
    <% if false %>    
<p>Helpful resources: </p>
  <ul>

    <li>Frequently asked legal and intellectual property questions <%= link_to "Quadbase", "http://quadbase.org/help/legal" %>
        and <%= link_to "Connexions", "http://cnx.org/help/ip" %>.</p>
    
    <li><%= link_to "Create new exercises in Quadbase", "https://quadbase.org/questions/get_started"%> 
            or <%=link_to "search for reusable Quadbase exercises", "https://quadbase.org/questions"%>.</li>
    <p>
    <li><%= link_to "Create new resources in Connexions", "http://cnx.org/help/authoring/createmodule" %> 
      or <%= link_to "search for reusable Connexions resources", "http://cnx.org/content/" %>.</li>
  </ul>
  <p>
    <% end %>