<%= section "2. Plan your class before adding any new course materials to OpenStax Tutor." do %> 

<p>Before adding any course materials to <%= SITE_NAME %>, we recommend you take some time to plan how you will structure your course. Consider the following:</p>
  
  <ol>
          
  <li><strong>Think about partnering with <%= SITE_NAME %> researchers to run an educational experiment in your class.</strong></li>

    <%= render :partial => 'help/blurbs/research_study'%>
    
    <li><p><strong>Plan course materials and ensure they are hosted on <%= link_to "Connexions", "http://www.cnx.org" %> and <%= link_to "Quadbase", "http://www.quadbase.org" %>.</strong></li>
    <%= render :partial => 'help/blurbs/plan_content'%>
    
    <li><strong>Organize and sequence your course materials into <em>topics</em>.</strong></li>
    <%= render :partial => 'help/blurbs/organize_topics'%>
    
    <li><strong>Plan assignments and decide if you will set up any learning conditions for them. </strong></li>
    <%= render :partial => 'help/blurbs/plan_assignments'%>
    
    </ol>
    
    
  <% end %>
  
  