<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<p><%= SITE_NAME %> does not host course materials.</em> Before you can assign material via OST, 
  ensure your host materials are hosted on external websites:</p>
       <ul>
         <li> <em>Exercises</em> must be hosted on <%= link_to "Quadbase", "http://www.quadbase.org"%>, the open question and answer database. 
               <strong>Currently, OST supports simple multiple choice questions only</strong>; more question types are coming soon.</li>
         <p>
          <li><em>Study Resources</em> can be hosted on any external 
            website, e.g. <%= link_to "Connexions", 
          "http://www.cnx.org" %>, one of the world's largest open educational resources. Resources can include Connexions 
          modules or other text, video, etc.</li>
       </ul>
      <p>Note that content you add to Quadbase and Connexions must be legally publishable under 
        the Creative Commons Attribution license, meaning that anything you use directly in your content must 
        be legally publishable under those licenses.</p>
    
<p>Helpful resources: </p>
  <ul>
    <li>Frequently asked legal and intellectual property questions for <%= link_to "Quadbase", "http://quadbase.org/help/legal" %>
        and <%= link_to "Connexions", "http://cnx.org/help/ip" %>.</p>
    
    <li><%= link_to "Create new exercises in Quadbase", "https://quadbase.org/questions/get_started"%> 
            or <%=link_to "search for reusable Quadbase exercises", "https://quadbase.org/questions"%>.</li>
    <p>
    <li><%= link_to "Create new resources in Connexions", "http://cnx.org/help/authoring/createmodule" %> 
      or <%= link_to "search for reusable Connexions resources", "http://cnx.org/content/" %>.</li>
  </ul>
  <p>