<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<ol>
  <li>From the <%= SITE_NAME %> homepage, click on <%= link_to "Current Classes", klasses_path %>.</li>
  <p>
          <%= image_tag("current_classes.png", {:border => 1, :width => "80%", :height => "80%", :title=>"current classes"})%>
        <p>
  <li>Find the name and instructor of your class and click on the class name.</li>
  <p>
  <li>On the Class page, click <strong>Register</strong>:</li>
      <%= image_tag("register.png", {:border => 1, :width => "80%", :height => "80%", :title=>"register"})%>
      <p>
  <li>If the class has multiple sections, click the <strong>section name</strong>, then <strong>select the section you 
    will attend</strong>.</li>
  <p>
      <%= image_tag("select_section.png", {:border => 1, :width => "60%", :height => "60%", :title=>"select section"})%>
    <p>
  <li><em>Optional</em>: enter your university/student ID if instructor enabled this setting.</li>
  <p>
  <li>Optional: if you wish to audit, mark the audit box.</li>
  <p>
  <li>Click <strong>Create Registration Request</strong> to send your request to the instructor.</li>
</ol>
