<%= section "3. Set up your class." do %> 

<p>After some planning, you are ready to set up your class in <%= SITE_NAME %>.</p>

  <ol>
          
  <li><strong>Customize class format.</strong></li>

    <%= render :partial => 'help/blurbs/class_format'%>
    
    <li><strong>Customize class Learning Conditions, if any.</strong></li>
    <%= render :partial => 'help/blurbs/learning_conditions'%>
    
    <li><strong>Add and organize materials in the Topics section.</strong></li>
    <%= render :partial => 'help/blurbs/topic'%>
    
    <li><strong>Create homeworks and tests in the Assignments section.</strong></li>
    <%= render :partial => 'help/blurbs/plan_assignments'%>
    
    <li><strong>View/schedule assignments in Scheduling section.</strong</li>
    <%= render :partial => 'help/blurbs/scheduling'%>
    </ol>
    
    
  <% end %>
  
