<%= section "3. Set up your class." do %> 

<p>After some planning, you are ready to set up your class in <%= SITE_NAME %>.</p>

  <ol>
          
  <li><strong>Customize class settings.</strong></li>

    <%= render :partial => 'help/blurbs/class_format'%><br/>
    
    <li><strong>Set up Schedule conditions, if not using the default.</strong></li><br/>
    
    <li><strong><%=link_to "Customize feedback conditions, if not using the default.", help_learning_conditions_path %></strong></li><br/>
    
    <li><strong><%= link_to "Add and organize materials in the Topics section.", help_topics_path %></strong></li><br/>

    <li><strong>Create homeworks and tests in the Assignments section.</strong></li><br/>
    
    <li><strong>View/schedule assignments in Scheduling section.</strong</li>
    <%= render :partial => 'help/blurbs/scheduling'%><br/>
    </ol>
    
    
  <% end %>
  