<%= section "3. Set up your class." do %> 

<p>After some planning, you are ready to set up your class in <%= SITE_NAME %>.</p>

  <ol>
          
  <li><strong><%= link_to "Enter basic class settings.", help_class_settings_path %></strong></li><br/>
    
    <li><strong><%=link_to "Customize learning conditions, if not using the default.", help_learning_conditions_path %></strong></li><br/>
    
    <li><strong><%= link_to "Add and organize materials in the Topics section.", help_topics_path %></strong></li><br/>

    <li><strong><%= link_to "Create homeworks and tests in the Assignments section.", help_assignments_path %></strong></li><br/>
    
    <li><strong><%= link_to "View and schedule assignments in Scheduling section.", help_scheduling_path %> </strong</li>
    </ol>
    
    
  <% end %>
  