<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<html>
<head></head>
<body>

<h2>Exception Encountered</h2>

<p>Error ID: <%= @error_id.nil? ? "N/A" : @error_id %></p>

<p>
  User ID: <%= @user.nil? ? "N/A" : @user.id.to_s %><br/>
  Username: <%= @user.nil? ? "N/A" : @user.username %>
</p>

<p>URL: <%= @request.nil? ? "N/A" : @request.url %></p>

<p>Message: <%= @msg.nil? ? "N/A" : @msg %></p>

<p>Exception: <%= @exception.inspect %></p>

<p>Backtrace:<br/>
  <br/>
  <%= @backtrace.join("<br/>\n").html_safe %>
</p>

<p>Parameters: <%= @request.nil? ? "N/A" : @request.params %></p>

</body>
</html>
