<html>
<head></head>
<body>

<h2>Exception Encountered</h2>

<% if !@user.nil? %>
  <p>User ID: <%= @user.id.to_s %><br/>
    Username: <%= @user.username %></p>
<% end %>

<% if !@msg.nil? %>
  <p>Message: <%= @msg %></p>
<% end %>

<p>Exception: <%= @exception.inspect %></p>

<p>Backtrace:<br/>
<br/>
<%= @backtrace.join("<br/>\n").html_safe %></p>

</body>
</html>
