<%= form_for([@learning_plan, @assignment_plan], :remote => true) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :style => "width:90%"%>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction, :rows => 3, :style => "width:90%" %>
  </div>
  <div class="field">
    <%= t(:start_date_time) %><br />
    <%= f.datetime_text_field :starts_at, {:time_zone => @assignment_plan.learning_plan.klass.time_zone} %>
  </div>
  <div class="field">
    <%= t(:end_date_time) %><br />
    <%= f.datetime_text_field :ends_at, {:time_zone => @assignment_plan.learning_plan.klass.time_zone} %>
  </div>
  <div class="field">
    <%= f.check_box :is_test %> This is a test
  </div>
  <div class="field">
    <%= f.check_box :is_open_book %> This is open book
  </div>
  <div class="field">
    <%= f.check_box :is_group_work_allowed %> Group work is allowed
  </div>
  <div class="field">
    <%= f.check_box :is_ready %> This is ready to be assigned    
  </div>
  <div class="field">
    <i>Set assignment start and end dates and times using the scheduling calendar.</i>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
