<h1>Listing researchers</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @researchers.each do |researcher| %>
  <tr>
    <td><%= researcher.user_id %></td>
    <td><%= link_to 'Show', researcher %></td>
    <td><%= link_to 'Edit', edit_researcher_path(researcher) %></td>
    <td><%= link_to 'Destroy', researcher, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Researcher', new_researcher_path %>
