<h1>Listing course_instructors</h1>

<table>
  <tr>
    <th>Course</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_instructors.each do |course_instructor| %>
  <tr>
    <td><%= course_instructor.course_id %></td>
    <td><%= course_instructor.user_id %></td>
    <td><%= link_to 'Show', course_instructor %></td>
    <td><%= link_to 'Edit', edit_course_instructor_path(course_instructor) %></td>
    <td><%= link_to 'Destroy', course_instructor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course instructor', new_course_instructor_path %>
