<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type => "new"}} %>
<% addTestMeta {{:major_name => "Devise::Session"}} %>

<%= pageHeading "Sign In" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <% @errors = resource.try(:errors) %>
  
  <div class="field test input user_username"><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div class="field test input user_password"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "link_button" %></div>
<% end %>

<br/>
<%= render "devise/shared/links" %>
