<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= form_for([@topic, @resource], :remote => true) do |f| %>
  <div class="field">
    URL<br />
    <%= f.text_field :url, :style => "width:90%" %>
  </div>
  <div class="field">
    Name (optional)<br />
    <%= f.text_field :name, :style => "width:90%" %><br/>
    <span class="field_help">If provided, the link to this resource will appear with this name instead of the full URL.</span>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 3, :style => 'width:90%' %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please wait..." %>
  </div>
<% end %>
