<p id="notice"><%= notice %></p>

<p>
  <b>Resourceable type:</b>
  <%= @resource.resourceable_type %>
</p>

<p>
  <b>Resourceable:</b>
  <%= @resource.resourceable_id %>
</p>

<p>
  <b>Url:</b>
  <%= @resource.url %>
</p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @resource.notes %>
</p>

<p>
  <b>Number:</b>
  <%= @resource.number %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
