<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% topic = @topic || @topic_exercise.topic %>

<%= form_for([@topic, @topic_exercise], :remote => true) do |f| %>

  <div class="field">
    Exercise URL<br />
    <%= text_field_tag :exercise_url, @topic_exercise.exercise.url, :style => "width: 90%" %>
  </div>
  <div class="field">
    <%= f.check_box :reserved_for_tests %> This exercise is reserved for use in tests.
  </div>
  <div class="field">
    Concept <%= link_to_help 'concepts' %> <br/>
    <%= f.select(:concept_id, 
                     options_from_collection_for_select(topic.learning_plan.concepts, :id, :name, 
                                                        @topic_exercise.concept.nil? ? nil : @topic_exercise.concept.id),  
                     :prompt => "Choose a concept")%>
    <% if false %>
      or provide a new concept: <%= text_field_tag :concept_name %>
      <%= link_to "New Concept", new_learning_plan_concept_path(topic.learning_plan), :remote => true %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :disable_with => "Please wait...", :class => 'link_button' %>
  </div>

<% end %>
