
<style type="text/css">

  table.list th {
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px;
  }

  table {
    margin-top:15px;
  }

  .sub_table_heading {
    font-size:1.25em;
    margin-top:28px;
  }

  td span form input {
    height: 6px;
    display: block;
  }

  td span form button {
    margin-top: 3px;
    position: absolute;
  }

  td span form button[type='submit'] {
    left: -30px;
    top: 0px;
  }

  td span form button[type='cancel'] {
    left: 39px;
    top: 0px;
  }

  td span form {
    margin-bottom: 3px;
    position:relative;
  }


</style>

<%= pageHeading "#{@external_assignment.klass.course.name}: Grades for #{@external_assignment.name}"%>

<div style="float:right">
<%= link_to 'External Assignment Info', external_assignment_path(@external_assignment) \
      if present_user.can_update?(@external_assignment) %><br/>

<%= link_to 'List of all External Assignments', klass_external_assignments_path(@external_assignment.klass) \
      if present_user.can_read_children?(@external_assignment.klass, :external_assignments) %><br/>

<%= link_to 'Back to Class', klass_path(@external_assignment.klass) \
      if present_user.can_read?(@external_assignment.klass) %><br/>
</div>

<h4>Name: <%= @external_assignment.name %></h4>

<h4 style="padding: 10px 0px 0px">Grades:</h4>

<% students_by_reg_status = @external_assignment.klass.students.visible(present_user).std_sort(present_user).group_by { |s| student_status_string(s) } %>
<% [student_status_string_registered, student_status_string_auditing, student_status_string_dropped].each do |reg_status_str| %>
  <% student_external_assignments = students_by_reg_status[reg_status_str].collect do |student| %>
    <% sea = StudentExternalAssignment.where{student_id == my{student.id}}
                                      .where{external_assignment_id == my{@external_assignment.id}}
                                      .first %>
    <% logger.debug "EA #{@external_assignment.id} student #{student.id} SEA #{sea.id}" %>
    <% sea %>
  <% end %>

  <%= render  partial: "show_sub_table",
              locals: { sub_table_heading:            reg_status_str,
                        external_assignment:          @external_assignment,
                        student_external_assignments: student_external_assignments,
                        # student_name_width_px:        student_name_width_px,
                        # assignment_grade_width_px:    assignment_grade_width_px,
                        # exercise_width_px:            exercise_width_px,
                        # table_width_px:               table_width_px 
                      } %>
<% end %>

