<%= form_for([@organization, @course]) do |f| %>

  <div class="field test input name">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br/>
    <span class="field_help">e.g. Math 101: Single-Variable Calculus</span>
  </div>
  <div class="field test input short_name">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %><br/>
    <span class="field_help">e.g. Math 101</span>
  </div>
  <div class="field test input description">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field test input typically_offered">
    <%= f.label :typically_offered %><br />
    <%= f.text_field :typically_offered %>
  </div>
  <div class="actions">
    <%= f.submit :class => "test clickable submit" %>
  </div>
<% end %>
