<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>

<p>
  <b>Typically offered:</b>
  <%= @course.typically_offered %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Organization', organization_path(@course.organization) %>
