<%# Copyright 2014 Rice University. Licensed under the Affero General
    Public License version 3 or later. See the COPYRIGHT file for details. %>

<% url = terp_ca_url(@assignment.assignment_plan.embed_code)
   time_zone = @student.user.time_zone %>

<p>Hi <%= @student.user.first_name %>!</p>

<p>A conceptual practice test has been released for <%= full_class_name(
   @assignment) %>. The assignment is due <%= standard_datetime_zone(
   @assignment.assignment_plan.ends_at, time_zone) %>. Check it out at:</p>

<p>
  <%= link_to url, url %>
</p>

<%= render :partial => 'shared/email_closing' %>
