<%# Copyright 2014 Rice University. Licensed under the Affero General
    Public License version 3 or later. See the COPYRIGHT file for details. %>

<% url = terp_ca_url(@assignment.assignment_plan.embed_code) %>

<p>Hi <%= @student.user.first_name %>,</p>

<p>An assignment has been posted for one your <%= SITE_NAME %> classes (<%= full_class_name(@assignment) %>). Check it out at:</p>

<p>
  <%= link_to url, url %>
</p>

<%= render :partial => 'shared/email_closing' %>
