<p>Hi <%= @student.user.first_name %>,</p>

<p>An assignment has been posted for one your <%= SITE_NAME %> classes (<%= full_section_name(@assignment.section) %>).  Check it out at:</p>

<p><%= link_to assignment_url(@assignment), assignment_url(@assignment) %></p>

<%= render :partial => 'shared/email_closing' %>