<%= section "Details", {:classes => 'first' } do %>
  <p>
    <b>Name:</b>
    <%= @organization.name %>
  </p>

  <p>
    <b>Default Time Zone:</b>
    <%= @organization.default_time_zone %>
  </p>
<% end %>

<%= section "Courses" do %>

  <%= uber_list @organization.courses, :name %>

<% end %>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'List', organizations_path %> |
<%= link_to 'New Course', new_organization_course_path(@organization) %>
