<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:page_type  => "show"}} %>
<% addTestMeta {{:major_name => @organization.name}} %>

<%= section "Details", {:classes => 'first' } do %>
  <p>
    <b>Name:</b>
    <%= @organization.name %>
  </p>

  <p>
    <b>Default Time Zone:</b>
    <%= @organization.default_time_zone %>
  </p>
<% end %>

<%= section "Courses" do %>

  <%= uber_list @organization.courses, :name %>

<% end %>


<%= link_to 'Edit', edit_organization_path(@organization), :test => "edit_organization" %> |
<%= link_to 'List', organizations_path, :test => "list_organizations" %> |
<%= link_to 'New Course', new_organization_course_path(@organization), :test => "new_course" %>
