<%= pageHeading "Current Course Offerings" %>

<p>Interested in taking <%= a_site_name %> course?  The courses below are those from our <%= link_to "catalog", catalog_path %> that are currently in progress or that will be starting soon.</p>

<% @offered_courses.group_by{|oc| oc.course.organization}.sort.each do |organization, offered_courses| %>

  <%= section organization.name do %>

      <% offered_courses.each do |offered_course| %>
        <div style="padding: 5px 0 8px">
          <p><b><%= link_to offered_course.course.name, offered_course, :style => 'font-size:14px' %></b></p>
          <p><%= offered_course.course.description %></p>
      
          <p><i>Educators:</i> <%= offered_course.educators.any? ? 
                                   offered_course.educators.collect{|e| e.user.full_name}.join(", ") :
                                   "Not Yet Assigned" %></p>
          <p><i>Starts At:</i> <%= standard_datetime(offered_course.start_date) %>
          <%# TODO put in a "last offered: 2012" note %>
        </div>
      <% end %>

  <% end %>

<% end %>

<br />
