
<p>
  <b>Course:</b>
  <%= @offered_course.course_id %>
</p>

<p>
  <b>Approved emails:</b>
  <%= @offered_course.approved_emails %>
</p>

<p>
  <b>Consent form:</b>
  <%= @offered_course.consent_form.try(:name) || "None selected" %>
</p>

<p>
  <b>Start date:</b>
  <%= standard_datetime_zone(@offered_course.start_date, @offered_course.time_zone) %>
</p>


<%= link_to 'Edit', edit_offered_course_path(@offered_course) %> 
