<p>Hi <%= SITE_NAME %> educators,</p>

<p><%= @registration_request.requestor_full_name %> wants to join <%= full_class_name(@registration_request) %>.</p>

<p>You can approve or reject this request at <%= klass_registration_requests_url(@registration_request.section.klass) %></p>

<%= render :partial => 'shared/email_closing' %>