<% @include_timepicker = true %>

<% @errors = @consent_form.errors %>

<%= form_for(@consent_form) do |f| %>
  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "HTML" %><br />
    <%= f.text_area :html %>
  </div>
  <div class="field">
    <%= f.label "E-signature Required?" %><br />
    <%= f.check_box :esignature_required %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
