<!DOCTYPE html>
<html>

  <head>
    <% if @redirect_url %>
      <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
    <% end %>
    
    
    <% if !@page_title_override.nil? %>
      <title><%= @page_title_override %></title>
    <% else %>
      <title><%= @page_title + ' - ' if !@page_title.nil? %><%= SITE_NAME %></title>  
    <% end %>

<% if false %>
    <% if content_for?(:open_graph) %>
      <%= yield(:open_graph) %>
    <% else %>
      <meta property="og:title" content="<%= SITE_NAME %>" />
      <meta property="og:description" content="Free, open-source, high-quality textbooks for your college course." />
      <meta property="og:image" content="http://openstaxcollege.org/osc_logo_open_graph.png" />
      <meta property="og:url" content="http://openstaxcollege.org"/>
      <meta property="og:site_name" content="<%= SITE_NAME %>"/>
      <meta property="fb:admins" content="219380148143032"/>
    <% end %>

    <% if current_page?('/') %>
      <meta property="og:type" content="website"/>
    <% end %>
<% end %>
    
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    

    <meta name="Description" content="A personalized learning experience from a tutor that adapts to you.">

    <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>

    <%= render :partial => 'layouts/common_head_includes' %>
    
    <% if Rails.env.production? %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33394116-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>
  
    <% if @include_mathjax %>  
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>

       <% mj_url_base = request.ssl? ? 
                        "https://d3eoax9i5htok0.cloudfront.net" : 
                        "http://cdn.mathjax.org" %>
       <script type="text/javascript"
         src="<%= mj_url_base %>/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
       </script>
    <% end %>
  
    <% if @enable_timeout && user_signed_in? %>
      <script type="text/javascript">
        $(document).ready(function() {
          $(document).pageTimeout({signout_path: "<%= destroy_user_session_path %>"});
        });
      </script>
    <% end %>
  
  </head>

  <body>    
    
    <div id="toolbox" style="position:absolute; top:0; left:0">
      <% if present_user.is_administrator? %>
        <%= link_to "Admin", admin_path %><br/>
      <% end %>
      <% if Rails.env.development? %>
        Current user: <%= present_user.username %><br/>
        <%= link_to "Dev Toolbox", dev_toolbox_path, :remote => true %>
        <div id="dev_toolbox_dialog" style="display:none" title="Dev Toolbox"></div>
        <% content_for :javascript do %>
          <%= javascript_tag do %>
            $("#dev_toolbox_dialog").dialog({ 
                autoOpen: false, 
                modal: true, 
                height:500, 
                width:700
            });
          <% end %>
        <% end %>
      <% end %>
    </div>

    
    <% if @ask_for_consent %>
      <% content_for :javascript do %>
        <%= javascript_tag do %>
          function create_consent(did_consent) {
            var data = $('#new_consent').serializeArray();
            if (null != did_consent) {
              data.push({name: "consent[did_consent]", value: did_consent});
            }              
            return $.post($("#new_consent").attr('action'), data, null, "script");      
          }
        
          $(document).ready(function() {
            $('#consent_form_dialog').dialog({
              modal: true,
              height: 500,
              width: 700,
              buttons: [
                {
                  text: "I consent",
                  click: function() { create_consent(true); }
                },
                {
                  text: "Remind me later",
                  click: function() { create_consent(null); }
                },
                {
                  text: "I do not consent",
                  click: function() { create_consent(false); }
                }
              ] 
            });
           
          });
        <% end %>
      <% end %>
    
      <div id="consent_form_dialog" style="display:none" title="Research Consent Form">
        <%= link_to "Open in a separate window", 
                    new_polymorphic_path([@consentable, Consent.new]), :style => 'float:right; font-size:10px' %>
        <br/>
        <div id="consent_form_dialog_errors"></div>        
        
        <%= @consentable.form_for_new_consent.html.html_safe %>

        <%= form_for([@consentable, Consent.new]) do |f| %>
          Signature: <%= f.text_field :esignature %>
        <% end %>    
      </div>
    <% end %>

    <div id="outer">
      

      
      
      <div id="header">
                 
        <div id="nav_bar">
          <a href="/" class="logo"></a>
            <ul>
              <li>
                <%= link_to nil do %>
                  <span style="position:relative">ABOUT<% if @highlight_faculty %><span class="current"></span><% end %></span>
                <% end %>
              </li>
              <li>
                <%= link_to nil do %>
                  <span style="position:relative">DASHBOARD<% if @highlight_students %><span class="current"></span><% end %></span>
                <% end %>
              </li>
              <li>
                <%= link_to catalog_path do %>
                  <span style="position:relative">COURSE CATALOG<% if @highlight_administrators %><span class="current"></span><% end %></span>
                <% end %>
              </li>
              <li>
                <%= link_to klasses_path do %>
                  <span style="position:relative">CURRENT CLASSES<% if @highlight_administrators %><span class="current"></span><% end %></span>
                <% end %>
              </li>
              
              <li>
                <%= link_to nil do %>
                  <span style="position:relative">MY TUTOR<% if @highlight_staxdash %><span class="current"></span><% end %></span>
                <% end %>
              </li>
            </ul>
          </div>

          <div style="clear:right; float:right; padding-top:15px">
            <span id="account_info">
              <% if user_signed_in? %>
                <%= link_to current_user.first_name.upcase, edit_user_registration_path %> <%= image_tag 'blackdot.png', :size => '1x18'%> 
                <%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %>
              <% else %>
                <%= link_to "SIGN IN", new_user_session_path %> <%= image_tag 'blackdot.png', :size => '1x18'%> 
                <%= link_to "JOIN NOW", new_user_registration_path %>
              <% end %>

            </span>
          </div>


          <% if user_signed_in? && current_user.is_administrator? && WebsiteConfiguration.get_value(:sudo_enabled) %>
            <span style="float:left; color:#b22222; font-size:16px; font-weight:bold">
              SUDO ENABLED!!
            </span>        
          <% end %>
          
          
          <% if user_signed_in? %>
          <span id="clock" style="float:right; clear:right">
            <%= standard_datetime(Time.zone.now) %> (on last refresh)
          </span>
          <% end %>
      </div>

     
      <div id="main">
        
        <div id="message_dialog" style="display:none" title="">
          <div id="message_dialog_errors"></div>
          <div id="message_dialog_body"></div>
        </div>	
        
        <div class="top_level_container">
          <% if content_for?(:main) %>

            <%= yield(:page_heading) %>

            <div id="attention">
              <%= render 'shared/attention' %>
            </div>

            <%= yield(:main) %>         

          <% elsif content_for?(:right_column) || !(@navitems ||= []).empty? %>

            <%= yield(:page_heading) %>                     
               <div style="clear:both"></div>
              <div id="column_container_2c">
<div style="clear:both"></div>
                   <div id="main_column_2c" class="column">


                     <%= yield(:important) %>

                     <div style="clear:both"></div>

                     <div id="attention">
                       <%= render 'shared/attention' %>
                     </div>

                      <%= yield %>
                   </div>

                  

                   <div id="right_column_2c" class="column">
                     <%= yield(:right_column)%>
                     
                     <% @navitems.each do |navitem| %>
                       <p><%= navitem %></p>
                     <% end %>
                     
                   </div>
                   <div style="clear:both"></div>
              </div>
                            <div style="clear:both"></div>
           <% else %>
           
              <%= yield(:page_heading) %>
               <%= yield(:important) %>

               <div style="clear:both"></div>

               <div id="attention">
                 <%= render 'shared/attention' %>
               </div>

              <%= yield %>
              
              <div style="clear:both"></div>
           <% end %>
        </div>
      </div>

      <div id="footer">
        <div style="float:right">
          <%= link_to "http://www.rice.edu" do %>
            <%= image_tag 'ricelogo.gif', :style => 'float:right' %>
          <% end %>
        </div>

        <div id="copy">
          Copyright &copy; <%= year = Time.now.year; 2011 == year ? "2011" : "2011&ndash;#{year}".html_safe %> <%= COPYRIGHT_HOLDER %> |
          <%= link_to "Terms of Use", terms_path %> |
          <%= link_to "Contact Us", contact_path %>
      
          <br/>
      
          Supported by the
          <%= link_to "National Science Foundation", "http://www.nsf.org" %>,
          <%= link_to "Google", "http://www.google.org" %>, and
          <%= link_to "Rice University", "http://www.rice.edu" %>
          <br/>
        </div>
      </div>

    </div>

    

  <%= yield :javascript %>
  
  
  </body>

  <%= render :partial => 'layouts/common_footer_includes' %>


</html>

