<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% addTestMeta {{:current_user_id => @current_user.id}} if @current_user.present? %>
<!DOCTYPE html>
<html>

  <head>
    <% if @redirect_url %>
      <meta http-equiv='refresh' content='<%= @redirect_delay -%>;url=<%= @redirect_url -%>'>
    <% end %>


    <% if !@page_title_override.nil? %>
      <title><%= @page_title_override %></title>
    <% else %>
      <title><%= @page_title + ' - ' if !@page_title.nil? %><%= SITE_NAME %></title>  
    <% end %>

<% if false %>
    <% if content_for?(:open_graph) %>
      <%= yield(:open_graph) %>
    <% else %>
      <meta property="og:title" content="<%= SITE_NAME %>" />
      <meta property="og:description" content="Free, open-source, high-quality textbooks for your college course." />
      <meta property="og:image" content="http://openstaxcollege.org/osc_logo_open_graph.png" />
      <meta property="og:url" content="http://openstaxcollege.org"/>
      <meta property="og:site_name" content="<%= SITE_NAME %>"/>
      <meta property="fb:admins" content="219380148143032"/>
    <% end %>

    <% if current_page?('/') %>
      <meta property="og:type" content="website"/>
    <% end %>
<% end %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <meta name="Description" content="A personalized learning experience from a tutor that adapts to you.">

    <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>

    <%= render :partial => 'layouts/common_head_includes' %>

    <% if current_user.present? %>
      <% ost_user_settings = UserSettings.for(present_user) %>
      <script type="text/javascript">
        window.OSTUserSettings = <%= raw ost_user_settings.settings.to_json %>;
      </script>
    <% end %>


    <% if Rails.env.production? %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33394116-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

    <% if @include_mathjax %>  
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>

       <% mj_url_base = request.ssl? ? 
                        "https://c328740.ssl.cf1.rackcdn.com" :
                        "http://cdn.mathjax.org" %>
       <script type="text/javascript"
         src="<%= mj_url_base %>/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
       </script>
    <% end %>

    <% if @enable_timeout && user_signed_in? %>
      <script type="text/javascript">
        $(document).ready(function() {
          $(document).pageTimeout({signout_path: "<%= destroy_user_session_path %>"});
        });
      </script>
    <% end %>

  </head>

  <body>

    <div style="display:none">
      <div id="os_green" class="os_green"></div>
      <div id="os_orange" class="os_orange"></div>
      <div id="os_gray" class="os_gray"></div>
      <div id="os_yellow" class="os_yellow"></div>
      <div id="os_blue" class="os_blue"></div>
      <div id="os_dark_orange" class="os_dark_orange"></div>
    </div>

    <div id="toolbox" style="position:absolute; top:0; left:0">
      <% if present_user.is_administrator? %>
        <%= link_to "Admin Console", main_app.admin_path, :test => "admin_console" %><br/>
      <% end %>
      <% if present_user.is_researcher? || present_user.is_administrator? %>
        <%= link_to "Research Console", main_app.research_path, :test => "research_console" %><br/>
      <% end %>
      <% if !Rails.env.production? %>
        Current user: <%= present_user.username %><br/>
        <%= link_to "Dev Toolbox", main_app.dev_toolbox_path, :remote => true, :test => "dev_toolbox" %>
        <div id="dev_toolbox_dialog" style="display:none" title="Dev Toolbox"></div>
        <% content_for :javascript do %>
          <%= javascript_tag do %>
            $("#dev_toolbox_dialog").dialog({ 
                autoOpen: false, 
                modal: true, 
                height:500, 
                width:700
            });
          <% end %>
        <% end %>
      <% end %>

      <% clock_is_normally_enabled = @clock_enabled && user_signed_in? %>
    <% clock_is_enabled = clock_is_normally_enabled || !Rails.env.production? %>
      <% if (clock_is_enabled) %>
      <br/>
      <span id="clock" <%= "style='color:#ff00ff;'".html_safe if !clock_is_normally_enabled %> >
    <% time = Time.zone.now %>
    <%= standard_date(time) %><br/>
        <%= standard_time(time) %><br/>(on last refresh)
      </span>
      <% end %>
    </div>

    <% if present_user.is_administrator? %>
      <% session[:was_ever_logged_in_as_admin] = true %>
    <% end %>

    <% if session[:was_ever_logged_in_as_admin] %>
      <div id="live_site_warning" style="position:fixed; top:150px">
        <% if Rails.env.production? %>
          <%= attention_tag(["This is the LIVE SITE!"], :alert, "live_site_alert blink") %>
        <% elsif Rails.env.development? %>
          <%= attention_tag(["This is DEV.",  app_info].flatten.compact, :notice, "development_site_alert") %>
        <% elsif Rails.env.test? %>
          <%= attention_tag(["This is TEST.", app_info].flatten.compact, :notice, "test_site_alert") %>
        <% else %>
          <%= attention_tag(["I have NO IDEA where you are!"], :alert, "unknown_site_alert") %>
        <% end %>
      </div>
    <% end %>

    <%= render :partial => 'consent_forms/consent_form_machinery' if @ask_for_consent %>

    <div id="outer">

      <%# #########################   HEADER   ############################## #%>

      <div id="header" <%= classify(@header_class || "white") %>>

        <div id="nav_bar" class="test test_section top_nav">
          <a href="/" class="logo"></a>
            <% nav_links = [
                ["ABOUT", main_app.about_path, "", :about],
                ["DASHBOARD", main_app.dashboard_path, "", :dashboard],
                ["COURSE CATALOG", main_app.catalog_path, "", :catalog],
                ["CURRENT CLASSES", main_app.klasses_path, "", :classes],
                ["MY TUTOR", main_app.mytutor_path, "", :mytutor],
                ["HELP #{image_tag 'help_icon_v4.png', :height => '12px', :width => '12px', :style => 'vertical-align:middle; margin-top:-2px; padding-left:5px'}", 
                  main_app.help_path, "help_highlight", :help]
              ] %>

            <ul>
              <% nav_links.each do |nav_link| %>
                <li>
                  <%= link_to nav_link[1], :test => nav_link[0].html_safe.downcase.sub(/\s/, '_') do %>
                    <span class="<%= nav_link[2] %> <%= "current" if @highlight == nav_link[3] %>" 
                          style="display:inline; position:relative"><%= nav_link[0].html_safe %><em></em></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

          <% if user_signed_in? && current_user.is_administrator? && WebsiteConfiguration.get_value(:sudo_enabled) %>
            <span style="float:left; color:#b22222; font-size:16px; font-weight:bold">
              SUDO ENABLED!!
            </span>
          <% end %>

      </div>

      <noscript>
        <%= attention_tag(["Please enable JavaScript in your browser! Many #{SITE_NAME} pages will not work properly without it."], :alert, "js_not_enabled_alert remove_by_js") %>
      </noscript>

      <%# #########################   MAIN   ############################## #%>
     
      <div id="main" <%= "class=#{@main_div_background_image}" if @main_div_background_image %>>
        
        <div id="message_dialog" style="display:none" title="">
          <div id="message_dialog_errors"></div>
          <div id="message_dialog_body"></div>
        </div>
        
        <% if current_user.present? %>
        <div id="maybe_confirm_dialog" style="display:none" title="">
          <div id="maybe_confirm_dialog_errors"></div>
          <div id="maybe_confirm_dialog_body"></div>
          <%= form_for ost_user_settings, :remote => true do |f| %>
            <input type="checkbox" value="true" id="skip_maybe_confirm_dialog">
            <label for="maybe_confirm_skip">Don't show this again.</label>
          <% end %>
          <div id="maybe_confirm_button_panel">
            <button id="maybe_confirm_button_cancel" class="button dialog-cancel secondary">Cancel</button>
            <button id="maybe_confirm_button_ok" class="button dialog-ok primary">Continue</button>
          </div>
        </div>
        <% end %>

        <div id="help_dialog" style="display:none" title="">
          <div id="help_dialog_errors"></div>
          <div id="help_dialog_body"></div>
        </div>

        <% show_account_bar = !@main_div_background_image %>
        <% icon_color = show_account_bar ? 'gray' : 'white' %>

        <div class="account_info <%= 'account_bar' if !@main_div_background_image %>">
          <div>
            <% if user_signed_in? %>
              <span style="color: black">Welcome <%= current_user.first_name.capitalize %></span> &nbsp;&nbsp;
              <%= link_to "My Account", main_app.edit_user_registration_path %> 
              <%= vertical_bar(12) %>
              <%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete, :id => 'signout_link', :test => "sign_out" %>
            <% else %>
              <%= link_to "Join now", main_app.new_user_registration_path %> 
              <%= vertical_bar(12) %>
              <%= link_to "Sign in", main_app.new_user_session_path, :test => "sign_in" %>
            <% end %>
            <%= link_to "http://www.facebook.com/openstaxtutor", :style => 'margin-left: 16px' do %>
              <%= image_tag("fb_round_#{icon_color}.png") %>
            <% end %>
            <%= link_to "http://www.twitter.com/openstaxtutor" do %>
              <%= image_tag("twitter_round_#{icon_color}.png") %>
            <% end %> 

          </div>
        </div>


        <% @navitems ||= [] %>

        <div class="top_level_container">

      <% has_nav_content = content_for?(:right_column) || !@navitems.empty? || content_for?(:other_nav_content) %>

          <% if content_for?(:main) %>

            <%= yield(:page_heading) %>

            <div class="bar_topped_block">
              <div id="attention">
                <%= render 'shared/attention' %>
              </div>

              <%= yield(:main) %>
            </div>

          <% elsif @force_nav_bar || has_nav_content %>

            <%= yield(:page_heading) %>
            
            <div id="attention"><%= render 'shared/attention' %></div>
            
            <div style="clear:both"></div>
            <div id="column_container_2c">
              <div style="clear:both"></div>
              
              <div id="main_column_2c" class="column bar_topped_block">
                <%= yield(:important) %>
                <div style="clear:both"></div>
                <%= yield %>
              </div>
            
              <div id="right_column_2c" class="column <%= 'bar_topped_block' if has_nav_content %> test test_section right_nav">
                <%= yield(:right_column)%>
                  
                <% @navitems.each do |navitem| %>
                  <span style="display:block; padding-bottom: 4px"><%= navitem %></span>
                <% end %>
                  
                <%= yield(:other_nav_content) %>    
              </div>
              
              <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>

           <% else %>

             <%= yield(:page_heading) %>
             <%= yield(:important) %>

             <div style="clear:both"></div>

             <div class="<%= content_for?(:page_heading) ? 'bar_topped_block' : '' %>">
               <div id="attention">
                 <%= render 'shared/attention' %>
               </div>

               <%= yield %>
             </div>
             
             <div style="clear:both"></div>

           <% end %>

        </div>
      </div>

      <%# #########################   FOOTER   ############################## #%>

      <div id="footer">
        
        <div style="float:right">
          <%= link_to "http://www.rice.edu" do %>
            <%= image_tag 'rice_logo_4.png', :style => 'float:right' %>
          <% end %>
        </div>

        <div id="copy">
          Copyright &copy; <%= year = Time.now.year; 2012 == year ? "2012" : "2011&ndash;#{year}".html_safe %> <%= COPYRIGHT_HOLDER %> |
          <%= link_to "Terms of Use", main_app.terms_path %> |
          <%= link_to "Contact Us", main_app.contact_path %>
      
          <br/>
      
          Supported by the
          <%= link_to "National Science Foundation", "http://www.nsf.org" %>,
          <%= link_to "Google", "http://www.google.org" %>, <%= link_to "Duke University", "http://www.duke.edu" %>, and
          <%= link_to "Rice University", "http://www.rice.edu" %>
          <br/>
        </div>
      </div>

    </div>

    

  <%= yield :javascript %>
  
  <%= yield :test_meta %>
  
  </body>

  <%= render :partial => 'layouts/common_footer_includes' %>


</html>

