 <p><%= SITE_NAME %> melds new cyber and social infrastructures to put powerful learning tools in the hands of educators and learners.  <%= SITE_NAME %> is an ambitious effort that combines high-quality, public-ready software with advanced research pursuits.  We are still in beta and some of our features are still being developed.</p>



    <p><b>What is Concept Coach?</b></p>
    <p>Concept Coach is a learning tool designed to promote learning and retention. As a student reads the online College Physics book, s/he will encounter Concept Coach practice questions embedded in the book. To use Concept Coach, you must have a class registration code. At this time it is only available to select pilot classes.</p>

    <p><b>Who is behind it?</b></p>
    <p><%= SITE_NAME %> is a non-profit venture at Rice University, run by professional software developers and learning researchers, and supported by foundations.</p>

    

    <%= SITE_NAME %> is Copyright &copy; <%= year = Time.now.year; 2012 == year ? "2012" : "2011&ndash;#{year}".html_safe %> <%= COPYRIGHT_HOLDER %> and is supported by the
          <%= link_to "National Science Foundation", "http://www.nsf.org", 
          :target => '_blank' %>,
          <%= link_to "Google", "http://www.google.org", :target => '_blank' %>, <%= link_to "Duke University", "http://www.duke.edu", 
          :target => '_blank' %>, and
          <%= link_to "Rice University", "http://www.rice.edu", 
          :target => '_blank' %>
