 <p><%= SITE_NAME %> melds new cyber and social infrastructures to put <%= link_to "powerful learning tools", :anchor => 'features' %> in the hands of educators and learners.  <%= SITE_NAME %> is an ambitious effort that combines high-quality, public-ready software with advanced research pursuits.  We are still in beta and some of our features are still being developed.</p>



    <p><b>What is it?</b></p>
    <p>A study resource, homework, and test delivery system that uses powerful, advanced techniques to improve student learning and instructor understanding.</p>

    <p><b>Who is behind it?</b></p>
    <p><%= SITE_NAME %> is a non-profit venture at Rice University, run by professional software developers and learning researchers, and supported by foundations.</p>

    

    <%= SITE_NAME %> is Copyright &copy; <%= year = Time.now.year; 2012 == year ? "2012" : "2011&ndash;#{year}".html_safe %> <%= COPYRIGHT_HOLDER %> and is supported by the
          <%= link_to "National Science Foundation", "http://www.nsf.org" %>,
          <%= link_to "Google", "http://www.google.org" %>, <%= link_to "Duke University", "http://www.duke.edu" %>, and
          <%= link_to "Rice University", "http://www.rice.edu" %>

          <%= link_to "http://www.rice.edu" do %>
            <%= image_tag 'rice_logo_4.png', :style => 'float:right' %>
          <% end %>
