<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @prior_consent = @consentable.consent %>

<script type='text/javascript'>

  function create_consent(did_consent) {
    var data = $('#new_consent').serializeArray();
    if (null != did_consent) {
      data.push({name: "consent[did_consent]", value: did_consent});
    }              
    return $.post($("#new_consent").attr('action'), data, null, "script");      
  }

  $(document).ready(function() {
    $('#consent_form_dialog').dialog({
      closeOnEscape: false,
      modal: true,
      height: 520,
      width: 700,
      buttons: [
        {
          text: "I agree",
          click: function() { create_consent(true); }
        },
        {
          id: "learn_more_button"
        },
        {
          id: "remind_me_later_button"
        },
        {
          id: "i_do_not_agree_button"
        }
      ],
      open: function() {
        $(".ui-dialog-titlebar-close").remove();
        $("#consent_form_dialog").scrollTop("0");
        $("#learn_more_button").replaceWith("<%= j link_to(
          "Learn more", "https://www.youtube.com/watch?v=vMWj2Td6P4A",
          :target => '_blank', :class => 'consent_form_link') %>");
        $("#remind_me_later_button").replaceWith("<%= j link_to(
          "Remind me later", "", :class => 'consent_form_link',
          :remote => true,
          :onclick => "create_consent(null); $('#consent_form_dialog').dialog('close');") %>");
        $("#i_do_not_agree_button").replaceWith("<%= j link_to(
          "I do not agree", "", :class => 'consent_form_link',
          :remote => true,
          :onclick => "create_consent(false); $('#consent_form_dialog').dialog('close');") %>");
      }
    }).parent().css('position', 'fixed');
   
  });

</script>
    
<div id="consent_form_dialog" style="display:none" title="Research Consent">

  <div id="consent_form_dialog_errors"></div>
  
  <div id="consent_form">

    <%= link_to "Open in a separate window", 
                terp_full_page_consent_path(terp_id: params[:terp_id]),
                :style => 'float:right;', :class => 'consent_form_link',
                :target => :_blank %>
    <br/>            


    <%= @consentable.consent_options.consent_form.html.html_safe %>

    <%= form_for([@consentable, Consent.new]) do |f| %>
      Signature: <%= f.text_field :esignature %>
    <% end %>    
  </div>
  
</div>