<%= render :partial => 'shared/response_times',
           :locals => {:response_timeable => @student_exercise,
                       :page => "feedback"} %>
<% @show_footer = true %>

<% #next_se = next_student_exercise(@student_exercise)  # broken!!! 

  next_ae = @student_exercise.assignment_exercise.next
  next_se = next_ae.nil? ?
            nil :
            StudentExercise.where{student_assignment_id == my{@student_exercise.student_assignment_id}}.where{assignment_exercise_id == my{next_ae.id}}.first

%>


<%= render 'terp/question_nav', student_exercise: @student_exercise %>

<div id="question_outer" class='present_feedback'>

  <%= render "question", student_exercise: @student_exercise %>

  <%= render "the_guess" %>

  <%= render "correctness" %>


  <%= render 'terp/answer_choices' %>


  <%= render :partial => "terp/solution_feedback", :locals => { :student_exercise => @student_exercise } %> 


 


  <div class='fixed-right-button'>
    <% if next_se.nil? %>
      <%= link_to "Got It! Summary >", 
                  terp_quiz_summary_path(
                      terp_id: params[:terp_id]),
                  {class: 'link_button_terp'} %>
    <% else %>
      <%= link_to "Got It! Next Question >", 
                  terp_solicit_free_response_path(
                      terp_id: params[:terp_id], 
                      student_exercise_id: next_se.id),
                  {class: 'link_button_terp'} %>
    <% end %>
  </div>

</div>

<%= render :partial => 'shared/response_times',
           :locals => {:response_timeable => @student_exercise,
                       :page => "feedback"} %>
