
  <% @include_timepicker = true %>

<div class='prompt'>
  <div class='prompt-instructions'>
    Please sign up for an account to work the Concept Coach!
  </div>
  <div class='prompt-form'>
    

      <% resource ||= User.new
         resource_name = :user %>

      <style type='text/css'>
        div.field {
          display: inline-block;
          margin-bottom: 6px;
        }

        div.field.left {
          float: left;
          clear:both;
        }
        div.field.right {
          margin-left: 30px;
        }

        input {
          width: 280px;
        }
      </style>

      <%= lev_form_for :sign_up, url: terp_sign_up_path(params[:terp_id]) do |f| %>

        <div class='field left'>
          <div class='field_label'>First Name</div>
          <%= f.text_field :first_name %>
        </div>

        <div class='field right'>
          <div class='field_label'>Last Name</div>
          <%= f.text_field :last_name %>
        </div>
        
        <br/>
        
        <div class='field left'>
          <div class='field_label'>Username</div>
          <%= f.text_field :username %>
          <div class='terp_field_help'>3+ letters, numbers, and underscores</div>
        </div>

        <br/><div style="clear:both"></div>

        <div class='field left'>
          <div class='field_label'>Email</div>
          <%= f.email_field :email %>
        </div>

        <div class='field right'>
          <div class='field_label'>Email Again</div>
          <%= f.email_field :email_confirmation %>
        </div>

        <br/><div style="clear:both"></div>

        <div class='field left'>
          <div class='field_label'>Password</div>
          <%= f.password_field :password %>
          <div class='terp_field_help'>8+ characters</div>
        </div>

        <div class='field right'>
          <div class='field_label'>Password Again</div>
          <%= f.password_field :password_confirmation %>
        </div>



      <br/><div style="clear:both"></div>

        <div class='field left '>
          <div class='field_label'>Registration Code</div>
          <%= f.text_field :registration_code %><div class='terp_field_help'>Enter registration code as provided by your instructor</div>
        </div>

      <br/><div style="clear:both"></div>

        <div style="padding-top:20px">

          <%
          @contracts = [FinePrint.get_contract(:general_terms_of_use),
                        FinePrint.get_contract(:privacy_policy)].compact
          %>

        <% contract_links = @contracts.collect do |contract|
           link_to contract.title, show_terms_path(contract), remote: true
         end %>

        <%= check_box_tag(:agreement_checkbox) %> 
        I have read the <%= contract_links[0] %> and <%= contract_links[1] %> and agree to be bound by their terms.
        </div>
        
        <div class='prompt-buttons'>
          <%= f.submit "Sign up", :id => 'register_submit', :class => "ui-state-default ui-state-disabled link_button" %>
        </div>
      <% end %>

      </div>

</div>



<%# JS to enable/disable the submit button dependent on if the agree checkbox is checked %>
<% content_for :javascript do %>
  <%= javascript_tag do %>
  
  function disable_button(id) {
     $(id).attr('disabled', 'disabled');
     $(id).addClass('ui-state-disabled ui-button-disabled');
     $(id).attr('aria-disabled', true);
  }
  
  function enable_button(id) {
    $(id).removeAttr('disabled');
    $(id).removeAttr('aria-disabled');
    $(id).removeClass('ui-state-disabled ui-button-disabled');
    $(id).button();
  }
  
  $(document).ready(function() {
    disable_button('#register_submit');
    
    $('#agreement_checkbox').live('click', function() {
       if ($('#agreement_checkbox').is(':checked')) {
         enable_button('#register_submit');
       } 
       else {
         disable_button('#register_submit');
       }
    });
    
  });
  <% end %>
<% end %>