<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<%= pageHeading "Sign In" %>

<%
  resource ||= User.new
  resource_name ||= User
  params[:terp_id] ||= params[:user][:terp_id]
%>

<div class='prompt'>
  <div class='prompt-instructions'>
    Reinforce what you just read by completing this Concept Coach.
  </div>
  <div class='prompt-form'>

    <div style="padding-top: 50px; margin-left: auto; margin-right: auto">


      <div style="width: 300px; float: left">
        <%= form_for(resource, :url => session_path(resource_name)) do |f| %>
          <% @errors = resource.try(:errors) %>
          
          <div class="field test input user_username"><%= f.label :username_or_email %><br />
          <%= f.text_field :username, style: "width: 300px" %></div>

          <div class="field test input user_password"><%= f.label :password %><br />
          <%= f.password_field :password, style: "width: 300px" %></div>

          <%= f.hidden_field :terp_id, :value => params[:terp_id] %>

          <div class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

          <div><%= f.submit "Sign in", :class => "link_button" %> </div>
        <% end %>

        <%= link_to "Forgot your password?", terp_forgot_password_path(terp_id: (params[:terp_id])) %>

      </div>

      <div class='middle-space' style='display:inline-block'>
        <div class="or-bar" id='left-or-block'>
          <div class="or-text">OR</div>
        </div>
      </div>

      <div style="width: 200px; float:right; margin-left: 50px; margin-top: 85px;">

        <div class="field test input user_username">Need an account?</div>

        <div>
          <%= link_to "Get an Account", terp_sign_up_path(terp_id: params[:terp_id]), class: 'link_button_terp' %>
        </div>

      </div>

    </div>
  </div>

</div>

