<% @errors = @student_exercise.errors %>
<% @show_footer = true %>

<%= render 'shared/response_times', response_timeable: @student_exercise, page: "work" %>

<%= render 'terp/question_nav', student_exercise: @student_exercise %>

<div id="question_outer">
  <%= render "question", student_exercise: @student_exercise %>

  <%= render "the_guess", prompt_select: true %>

  <%= form_for(@student_exercise, 
               url: terp_save_answer_selection_path(terp_id: params[:terp_id], 
                                                    student_exercise_id: @student_exercise.id)) do |f| %>

    <%= render 'terp/answer_choices', f: f %>


    <div class='fixed-right-button'>
      <%= f.submit "Submit Answer >", :class => 'link_button' %>
    </div>

  <% end %>

</div>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function() {
      $('input[type="radio"]').click(function() {
        $('.highlighted-choice').removeClass('highlighted-choice');
        $(this).parent().addClass('highlighted-choice');
        // $('label.answer-content').removeClass('highlighted-choice');
        // $("label[for='" + $(this).attr('id') + "'].answer-content").addClass('highlighted-choice');
      });      
    });

  </script>
<% end %>