<% @errors = @student_exercise.errors %>

<div class='question_count'>Problem <%= @student_exercise.assignment_exercise.number %> of <%= @student_exercise.student_assignment.assignment.assignment_exercises.count %></div>

<div id="question_outer">
  <%= render "question", student_exercise: @student_exercise %>

  <%
    assignment_exercise       = @student_exercise.assignment_exercise
    assignment                = assignment_exercise.assignment
    assignment_plan           = assignment.assignment_plan
    exercise_data             = assignment_exercise.topic_exercise.exercise.content  
    allow_followup_question   ||= false
  %>

  <%= form_for(@student_exercise, 
               url: terp_save_answer_selection_path(terp_id: params[:terp_id], 
                                                    student_exercise_id: @student_exercise.id)) do |f| %>
    <table width="100%">

    <% exercise_data["simple_question"]["answer_choices"].each_with_index do |answer_choice, ii| %>
       <tr>
          <td class="question" width="5%">
            <%= f.radio_button :selected_answer, ii, :class => 'multiple_choice_radio_button' %>
          </td>
          <td class="question" width="5%">
             <p><%= choice_letter(ii) %>)</p>
          </td>
          <td class="question" width="90%">
             <%= answer_choice["html"].html_safe %>
          </td>
       </tr>
    <% end %>

    </table>

    <center>
      <div class="actions">
        <%= f.submit "Turn in my choice", 
              :class   => 'link_button' %>
      </div>
    </center>
  <% end %>

</div>
