<% @errors = @student_exercise.errors %>
<% @show_footer = true %>

<%= render 'shared/response_times', response_timeable: @student_exercise, page: "work" %>

<%= render 'terp/question_nav', student_exercise: @student_exercise %>

<div id="question_outer">
  <%= render "question", student_exercise: @student_exercise %>

  <%= form_for(@student_exercise, 
               url: terp_save_free_response_path(terp_id: params[:terp_id], 
                                                 student_exercise_id: @student_exercise.id)) do |f| %>

    <div class='terp-instructions'>Think about the question and enter your best guess. <%= link_to_help 'terp_free_response', image_tag('why_v2.png'), {:title => 'Why are free responses useful?', :width => '500', :height => '400'} %></div>

    <%= f.text_area :free_response, rows: 5, style: "width: 97.5%; margin-top:10px" %>


    <div class='fixed-right-button'>
        <%= f.submit "Continue >", :name => "save_and_lock", :class => 'link_button' %>
    </div>

  <% end %>
</div>
