<% @errors = @student_exercise.errors %>

<%= render 'shared/response_times', response_timeable: @student_exercise, page: "work" %>

<div class='question_count'>Problem <%= @student_exercise.assignment_exercise.number %> of <%= @student_exercise.student_assignment.assignment.assignment_exercises.count %></div>

<div id="question_outer">
  <%= render "question", student_exercise: @student_exercise %>

  <%= form_for(@student_exercise, 
               url: terp_save_free_response_path(terp_id: params[:terp_id], 
                                                 student_exercise_id: @student_exercise.id)) do |f| %>

    <%= f.text_area :free_response, rows: 3, style: "width: 97.5%; margin-top:10px" %>
    <div class='field_help'>Think about the question and enter your best guess. <%= link_to_help 'terp_free_response', "", {:title => 'Why are free responses useful?', :width => '500', :height => '400'} %> </div>

    <div class='fixed-right-button'>
        <%= f.submit "Next >", :name => "save_and_lock", :class => 'link_button' %>
    </div>

  <% end %>
</div>
